/# locals: (antenne:, collection_name:)

.fr-grid-row.fr-grid-row--gutters
  .fr-col-12
    .fr-card
      .fr-card__header.fr-px-4w.fr-py-2w{ class: "card--antenne-#{collection_name}" }
        %h3.fr-card__title
          = link_to antenne.name, admin_antenne_path(antenne)
      .fr-card__body
        .fr-card__content.fr-py-0
          .fr-card__desc
            .fr-grid-row
              .fr-col-6
                %ul.list-unstyled.card-expert__list
                  %li= t('.creation_date', date: I18n.l(antenne.created_at.to_date, format: :long))
                  - if antenne.parent_antenne.present?
                    %li
                      %span.picto.ri-government-line{ 'aria-hidden': 'true' }
                      = "#{Antenne.human_attribute_name(:parent_antenne)} : #{antenne.parent_antenne.name}"
                  %li
                    %span.picto.ri-government-fill{ 'aria-hidden': 'true' }
                    = "#{Antenne.human_attribute_name(:institution)} : #{antenne.institution.name}"
              .fr-col-6
                - antenne.managers.each do |manager|
                  %ul.list-unstyled.card-expert__list
                    %li
                      %span.picto.ri-nurse-fill{ 'aria-hidden': 'true' }
                      = t('.manager_name', name: manager.full_name)
                    - if manager.job.present?
                      %li
                        %span.picto.ri-contacts-book-fill{ 'aria-hidden': 'true' }
                        = manager.job
                    - if manager.phone_number.present?
                      %li
                        %span.picto.ri-phone-fill{ 'aria-hidden': 'true' }
                        = link_to(manager.phone_number, "tel:#{manager.phone_number}")
                    %li
                      %span.picto.ri-mail-fill{ 'aria-hidden': 'true' }
                      = mail_to manager.email, manager.email, class: 'break-word'
        .fr-card__footer.fr-pb-1w
          .fr-tags-group
            - rate_attribute = collection_attributes(collection_name)[:rate]
            - count_attribute = collection_attributes(collection_name)[:count]
            - total_attribute = collection_attributes(collection_name)[:total_count]
            .fr-tag
              %span
                %b= antenne.public_send(total_attribute)
                = Antenne.human_attribute_name(total_attribute, count: 2)
            .fr-tag
              %span
                %b= antenne.public_send(count_attribute)
                = Antenne.human_attribute_name(count_attribute)
            .fr-tag
              %span
                %b= number_to_percentage(100 * antenne.public_send(rate_attribute), precision: 0)
                = Antenne.human_attribute_name(rate_attribute)

