/# locals: (antennes:, collection_name:)

= form_with url: request.path, method: :get, local: true, class: 'fr-mb-2w' do |f|
  .fr-grid-row.fr-grid-row--gutters
    - options = { include_blank: t('all.feminine'), class: 'fr-select' }
    .fr-col-md-6.fr-col-12
      = f.label :region_code, t('attributes.region'), class: 'fr-label'
      = f.select(:region_code,
        options_for_select(possible_territories_options, index_search_params[:region_code]),
        options.dup, { class: 'fr-select' })
    .fr-col-md-6.fr-col-12
      = f.label :institution_id, t('attributes.institution'), class: 'fr-label'
      = f.select(:institution_id, options_for_select(Institution.active.order(:name).pluck(:name, :id), index_search_params[:institution_id]),
        options.dup, { class: 'fr-select' })

  .fr-grid-row.fr-grid-row--gutters
    .fr-col-md-6.fr-col-12
      %p= collection_count antennes
    .fr-col-md-6.fr-col-12.text-right
      - if index_search_params.present?
        = link_to t('clear_search'), request.fullpath.split('?').first + "?reset_query=true", id: 'clear-search', class: 'fr-btn fr-btn--tertiary-no-outline'
      = f.submit t('search'), class: 'fr-btn', title: t('search')

.fr-notice.fr-notice--info.fr-mb-2w
  .fr-container
    .fr-notice__body
      .fr-notice__desc
        = t(collection_name, scope: [:monitoring, :antennes, :instructions])
