/# locals: (antenne:)

.fr-tag
  %span
    %b= antenne.received_matches_count
    = Antenne.human_attribute_name(:received_matches, count: 2).downcase
.fr-tag
  %span
    %b= antenne.done_count
    = Antenne.human_attribute_name(:done_count)
.fr-tag.tag--collection-tinted
  %span
    = Antenne.human_attribute_name(:done_rate)
    %b= number_to_percentage(100 * antenne.done_rate, precision: 0)
