.field
  = label_tag t('.postal_code')
  = text_field_tag :postal_code, '', required: required, pattern: '[0-9]{5}'
.field
  = label_tag do
    = t('.city')
    .ui.loader.inline.mini#city-loader
  = select_tag :insee_code, raw("<option></option>"), required: required, class: 'ui fluid dropdown selection'

:javascript
  $("input[name='postal_code']").keyup( function() {
    if ($(this).val().length === 5) {
      $('#city-loader').addClass('active')
      Rails.ajax({
        url: '#{find_cities_communes_path}',
        type: "get",
        data: 'postal_code=' + $(this).val(),
        success: function() {
          $('#city-loader').removeClass('active')
        }
      })
    }
  })
