.ui.two.fields#insee-code-field
  .three.wide.field
    = label_tag t('.postal_code')
    = text_field_tag :postal_code, '', name: nil, required: required, pattern: '[0-9]{5}', oninput: "loadInseeCodes(event)"
  .thirteen.wide.field
    = label_tag do
      = t('.city')
      .ui.loader.inline.mini#city-loader
    = select_tag :insee_code, [], required: required, class: 'ui fluid dropdown selection'

:javascript
  function loadInseeCodes(event) {
    if (!event.target.validity.valid) {
      return
    }

    var container = event.target.closest('#insee-code-field')
    var loader = container.querySelector('#city-loader')
    var select = container.querySelector('select#insee_code')

    loader.classList.add('active');

    var url = `https://api-adresse.data.gouv.fr/search/?type=municipality&q=${event.target.value}`;
    var request = new XMLHttpRequest();
    request.open('GET', url);
    request.addEventListener('load', function () {
      loader.classList.remove('active')
      select.length = 0
      var json = JSON.parse(this.response)
      var cities = json['features']
      cities.forEach(hash => select.add(new Option(hash['properties']['name'], hash['properties']['citycode'])))
    });
    request.send();
  }
