.ui.two.fields
  .three.wide.field
    = label_tag t('.postal_code')
    = text_field_tag :postal_code, '', required: required, pattern: '[0-9]{5}'
  .thirteen.wide.field
    = label_tag do
      = t('.city')
      .ui.loader.inline.mini#city-loader
    = select_tag :insee_code, raw("<option></option>"), required: required, class: 'ui fluid dropdown selection'

:javascript
  $("input[name='postal_code']").keyup( function() {
    if ($(this).val().length === 5) {
      $('#city-loader').addClass('active')
      Rails.ajax({
        url: '#{find_cities_communes_path}',
        type: "get",
        data: 'postal_code=' + $(this).val(),
        success: function(result) {
          $('#city-loader').removeClass('active')
          var $el = $("select[name='insee_code']").first();
          $el.empty();
          $.each(result, function(key,value) {
            $el.append($("<option></option>").attr("value", value['citycode']).text(value['name']))
          })
        }
      })
    }
  })
