- meta title: 'Nouveau diagnostic'

= render partial: 'steps', locals: { current_step: 1 }

.diagnosis-step1
  .ui.segment.shadow-less.dimmable{ ':class' => '{ dimmed: isLoading }' }
    .ui.simple.inverted.dimmer
      .ui.text.loader
        %template{'v-if' => 'companyFormDisplayed'}= "Recherche de l'entreprise"
        %template{'v-if' => 'companyInfoDisplayed'}= 'Sauvegarde en cours'

    %template{'v-if' => 'companyFormDisplayed'}
      %form.ui.form.company-siret-form{'v-on:submit.prevent' => "submitSelectCompany('#{search_by_siret_api_facilities_path}')", ':class' => '{ error: formHasError }'}
        .inline.fields.no-margin
          .field
            .ui.labeled.input
              %label.ui.label{for: 'company-siret'}= t('activerecord.attributes.facility.siret')
              %input.company-siret{type: 'text', name: 'siret', 'v-model' => 'siret', pattern: Facility::NUMBER_PATTERN, required: true}
          %button.ui.teal.labeled.icon.button
            = t('search')
            %i.search.icon
        %template{'v-if' => 'formHasError'}
          .ui.error.message
            .header= 'Entreprise non trouvée !'
            %p= 'Êtes-vous sûr(e) de son numéro SIRET ?'

    %template{'v-if' => 'companyInfoDisplayed'}
      %input{type: 'hidden', name: 'visit[siret]', pattern: Facility::NUMBER_PATTERN, required: true}
      %p= "#{t('activerecord.attributes.company.name')} : {{ companyName }}"
      %p= 'Localisation : {{ facilityLocation }}'
      %button.ui.teal.labeled.icon.mini.button{'@click' => 'displayCompanyForm'}
        = t('edit')
        %i.pencil.icon

  %button.ui.teal.right.labeled.icon.button.right.floated{'@click' => "saveAndGoToNextStep('#{api_diagnoses_path}')", ':class' => '{ disabled: nextStepButtonDisabled }'}
    = 'Etape suivante'
    %i.arrow.right.icon

= javascript_pack_tag 'diagnosis/selectCompany'
