- meta title: t('.title')

= render partial: 'steps', locals: { current_step: 1 }

.diagnosis-step1
  .ui.segment.shadow-less.dimmable{ ':class' => '{ dimmed: isLoading }' }
    .ui.simple.inverted.dimmer
      .ui.text.loader
        %template{'v-if' => 'companyFormDisplayed'}= t('.search_company')
        %template{'v-if' => 'companyInfoDisplayed'}= t('save_in_progress')

    %template{'v-if' => 'companyFormDisplayed'}
      %form.ui.form.company-siret-form{'v-on:submit.prevent' => "submitSelectCompany('#{search_by_siret_api_facilities_path}')", ':class' => '{ error: formHasError }'}
        .inline.fields.no-margin
          .field
            .ui.labeled.input
              %label.ui.label{for: 'company-siret'}= t('activerecord.attributes.facility.siret')
              %input.company-siret{type: 'text', name: 'siret', 'v-model' => 'siret', pattern: Facility::NUMBER_PATTERN, required: true}
          %button.ui.teal.labeled.icon.button
            = t('search')
            %i.search.icon
        %template{'v-if' => 'formHasError'}
          .ui.error.message
            .header= t('.siret_error_title')
            %p= t('.siret_error_text')

    %template{'v-if' => 'companyInfoDisplayed'}
      %p= "#{t('activerecord.attributes.company.name')} : {{ companyName }}"
      %p= "#{t('.location')} : {{ facilityLocation }}"
      %button.ui.teal.labeled.icon.mini.button{'@click' => 'displayCompanyForm'}
        = t('edit')
        %i.pencil.icon

  %button.ui.teal.right.labeled.icon.button.right.floated{'@click' => "saveAndGoToNextStep('#{api_diagnoses_path}')", ':class' => '{ disabled: nextStepButtonDisabled }'}
    = t('next_step')
    %i.arrow.right.icon

= javascript_pack_tag 'diagnosis/selectCompany'
