%table.ui.definition.celled.table
  %thead
    %tr
      %th
      %th= Antenne.human_attribute_name(:intervention_zone)
  %tbody
    - antennes.each do |antenne|
      %tr
        - highlighted_ids = flash[:table_highlighted_ids]
        %td{ class: ('left marked blue' if highlighted_ids&.include?(antenne.id)) }
          = antenne.name
        %td
          %ul
            - summary = antenne.intervention_zone_summary
            - summary[:territories].each do |hash|
              %li #{hash[:territory].name} (#{hash[:included]})
            - if summary[:other] > 0
              %li #{I18n.t('other')} (#{summary[:other]})
  %tfoot.full-width
    %tr
      %th
      %th
        %a.ui.left.floated.small.labeled.icon.button{ href: antennes_institution_path(format: 'csv') }
          %i.download.icon
          = t('export')
        .ui.left.floated.small.labeled.icon.button.popup-click
          %i.upload.icon
          = t('import')
        .ui.popup
          = form_with url: import_antennes_institution_path, local: true, class: 'ui form' do |f|
            .ui.inline.field
              = f.file_field :file, accept: 'text/csv', required: true
            = f.submit t('submit'), class: 'ui right floated button'
