%dialog.fr-modal{ id: "modal-coverage-#{institution_subject.id}", 'aria-labelledby': "modal-coverage-#{institution_subject.id}-title", role: 'dialog' }
  .fr-container.fr-container--fluid.fr-container-md
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-8.fr-col-lg-6
        .fr-modal__body.text-left
          .fr-modal__header
            %button.fr-btn--close.fr-btn{ 'aria-controls': "modal-coverage-#{institution_subject.id}", title: t('navbar.close') }
              = t('navbar.close')
          .fr-modal__content
            %h1.fr-modal__title{ id: "modal-coverage-#{institution_subject.id}-title" }
              = institution_subject.subject.label
            %hr
            %div.fr-mb-2w
              - if referencement_coverage[:coverage].present?
                %span.bold= [t('activerecord.attributes.referencement_coverage.coverage'), ':'].join(' ')
                = t(referencement_coverage[:coverage], scope: 'activerecord.attributes.referencement_coverage/coverage.long')
            %div.fr-mb-2w
              %span.bold= [t('activerecord.attributes.referencement_coverage.anomalie'), ':'].join(' ')
              = t(referencement_coverage[:anomalie], scope: 'activerecord.attributes.referencement_coverage/anomalie')
            - if referencement_coverage[:anomalie_details].present?
              %div
                %span.bold= [t('activerecord.attributes.referencement_coverage.anomalie_details'), ':'].join(' ')
                = build_coverage_details(referencement_coverage[:anomalie_details])
