%dialog.fr-modal{ id: "modal-coverage-#{institution_subject.id}", 'aria-labelledby': "modal-coverage-#{institution_subject.id}-title", role: 'dialog' }
  .fr-container.fr-container--fluid.fr-container-md
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-8.fr-col-lg-6
        .fr-modal__body.coverage-modal.text-left
          .fr-modal__header.fr-mb-2w
            %button.fr-btn--close.fr-btn{ 'aria-controls': "modal-coverage-#{institution_subject.id}", title: t('navbar.close') }
              = t('navbar.close')
            %div
              %h2.fr-h4.fr-m-0{ id: "modal-coverage-#{institution_subject.id}-title" }
                = t("#{referencement_coverage[:anomalie]}_html", scope: 'activerecord.attributes.referencement_coverage/anomalie_icons')
                = t(referencement_coverage[:anomalie], scope: 'activerecord.attributes.referencement_coverage/anomalie')
          .fr-modal__content
            %div.fr-mb-2w
              %p.fr-badge.fr-badge--blue-ecume= institution_subject.subject.label
              - if referencement_coverage[:coverage].present?
                %p.fr-badge.fr-badge--green-menthe.fr-mt-2w= t(referencement_coverage[:coverage], scope: 'activerecord.attributes.referencement_coverage/coverage.long')
            - if referencement_coverage[:anomalie_details].present?
              %div
                = build_coverage_details(referencement_coverage[:anomalie_details])
