- meta title: @institution.name
- content_for :header, render('header', institution: @institution)
- content_for :menu, render('menu', institution: @institution)

= render 'import_buttons'

- if @result.present?
  = render 'import_errors', result: @result

= form_with url: import_institution_users_path, local: true, class: 'ui form' do |f|
  .ui.inline.field
    = f.file_field :file, accept: 'text/csv', required: true
  = f.submit t('submit'), class: 'ui right floated button'


