- meta title: @institution.name
- content_for :header, render('header', institution: @institution)
- content_for :menu, render('menu', institution: @institution)

= render 'import_buttons'

- if @result.present?
  = render 'import_errors', result: @result

= form_with url: import_institution_users_path, local: true do |f|
  .fr-input-group.fr-mt-6w
    = f.file_field :file, accept: 'text/csv', required: true, class: ''
  = f.submit t('submit'), class: 'fr-btn'
