%h1= t('.diagnosis')
%h2= @answer.parent_question
%p= @answer.label

- if @answer.child_question
  %h3= @answer.child_question
  .ui.buttons
    - @answer.child_question.answers.each do |answer|
      = render partial: 'diagnosis/answer', locals: {is_not_first: @answer.child_question.answers.first != answer, answer: answer}
- elsif @answer.assistance
  .ui.info.message
    %p= t('.assitance_was_found')
  %p= simple_format @answer.assistance.description
- else
  .ui.warning.message
    %p= t('.no_assitance_found')