- meta title: t('.title')

%h1= t('.title')

- if @visit.diagnoses.present?
  %table.ui.celled.table.ui.selectable
    %tbody
      - @visit.diagnoses.each do |diagnosis|
        %tr
          %td
            = link_to visit_diagnosis_path(visit_id: diagnosis.visit_id, id: diagnosis.id) do
              .full-width
                = t('.diagnosis_date', date: diagnosis.creation_date_localized)

= link_to new_visit_diagnosis_path(visit_id: @visit.id), class: 'ui medium green button' do
  = semantic_icon('sitemap')
  = t('.create_new_diagnosis')