- meta title: t('.diagnosis_date', date: @diagnosis.creation_date_localized)

%h1= t('.identified_needs', count: @diagnosis.diagnosed_needs.count)
%p= t('.diagnosis_date', date: @diagnosis.creation_date_localized)
#content-form
- @diagnosis.diagnosed_needs.each do |diagnosed_need|
  %h2= diagnosed_need.question_label
  - assistances = diagnosed_need.question.assistances.of_location(@visit.location) # TODO: Fix of_location scope so that it returns x assistances instead of x*y (with y = experts count)
  .ui.info.message
    %p= t('.assistances_found', count: assistances.count)

  - if assistances.count > 1
    - if @visit.visitee
      = assistances_contact_all_button(visit: @visit, question: diagnosed_need.question, assistances: assistances)
    - else
      = link_to t('assistance.assistance.contact_all_with_one_email'), edit_visitee_visit_path(@visit, question_id: diagnosed_need.question.id), class: 'ui button green'

  - assistances.each do |assistance|
    = render partial: 'assistance/assistance', locals: { assistance: assistance, question: diagnosed_need.question, diagnosis_id: @diagnosis.id, visit: @visit }
:javascript
  launchData = {
    diagnosis_id: "#{ @diagnosis.id }",
    locales: {
     description: "#{ I18n.t('diagnosis.show.description') }",
     save_description: "#{ I18n.t('diagnosis.show.save_description') }",
     save_loader: "#{ I18n.t('diagnosis.show.save_loader') }"
     }
  };

= javascript_pack_tag 'diagnosis/diagnosis_main'