%h1= t('.identified_needs', count: @diagnosis.diagnosed_needs.count)
%p= t('.diagnosis_date', date: I18n.l(@diagnosis.created_at.to_date))
- @diagnosis.diagnosed_needs.each do |diagnosed_need|

  %h2= diagnosed_need.question_label
  .ui.info.message
    %p= t('diagnosis.question.assitances_count_found', count: diagnosed_need.question.assistances.count)
  - diagnosed_need.question.assistances.each do |assistance|
    = render partial: 'assistance/assistance', locals: {assistance: assistance, question: diagnosed_need.question, visit: @visit}