- meta title: t('.diagnosis_date', date: @diagnosis.creation_date_localized)

%h1= t('.identified_needs', count: @diagnosis.diagnosed_needs.count)
%p= t('.diagnosis_date', date: @diagnosis.creation_date_localized)

#step2-app
  %app-data-setter{ 'diagnosis-id' => @diagnosis.id, 'diagnosis-content' => @diagnosis.content }
  %content-text-area

  - categories_with_questions.each do |item|
    %h2= item[:category]
    %table.ui.celled.table
      %tbody
        - item[:questions].each do |question|
          %tr
            %td
              %label
                .full-width.clickable
                  = "#{question.id} - #{question.label}"
            %td.collapsing
              .ui.fitted.checkbox
                %input{ type: 'checkbox', value: 'on'}
                %label

  %next-step-button

= javascript_pack_tag 'step-2/step2App'