%h2= t('.resend_confirmation_instructions')

- url = confirmation_path(resource_name)
= form_for resource, as: resource_name, url: url, html: { method: :post, class: 'ui form' } do |f|
  = devise_error_messages!
  .field
    = f.label :email
    - email_value = resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email
    = f.email_field :email, autofocus: true, value: email_value
  .actions
    = f.submit t('.resend_confirmation_instructions'), class: 'ui button green'

= render 'devise/shared/links'
