.fr-container
  .fr-grid_row
    %h1.fr-h4= t('.many_users_find')
    = render 'annuaire/base/search'
    .fr-col
      .fr-table.many-users
        %table
          %thead
            %tr
              %th{ scope: 'col' }= t('attributes.full_name')
              %th{ scope: 'col' }= t('attributes.antenne')
              %th{ scope: 'col' }= t('attributes.experts.other')

          %tbody
            - @advisors.each do |advisor|
              %tr
                %td
                  = link_to advisor.full_name, institution_users_path(institution_slug: advisor.institution,
                  antenne_id: advisor.antenne.id,
                  advisor: advisor.id,
                  advisor_search: params[:advisor_search])
                %td= advisor.antenne.name
                %td= advisor.experts.map(&:full_name).to_sentence
    = link_to t('back'), institutions_path, class: 'fr-btn fr-btn--secondary', data: { turbolinks: false }
