%h1= institution.name

%nav.rf-breadcrumb{ 'aria-label': t('shared.breadcrumb.you_are_here'), role: 'navigation' }
  %button.rf-breadcrumb__button{ 'aria-controls': 'breadcrumb-189', 'aria-expanded': 'false' }
  .rf-collapse#breadcrumb-189
    %ol.rf-breadcrumb__list
      %li
        = link_to Institution.model_name.human.pluralize, institutions_path, class: 'rf-breadcrumb__link'
      - if local_assigns[:antenne].present?
        %li
          = link_to institution.name, institution, class: 'rf-breadcrumb__link'
        - if local_assigns[:antenne].present?
          %li
            %a.rf-breadcrumb__link{ 'aria-current': 'page' }
              = local_assigns[:antenne]
      - else
        %li
          %a.rf-breadcrumb__link{ 'aria-current': 'page' }
            = institution.name
