- unless result.success?
  .fr-alert.fr-alert--error.fr-mb-2w{ role: "alert" }
    %p.fr-alert__title= t('.import_failed')
    - if result.import_errors.present?
      %ul
        - result.import_errors.each do |message|
          %li= message
    - if result.header_errors.present?
      %p= t(".unknown_headers", count: result.header_errors.count)
      %ul
        - result.header_errors.each do |error|
          %li= error.message

- if result.rows.present?
  %table.fr-table
    %thead
      %tr
        %th
        - result.rows.first.each_key do |header|
          %th= header
    %tbody
      - result.rows.each_with_index do |row, index|
        - object = result.objects[index]
        - next if object.nil?
        %tr
          - has_errors = object.errors.present?
          %td{ rowspan: has_errors ? 2 : 1 }
            #{index + 1}
          - row.each_value do |value|
            %td= value
        - if has_errors
          %tr.red
            %td.rowspanned
            %td{ colspan: row.count + 1 }
              = simple_format(nested_errors_messages(object))
