%h2 #{t('edit')} #{resource.model_name.human}

- url = registration_path(resource_name)
= form_for resource, as: resource_name, url: url, html: { method: :put, class: 'ui form' } do |f|
  = devise_error_messages!
  .field
    = f.label :email
    = f.email_field :email, autofocus: true, disabled: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      = t('.waiting_confirmation_for', unconfirmed_email: resource.unconfirmed_email)

  - %i[full_name institution role phone_number].each do |attribute|
    .field
      = f.label attribute
      = f.text_field attribute

  .field
    = f.label :password
    - minimum_password_length = Devise.password_length.min
    - if minimum_password_length
      %em= t('devise.password_minimum_characters', count: minimum_password_length)
    %i= t('.leave_blank_to_change_it')
    = f.password_field :password, autocomplete: 'off', pattern: ".{#{minimum_password_length},}"
  .field
    = f.label :password_confirmation
    %i= t('.leave_blank_to_change_it')
    = f.password_field :password_confirmation, autocomplete: 'off'
  .field
    = f.label :current_password
    %i= t('.we_need_current_password')
    = f.password_field :current_password, autocomplete: 'off'
  .actions
    = f.submit t('update'), class: 'ui green button'

.devise-links
  = link_to t('back'), :back
