%h2= t('sign_up')

- form_default_values_for_resource(resource)

= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'ui form' } do |f|
  = devise_error_messages!
  .field.required
    = f.label :first_name
    = f.text_field :first_name, autofocus: true, placeholder: Faker::Name.first_name, required: true
  .field.required
    = f.label :last_name
    = f.text_field :last_name, placeholder: Faker::Name.last_name, required: true
  .field.required
    = f.label :institution
    = f.text_field :institution, placeholder: Faker::Company.name, required: true
  .field.required
    = f.label :role
    = f.text_field :role, placeholder: Faker::Job.title, required: true
  .field.required
    = f.label :phone_number
    = f.text_field :phone_number, placeholder: Faker::PhoneNumber.phone_number, required: true
  .field.required
    = f.label :email
    = f.email_field :email, placeholder: Faker::Internet.email, required: true
  .field.required
    = f.label :password
    - minimum_password_length = Devise.password_length.min
    - if minimum_password_length
      %em= t('devise.password_minimum_characters', count: minimum_password_length)
    = f.password_field :password, autocomplete: 'off', pattern: ".{#{minimum_password_length},}", required: true
  .field.required
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: 'off', required: true
  .actions
    = f.submit t('sign_up'), class: 'ui button green'

= render 'devise/shared/links'
