#solicitation-form
  %h2.section__title= t('.title')
  = form_with(model: @solicitation, url: solicitation_path, scope: 'solicitation', method: :post, html: { honeypot: true }) do |f|
    - @solicitation.form_info.each do |k,v|
      = f.hidden_field "form_info[#{k}]", value: v
    .form__group
      = f.label 'description', t('.description.label')
      - example = landing.description_example.presence || t('.description.default_example')
      = f.text_area 'description', placeholder: t('.description.placeholder', example: example), rows: 6, required: true
    .form__group
      .form__group
        = f.label 'siret', t('.siret.label')
        = f.text_field 'siret', placeholder: t('.siret.placeholder'), required: false
      .form__group
        = f.label 'phone_number', t('.phone_number.label')
        = f.telephone_field 'phone_number', placeholder: t('.phone_number.placeholder'), required: true
      .form__group
        = f.label 'email', t('.email.label')
        = f.email_field 'email', placeholder: t('.email.placeholder'), required: true
    .form__group
      = render 'flashes'
      = f.submit t('.button.title'), class: 'button large'
  %p= t('.experimental_html')
