- unless in_iframe?
  - @landing_emphasis.each do |landing|
    .block-link
      .emphasis.notification.warning
        .emphasis-header
          - if landing.main_logo
            = display_image(name: landing.main_logo)
          = simple_format("#{landing.home_title} : ", {}, wrapper_tag: 'h2')
        = simple_format(landing.home_description, {}, wrapper_tag: 'span')
        #button-discover= link_to t('.discover_measures'), landing, class: 'button-outline small primary'

- unless in_iframe?
  %h2.card-section-header= t('you_wish')

.landing-cards-container
  = render partial: 'index_landing_card', collection: landings, as: :landing

%p.text-center.contact-us
  %b= t('.other_questions')
  %b= link_to t('.contact_us'), landing_path({ slug: 'contactez-nous', institution: params[:institution].presence })
