%h1.section__title
  = simple_format(landing.title, {}, wrapper_tag: 'span')
%h3.section__subtitle
  = simple_format(landing.subtitle, {}, wrapper_tag: 'span')

- if landing.featured_on_home
  - if landing_topics.present?
    %h3
      = t('.exemple_topics')
    .row
      = render partial: 'landing_topics/landing_topic', collection: landing_topics
    %p
      = t('.not_in_topics')
      = link_to t('.not_in_topics_more'), root_path(links_tracking_params)

- else
  %p.text-center
    = link_to root_path(links_tracking_params), class: 'button primary large' do
      = landing.button
