%h1.section__title
  = simple_format(landing.title, {}, wrapper_tag: 'span')
%h3.section__subtitle
  = simple_format(landing.subtitle, {}, wrapper_tag: 'span')

- if landing.featured_on_home
  - cache(landing) do
    - if landing.landing_topics.present?
      %h3
        = t('.exemple_topics')
      .row
        = render partial: 'landing_topics/landing_topic', collection: landing.landing_topics.ordered_for_landing
      %p
        = t('.not_in_topics')
        = link_to t('.not_in_topics_more'), root_path

- else
  %p.text-center
    = link_to url_to_root, class: 'button primary large' do
      = landing.button
