%h2.section__title{ class: "#{'text-left' unless in_iframe?}" }= t('.title')

- if in_iframe?
  %p.section__subtitle
    = t('.description', institution: landing.institution.name)

  :javascript
    _paq.push(['trackEvent', 'contact-formulaire-partenaire', "success"]);

- else
  %p.section__subtitle{ class: "#{'text-left' unless in_iframe?}" }
    = (landing.thank_you_message.presence || t('.default_thank_you_message')).html_safe
  %p= t('.place_des_entreprises_team')

  :javascript
    _paq.push(['trackEvent', 'contact-entreprise', "success"]);
