%style= landing.custom_css

= render 'hero' unless in_iframe?

= render 'shared/flashes_pages'

- unless in_iframe?
  %section.section.section-white#section-details
    .container.text-center
      = render 'show_landing_details', landing: landing

%section.section.section-grey#section-exemples
  .container
    = render 'show_landing_topics', landing: landing

- if landing.landing_options.empty?
  %section.section.section-white.text-center
    %h2
      = link_to t('.submit_request'), new_solicitation_landing_path, class: 'button blue'

- unless in_iframe?
  %section.section.section-white
    .container#container-newsletter
      = render 'newsletter'

  %section.section.section-white#section-institutions
    .container
      = render 'show_landing_institutions', landing: landing
