%h2.section__title= t('.title')
.row.text-center
  .step
    = image_tag 'landing/creer-blue.svg', height: 96
    %h3= '1'
    %h5= t('.label_1_html')
  .step
    = image_tag 'landing/gerer-blue.svg', height: 96
    %h3= '2'
    %h5= t('.label_2_html')
  .step
    = image_tag 'landing/collaborer-blue.svg', height: 96
    %h3= '3'
    %h5= t('.label_3_html')
