%h2.section__title= t('.title')
.row
  .step
    = image_tag 'landing/creer-blue.svg', height: 96
    %p.step__label= t('.label_1')
  .step
    = image_tag 'landing/gerer-blue.svg', height: 96
    %p.step__label= t('.label_2')
  .step
    = image_tag 'landing/collaborer-blue.svg', height: 96
    %p.step__label= t('.label_3')
