%h2.section__title= t('.title')
.row.text-center
  .step
    %h3
      = '1.'
      = image_tag 'landing/creer-blue.svg', height: 96
    %h5= t('.label_1_html')
  .step
    %h3
      = '2.'
      = image_tag 'landing/gerer-blue.svg', height: 96
    %h5= t('.label_2_html')
  .step
    %h3
      = '3.'
      = image_tag 'landing/collaborer-blue.svg', height: 96
    %h5= t('.label_3_html')
