- meta title: t('.meta.title'), description: t('.meta.description')

.heading-background
  .hero
    .hero__container
      %h1.hero__title.hero__white-background= t('.hero.title')
      %p.hero__subtitle.hero__white-background= t('.hero.subtitle')

  %section.section.section-grey#featured-landings
    .container
      %h3.section__subtitle.white-on-dark= t('.featured_landings.title')
      - @featured_landings.each_slice(4) do |landings|
        .row
          = render landings

      %p.text-center.white-on-dark
        = t('.featured_landings.other_questions')
        = link_to "Contactez-nous directement", featured_landing_path(slug: 'contactez-nous')

%section.section.section-white#steps
  .container
    %h2.section__title= t('.steps.title')
    .row
      .step
        = image_tag 'landing/creer-blue.svg', height: 96
        %p.step__label= t('.steps.label_1')
      .step
        = image_tag 'landing/gerer-blue.svg', height: 96
        %p.step__label= t('.steps.label_2')
      .step
        = image_tag 'landing/collaborer-blue.svg', height: 96
        %p.step__label= t('.steps.label_3')

    = render partial: 'stats', locals: { stats: @stats }

%section.section.section-grey#institutions
  .container
    %h2.section__title
      = t('.institutions.title')
    .logo-list
      = all_institutions_images

%section.section.section-white#testimonials
  .container
    %h2.section__title
      Témoignages
    .grid
      .card
        .card__content
          %p.testimony
            %q
              Place des entreprises est très réactive et pratique ! Ils nous ont permis une mise en relation rapide avec les bonnes personnes quand nous en avions besoin.
              %br
              Nous avons donc pu clôturer notre dossier dans les délais.
        .card__extra
          .article__author
            Clément Francomme
            %br
            %strong CEO de UTOCAT
      .card
        .card__content
          %p.testimony
            %q
              J’ai découvert qu’il existait des partenaires publics experts de mes besoins d’entreprise. Ils m’ont accompagné sur des questions de ressources humaines, de développement commercial et de réglementation.
              %br
              Ils font un super job.
        .card__extra
          .article__author
            Christophe B.
            %br
            %strong Dirigeant de SOS Impact 02


