- meta title: t('.meta.title'), description: t('.meta.description')

= render 'hero'

%section.section.section-white#description
  .container.container-medium
    .lead-text
      = t('.long_description_html')

%section.section.section-grey#steps
  .container
    = render 'steps'

%section.section.section-color#featured-landings
  .container
    = render 'landings', landings: @featured_landings

%section.section.section-white#institutions
  .container
    = render 'institutions'

%section.section.section-grey#testimonials
  .container
    = render 'testimonials'

%section.section.section-grey#stats
  .container.container-medium
    = render 'stats/ministats'


