:ruby
  meta_title = @landing.meta_title.presence || @landing.title
  meta_description = @landing.meta_description.presence || @landing.subtitle
  meta title: meta_title, description: meta_description
  landing_option = @solicitation.landing_option

%style= @landing.custom_css

- unless in_iframe?
  %section.section.section-white.landing
    .container
      .landing-header
        .title
          %h1= landing_option&.form_title.presence || @landing.title
          %p.subtitle= @landing.subtitle

  = render 'pages/breadcrumbs', landing: @landing, landing_option: landing_option

- if @solicitation.persisted?
  %section.section.section-grey#section-thankyou
    .container.container-medium
      = render 'new_solicitation_thank_you', landing: @landing
  - unless in_iframe?
    %section.section.section-white#container-newsletter
      .container
        = render 'newsletter', email: @solicitation.email

- if @solicitation.new_record?
  %section.section.section-grey.landing#section-formulaire
    .container
      - unless in_iframe?
        .notification.success.delay
          %span
            = t('.five_days_contact_html')
          .asterisk
            = t('.five_days_asterisk')
      .solicitation-form{ class: "#{'in-iframe' if in_iframe?}" }
        = render 'new_solicitation_form', landing: @landing, solicitation: @solicitation, path: create_solicitation_landing_path
        .description
          %div= landing_option&.form_description&.html_safe
          .explanation
            %div= landing_option&.description_explanation&.html_safe

  - unless in_iframe?
    %section.section.section-white.landing
      = render 'pages/how_it_works'

    %section.section.section-grey
      .container
        = render 'show_landing_institutions', landing: @landing
