:ruby
  meta title: @landing.meta_title, description: @landing.meta_description

- cache_unless(flash.present?, [@landing, in_iframe?]) do
  %style= @landing.custom_css

  - unless in_iframe?
    %section.section.section-white.landing.less-padding
      .container
        .row.landing-header
          .title
            %h1= @landing.title
            %p.subtitle= @landing.subtitle
          .image
            = image_tag('home.png', alt: "")

    = render 'pages/breadcrumbs', landing: @landing

  %section.section.section-grey#section-exemples
    .container
      = render 'show_landing_topics', landing: @landing

  - unless in_iframe?
    %section.section.section-light-grey.landing
      = render 'pages/how_it_works'

    %section.section.section-white
      .container
        = render 'show_landing_institutions', landing: @landing
