- cache_unless(flash.present?, [@landing, in_iframe?]) do
  :ruby
    meta_title = @landing.meta_title.presence || @landing.title
    meta_description = @landing.meta_description.presence || @landing.subtitle
    meta title: meta_title, description: meta_description

  %style= @landing.custom_css

  - unless in_iframe?
    %section.section.section-white.landing
      .container.container
        %h1= @landing.home_title
        %p.subtitle= @landing.subtitle

    = render 'pages/breadcrumbs', landing: @landing

  %section.section.section-grey#section-exemples
    .container
      = render 'show_landing_topics', landing: @landing

  - unless in_iframe?
    %section.section.section-light-grey.landing
      = render 'pages/how_it_works'

    %section.section.section-white
      .container
        = render 'show_landing_institutions', landing: @landing
