- cache @landing do
  :ruby
    meta_title = @landing.meta_title.presence || @landing.title
    meta_description = @landing.meta_description.presence || @landing.subtitle
    meta title: meta_title, description: meta_description

  = render 'hero'

  - if @solicitation.persisted?
    %section.section.section-grey#section-thankyou
      .container.container-medium
        = render 'thank_you', landing: @landing

  - if @solicitation.new_record?
    %section.section.section-white#section-details
      .container.text-center
        = render 'landing_details', landing: @landing

  %section.section-white#section-newsletter-covid
    .container.container-medium
      %iframe.mj-w-res-iframe{ :frameborder => "0", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://app.mailjet.com/widget/iframe/2ogL/pTA", :width => "100%" }

  - if @solicitation.new_record?
    %section.section.section-grey#section-exemples
      .container.container-medium
        = render 'landing_topics/landing_topics', landing: @landing
    %section.section.section-white#section-formulaire
      .container.container-small
        = render 'form', landing: @landing, solicitation: @solicitation

%section.section.section-grey#stats
  .container.container-medium
    - cache('ministats', expires_in: 1.hour) do
      = render 'stats/ministats'

%script{ :src => "https://app.mailjet.com/statics/js/iframeResizer.min.js", :type => "text/javascript" }
