:ruby
  meta_title = @landing.meta_title.presence || @landing.title
  meta_description = @landing.meta_description.presence || @landing.subtitle
  meta title: meta_title, description: meta_description

= render 'hero'

%section.section.section-white#landing-topics
  .container.text-center
    = render 'landing_details', landing: @landing

%section.section.section-grey
  .container
    = render 'landing_topics/example_topics', landing: @landing, landing_topics: @landing_topics, links_tracking_params: @links_tracking_params

%section.section.section-white
  .container.container-small
    = render 'solicitations/form', description_example: @landing.description_example

%section.section.section-grey#stats
  .container.container-medium
    = render 'stats/ministats'
