- meta title: @landing.meta_title || @landing.title, description: @landing.meta_description || @landing.subtitle

= render 'hero'

%section.section.section-white#landing-topics
  .container
    = render 'landing_details', landing: @landing, url_to_root: @url_to_root

- if @landing.featured_on_home
  %section.section.section-grey#steps
    .container
      = render 'steps'

  %section.section.section-white
    .container.container-small
      = render 'solicitations/form', description_example: @landing.description_example

- if @landing.logos.present?
  %section.section.section-white#institutions
    .container
      %h2.section__title
        = t('.institutions.title')
      .logo-list
        - @landing.logos.split(' ').each do |logo_slug|
          = institution_image(logo_slug)

%section.section.section-grey#stats
  .container.container-medium
    = render 'stats/ministats'
