:ruby
  meta title: @landing.meta_title, description: @landing.meta_description

- cache_unless(flash.present?, @landing) do

  - unless @landing.iframe?
    %section.section.section-white.landing.less-padding
      .container
        .row.landing-header
          .title
            .heading
              - if @landing.main_logo
                = display_image(name: @landing.main_logo)
              %h1= @landing.title
            %p.subtitle= @landing.subtitle
            .links
              = render 'pages/cta_button'
          .image
            = image_tag('home.png', alt: "")

  - unless @landing.iframe?
    #scroll-section

  - if lookup_context.template_exists?("#{@landing.layout}", "landings", true)
    = render @landing.layout, landing_themes: @landing.landing_themes, landing: @landing

  - else
    %section.section.section-grey#section-thematiques
      .container
        = render 'multiple_steps', landing_themes: @landing_themes, landing: @landing

  - unless @landing.iframe?
    %section.section.section-light-grey.landing
      = render 'pages/how_it_works'

    %section.section.section-white
      .container
        = render 'institutions', item: @landing
