.fr-container
  %h1 Antennes
  #antennes
    = render partial: "antennes/antenne", collection: @antennes

  %turbo-frame#antennes2

.fr-container.fr-mt-3w
  = form_with model: @antenne do |f|
    .fr-input-group
      = f.label :name, class: 'fr-label'
      = f.text_field :name, class: 'fr-input'

    .actions
      = f.submit t('create'), class: 'fr-btn'
