= form_with(model: solicitation, url: path, local: true, html: { honeypot: true }) do |f|
  - if solicitation.errors.present?
    = render 'matomo_company_contact_failure'
  = f.hidden_field :landing_subject_id
  = f.hidden_field :landing_id
  .form__group
    - solicitation.required_fields.each do |field|
      .form__group
        - help = t(".attributes.help.#{field}_html", default: [".attributes.help.#{field}".to_sym, ''])

        - if field == :siret
          // Duplication pour respecter l'accessibilité (id unique, field avec label...)
          = label_tag "solicitation_siret_autocomplete", t(".attributes.label.find_my_facility")
          -#
            %span= t(".attributes.help.siret_html")
            %div{ 'data-controller': "pages-siret-autocomplete" }
             %div{ data: { 'pages-siret-autocomplete-target': "field", name: "solicitation[siret]", 'assistive-hint': t(".attributes.help.siret_assistive_hint"), 'landing-theme': solicitation.landing_theme.slug } }
            = f.hidden_field :code_region, data: { 'pages-siret-autocomplete-target': 'codeRegionField', 'deployed-regions': Territory.deployed_codes_regions }
            .notification.warning.autocomplete-warning{ data: { 'pages-siret-autocomplete-target': 'indifusibleBlock' } }
              = t(".attributes.help.indiffusible_siret_html")
            .notification.warning.autocomplete-warning{ data: { 'pages-siret-autocomplete-target': 'undeployedRegionBlock' } }
              = image_tag('info-alert-orange.png', alt: '')
              = t(".attributes.help.not_in_deployed_region_html")
              = link_to t('.clic_newsletter'), '#newsletter'
          = f.text_field field, required: true, placeholder: '12345678900013', minlength: '14', maxlength: '14'
          %span= t('.no_creation_html')
        - else
          = f.label field
          - if help.present?
            %span= help
          = f.text_field field,
            placeholder: t(".attributes.placeholder.#{field}"),
            type: Solicitation::FIELD_TYPES[field],
            required: true

        .notification.error= solicitation.errors.full_messages_for(field).to_sentence
  .form__group
    = f.label 'description', t('.description')
    - if solicitation.landing_subject&.description_explanation.present?
      .explanation
        %div
          = image_tag('info-alert.png', alt: '')
          %span
            = t('.better_taking_care')
        %div= solicitation.landing_subject&.description_explanation&.html_safe
    = f.text_area 'description', placeholder: t(".attributes.placeholder.description"), rows: 6, required: true
    .notification.error= solicitation.errors.full_messages_for(:description).to_sentence
  .form__group
    = f.submit t('.button.title'), class: 'button large', data: { disable_with: t('.submit_in_progress') }
  .legal-notice
    = t('.legal_notice_html',
      mailto_link: mail_to('dpo@placedesentreprises.beta.gouv.fr', 'dpo@placedesentreprises.beta.gouv.fr', target: :_blank),
      informations: link_to('mentions d’information', mentions_d_information_url))
