- content_for :head do
  = render 'gtag_conversion'

- if in_iframe?
  .thank_you_iframe
    %h2.section__title= t('.title')

    .section__subtitle
      = t('.iframe_message_html')
    = image_tag 'logo-PDE.svg', alt: t('logos.pde')

    %section.section.section-grey
      .container
        %h2.section__subtitle= t('iframe.partners_logo')
        = render 'landings/landings/logos', landing_subject: landing_subject

- else
  %h2.section__title.text-left= t('.title')

  - if solicitation.institution
    %p.section__subtitle
      = t('.message_with_institution', institution: solicitation.institution.name)

    = render 'matomo_partner_contact'

  - else
    %p.section__subtitle.text-left
      = t('.message_html')

    = render 'matomo_company_contact_success'
