:ruby
  meta title: @landing_subject.meta_title.presence || @landing_subject.title.presence || @landing_subject.landing_theme.meta_title,
    description: @landing_subject.meta_description.presence || @landing_subject.description.presence || @landing_subject.landing_theme.meta_description

- unless in_iframe?
  %section.section.section-white.landing.less-padding
    .container
      .landing-header
        .title
          %h1= @landing_subject&.form_title.presence || @landing_subject.title
          %p.subtitle= t('landings.landings.home.answer')

= render 'pages/breadcrumbs', landing: @landing, landing_theme: @landing_subject.landing_theme, landing_subject: @landing_subject

%section.section.section-grey.landing#section-formulaire
  .container
    - unless in_iframe?
      - if @landing_subject&.form_description.present?
        .description
          %h2= t('.accompaniments')
          %div= sanitize @landing_subject&.form_description&.html_safe

      .notification.warning.contact-delay
        = image_tag('5days.png', alt: '')
        %span
          = t('.five_days_contact_html')
    .solicitation-form{ class: "#{'in-iframe' if in_iframe?}" }
      - path = solicitations_path
      = render 'solicitations/form_contact',
        landing_subject: @landing_subject,
        solicitation: @solicitation,
        path: path,
        siret: params[:siret].presence

-# %section.section.section-white.autocomplete-warning.container-newsletter#newsletter{ 'data-error': "newsletter" }
-#   .container
-#     = render 'newsletter'

- unless in_iframe?
  %section.section.section-white.landing
    = render 'pages/how_it_works'

- if !in_iframe? && @landing_subject.logos.present?
  %section.section.section-grey
    .container
      %h2.section__subtitle= t('logos.title')
      = render 'landings/landings/logos', landing_subject: @landing_subject

- if in_iframe? && @landing.display_pde_partnership_mention?
  = render 'landings/landings/pde_partnership_mention'
