:ruby
  meta title: @landing_subject.meta_title.presence || @landing_subject.title.presence || @landing_subject.landing_theme.meta_title,
    description: @landing_subject.meta_description.presence || @landing_subject.description.presence || @landing_subject.landing_theme.meta_description

%section.section.section-white.landing.less-padding
  .container
    .landing-header
      .title
        %h1= @landing_subject&.form_title.presence || @landing_subject.title
        %p.subtitle= t('landings.landings.home.answer')

= render 'pages/breadcrumbs', landing: @landing, landing_theme: @landing_subject.landing_theme, landing_subject: @landing_subject

%section.section.section-grey.multistep-form#section-formulaire
  .container
    - if @landing_subject&.form_description.present?
      .description.col-center
        %h2= t('.accompaniments')
        %div= sanitize @landing_subject&.form_description&.html_safe

      .notification.warning.contact-delay.col-center
        = image_tag('5days.png', alt: '')
        %span
          = t('.five_days_contact_html')

    %ul.steps-form
      %li.done
        %div Vos coordonnées
      %li.active
        %div Votre entreprise
      %li
        %div Votre demande

    .solicitation-form.col-center
      - path = solicitations_path
      = render 'solicitations/form_contact',
        landing_subject: @landing_subject,
        solicitation: @solicitation,
        path: path,
        siret: params[:siret].presence
    .legal-notice
      = t('landings.landing_subjects.new_solicitation_form.legal_notice_html',
        mailto_link: mail_to('dpo@placedesentreprises.beta.gouv.fr', 'dpo@placedesentreprises.beta.gouv.fr', target: :_blank),
        informations: link_to('mentions d’information', mentions_d_information_url(landing_slug: @solicitation.landing.slug)))


%section.section.section-white.landing
  = render 'pages/how_it_works'

- if @landing_subject.logos.present?
  %section.section.section-grey
    .container
      %h2.section__subtitle= t('logos.title')
      = render 'landings/landings/logos', landing_subject: @landing_subject