- title = t('.title', cooperation_name: @cooperation.name)
- cooperation_title = t('conseiller.cooperations.title', name: @cooperation.name)
- meta title: title
- content_for :head do
  - javascript_include_tag 'highcharts', data: { 'turbo-track': 'reload' }, nonce: 'true'

.fr-container
  .fr-grid-row
    .fr-col
      %h1.fr-h2
        = title
      = render 'shared/breadcrumb', pages: [{ title: cooperation_title, path: needs_conseiller_cooperations_path }], current_page: title

.fr-container
  .fr-grid-row
    = render 'stats_filters', params: @stats_params, filters: @filters, cooperation: @cooperation

.fr-container
  .fr-grid-row.fr-grid-row--gutters#stats-charts
    - @charts_names.each do |name|
      .fr-col-12.fr-mb-4w
        = turbo_frame_tag name, stats_params: @stats_params, src: load_data_conseiller_cooperations_path(chart_name: name) do
          = render 'stats/skeleton_card'
      - if name == 'solicitations_diagnoses'
        .fr-col-12.fr-mb-4w
          .fr-px-3w
            .fr-alert.fr-alert--info
              %h3.fr-alert__title= t('.decalage_alert.title')
              %p= t('.decalage_alert.description')
