- if person.present?
  %h4.ui.header
    - if prefix.present?
      .sub.header= prefix
    = person.full_name
    - if subtitle.present?
      .sub.header= subtitle

  .description
    .small.text
      %i.id.badge.outline.icon
      = person.full_role
    .small.text
      %i.mail.icon
      = mail_to person.email
    .small.text
      %i.phone.icon
      = person.phone_number
