.ui.grid
  .one.wide.row
    .column
      = person_block(expert, suffix: t('.expert_creation_date', date: I18n.l(expert.created_at.to_date, format: :long)))
.ui.grid
  .row
    - cache ["received_matches", expert, expert.received_matches] do
      -#
        TODO #1367 Here, for consistency with /besoins
        we should rely on the InvolvementConcert queries.
      .nine.wide.column
        %h5.ui.header= t('.matches_total')
        .ui.labels
          .ui.basic.label
            = expert.received_matches.count
            .detail= t('.matches_total_received')
          .ui.basic.label
            = expert.received_matches.where(status: :taking_care).count
            .detail= t('.matches_total_taken_care_of')
          .ui.basic.label
            = expert.received_matches.where(status: :done).count
            .detail= t('.matches_total_done')
          .ui.basic.label
            = expert.received_matches.where(status: :not_for_me).count
            .detail= t('.matches_total_not_for_me')
    - cache ["received_needs", expert, expert.received_needs] do
      -#
        TODO #1367 Here, for consistency with /relances/besoins,
        we should rely on the Need#reminders_to scopes  (:poke, :recall, :warn, :archive)
      .seven.wide.column
        %h5.ui.header= t('.received_needs_abandoned')
        .ui.labels
          - abandoned_count = expert.reminders_needs_to_call_back.count
          = link_to needs_reminders_expert_path(expert), class: "ui label #{abandoned_count > 0 ? 'orange' : 'basic'}" do
            = abandoned_count
            .detail{ title: t('.received_needs_abandoned_quo_not_taken_tooltip') }
              = t('.received_needs_abandoned_quo_not_taken')
          - abandoned_count = expert.needs_taking_care.diagnosis_completed.size
          = link_to needs_taking_care_reminders_expert_path(expert), class: "ui label #{abandoned_count > 0 ? 'yellow' : 'basic'}" do
            = abandoned_count
            .detail{ title: t('.received_needs_abandoned_taking_care_tooltip') }
              = t('.received_needs_abandoned_taking_care')
          - abandoned_count = expert.needs_others_taking_care.diagnosis_completed.size
          = link_to needs_taking_care_by_others_reminders_expert_path(expert), class: "ui label #{abandoned_count > 0 ? 'yellow' : 'basic'}" do
            = abandoned_count
            .detail{ title: t('.received_needs_abandoned_others_taking_care_tooltip') }
              = t('.received_needs_abandoned_others_taking_care')
