.fr-card.fr-card--no-arrow.fr-my-4w
  .fr-card__body
    %h4.fr-card__title
      = link_to expert.full_name.presence, quo_reminders_expert_path(expert), class: 'fr-card__link'
    .fr-grid-row
      .fr-col-7
        %ul.list-unstyled.card-expert__list
          %li= t('.expert_creation_date', date: I18n.l(expert.created_at.to_date, format: :long))
          - if expert.job.present?
            %li
              %span.picto.ri-contacts-book-line
              = expert.job
          - if expert.phone_number.present?
            %li
              %span.picto.ri-phone-line
              = link_to(expert.phone_number, "tel:#{expert.phone_number}")
          - if expert.email.present?
            %li
              %span.picto.ri-mail-line
              = mail_to expert.email, expert.email, class: 'break-word'
      .fr-col-5
        %ul.list-unstyled.card-expert__list
          - expert.antenne.managers.each do |manager|
            %li
              %span.picto.ri-nurse-fill
              = t('.manager_name', name: manager.full_name)
            %li
              %span.picto.ri-mail-fill
              = mail_to manager.email, manager.email, class: 'break-word'
            %li
              %span.picto.ri-phone-fill
              = link_to(manager.phone_number, "tel:#{manager.phone_number}")
    - cache ["positionning_rate", expert, expert.received_quo_matches] do
      .fr-grid-row
        .fr-col-7
          .card-expert__subtitle= t('.positionning_rate')
        .fr-col-5
          = expert_positionning_rate_tag(expert)

    - cache ["received_matches", expert, expert.received_matches] do
      .card-expert__subtitle= t('.matches_total')
      .fr-tags-group
        .fr-tag
          .bold= expert.received_matches.count
          .fr-ml-1v= t('.received_matches')
        - inbox_collections_counts(expert).each do |name, count|
          - path = polymorphic_path([name, :reminders, expert])
          = link_to path, class: 'fr-tag' do
            .bold= count
            .fr-ml-1v= t(name, scope: 'needs.collections').downcase

    %div{ id: "display-feedbacks-#{expert.id}" }
      = render partial: 'feedbacks/feedback', collection: expert.reminder_feedbacks.order(:created_at)
    = render 'feedbacks/form', feedback: expert.reminder_feedbacks.new

