%h4.fr-card__title
  = link_to expert.full_name.presence, reminders_expert_path(expert), class: 'fr-card__link'
%ul.list-unstyled.card-expert__list
  %li= t('.expert_creation_date', date: I18n.l(expert.created_at.to_date, format: :long))
  - if expert.role.present?
    %li
      %span.picto.ri-contacts-book-line
      = expert.role
  - if expert.phone_number.present?
    %li
      %span.picto.ri-phone-line
      = link_to(expert.phone_number, "tel:#{expert.phone_number}")
  - if expert.email.present?
    %li
      %span.picto.ri-mail-line
      = mail_to expert.email, expert.email, class: 'break-word'


- cache ["received_matches", expert, expert.received_matches] do
  .card-expert__subtitle= t('.matches_total')
  .fr-tags-group
    .fr-tag
      .bold= expert.received_matches.count
      .fr-ml-1v= t('.received_matches')
    - inbox_collections_counts(expert).each do |name, count|
      - path = polymorphic_path([name, :reminders, expert])
      = link_to path, class: 'fr-tag' do
        .bold= count
        .fr-ml-1v= t(name, scope: 'needs.collections').downcase
