%h1.ui.header
  - if defined? status
    = t('.needs_status', status: status)
  - else
    = expert

.ui.breadcrumb
  = link_to t('reminders.index.title'), reminders_path, class: 'section'
  %i.right.chevron.icon.divider
  = link_to Expert.model_name.human.pluralize, reminders_experts_path, class: 'section'
  %i.right.chevron.icon.divider
  = link_to expert, reminders_expert_path(expert), class: 'section'
