- meta title: t('.title')

- content_for :header, render('reminders/header', section: :experts, scope: @action)
- content_for :menu, render('reminders/menu', collections_by_reminders_actions_count: @collections_by_reminders_actions_count,
    expert_collections_count: @expert_collections_count,
    collections_by_status_counts: @collections_by_status_counts)

= paginate @active_experts
= form_with url: request.path, method: :get, skip_enforcing_utf8: true, data: { remote: false }, class: '' do
  - options = { include_blank: t('all_choices'), class: 'fr-select' }
  .two.fields
    .field
      = label_tag(:territory, t('.region'), class: 'fr-label')
      = select_tag(:territory,
        options_from_collection_for_select(territories, :id, :name, params[:territory] || session[:territory]),
        options.dup)

%div
  - if @active_experts.blank? && @action == :inputs
    .fr-container.fr-mt-10v
      .fr-grid-row
        .fr-col-offset-3.fr-col-6= image_tag('no-reminders.gif', class: 'fr-responsive-img')
  - else
    = render partial: 'expert', collection: @active_experts, locals: { action: @action }

= paginate @active_experts
