- title = @expert.full_name
- meta title: title

- content_for :callout do
  .fr-callout.fr-callout--c-expert
    %details
      %summary
        %h4= @expert.full_name
      %p
        .block-infos
          .fr-grid-row.fr-mt-5w
            .fr-col-md-4
              %ul.list-unstyled.fr-pl-1v
                - if @expert.job.present?
                  %li
                    %span.picto.ri-contacts-book-line{ 'aria-hidden': 'true' }
                    = @expert.job
                - if @expert.phone_number.present?
                  %li
                    %span.picto.ri-phone-line{ 'aria-hidden': 'true' }
                    = link_to(@expert.phone_number, "tel:#{@expert.phone_number}")
                %li
                  %span.picto.ri-mail-line{ 'aria-hidden': 'true' }
                  = mail_to @expert.email, @expert.email, class: 'break-word'
            .fr-col-md-8
              %div{ id: "display-feedbacks-#{@expert.id}" }
                = render partial: 'feedbacks/feedback', collection: @expert.reminder_feedbacks.order(:created_at)
              = render 'feedbacks/form', feedback: @expert.reminder_feedbacks.new

- content_for :header, render('reminders/header', title: title, section: :experts, expert: @expert)
- content_for :menu, render('expert_menu', expert: @expert, collections_counts: @inbox_collections_counts)
- content_for :search, render('needs/search', needs: @needs, origin: :reminders, collection_name: @collection_name)

= render 'reminders/needs', received_needs: @needs, action: @action
