:ruby
  return unless current_user&.is_admin?

.event{ id: "additional_experts-#{need.id}" }
  .label
    %i.ambulance.icon
  .content
    = form_with class: 'ui form',
      url: additional_experts_need_path, remote: true, method: :get do |f|
      .ui.field.mini
        .ui.action.input.small
          = f.hidden_field :need, value: need.id
          = f.text_field :query, value: local_assigns[:query],
            autofocus: local_assigns[:query].present?,
            required: true, minlength: 3, placeholder: t('.add_other_experts')
          = f.button t('search'), data: { disable_with: t('search') }, class: 'ui button blue basic small'

    - if !local_assigns[:experts].nil?
      - if local_assigns[:experts].empty?
        .ui.list
          .item
            = t('.no_expert_found')
      - else
        .ui.list
          - local_assigns[:experts].each do |expert|
            .item
              .header
                = expert.full_name_with_role
              .list
                - expert.experts_skills.each do |expert_skill|
                  .item
                    %i.angle.right.icon
                    .content
                      - confirm_message = t('.add_match_with', name: expert.full_name, subject: need.subject)
                      = link_to expert_skill.skill.title, add_match_need_path(expert_skill: expert_skill, need: need), method: :post, remote: true, data: { confirm: confirm_message }
