%table.ui.table
  %tbody
    %tr
      %td
        %h2.ui.header
          = diagnosis.company.name
          .sub.header
            %i.calendar.icon
            .content= I18n.l(diagnosis.display_date, format: '%-d %B %Y')
          .sub.header
            %i.pin.icon
            .content= diagnosis.facility.commune_name
          .sub.header
            = I18n.t('attributes.siret')
            = diagnosis.facility.siret
      %td.collapsing
        .ui.middle.aligned.list
          .item
            .middle.aligned.content
              %h4.ui.header.disabled
                = t('.diagnosed_needs', count: diagnosis.diagnosed_needs.size)
          .item
            .middle.aligned.content
              %h4.ui.header.disabled
                = t('.matches', count: diagnosis.matches.size)
