%td.no-border{ colspan: 3 }
  - feedback = match.feedbacks.new
  = form_for feedback, html: { class: 'ui form' } do |form|
    = form.hidden_field :match_id
    .field
      = form.text_area :description, placeholder: t('.placeholder'), rows: 2
    .actions
      = form.button :submit, class: 'ui basic tiny right floated green button' do
        = t('.submit')
