- feedback = need.feedbacks.new
.event{ id: "feedback_form-#{need.id}" }
  .label
  .content
    .summary
      = t('.title')
      .date= t('.subtitle')
    .extra
    = form_with scope: feedback,
      url: feedbacks_path(feedback),
      class: 'ui form' do |form|
      = form.hidden_field :need_id
      .field
        = form.text_area :description, placeholder: t('.placeholder'),
          class: 'top attached',
          rows: 2, required: true
      = form.button :submit, class: 'ui green small button' do
        = t('.submit')

