.ui.segment.clearing{ id: "match-#{match.id}", class: highlight ? 'match-highlighted' : '' }
  .needs-match
    - if match.additional_match?
      %h5= t('.additional_match', date: l(match.created_at.to_date, format: :long))
    - if match.expert.present?
      = person_block(match.expert, suffix: match.skill&.title)
    - else
      = person_block_raw(prefix: t('.deleted_expert'),
                         name: match.expert_full_name,
                         suffix: match.skill_title,
                         role: match.expert_institution_name)

    .match-status
      = status_label(match.status)

  - if for_me
    %h4.ui.header
      = match.status_description
      .sub.header= match.status_date

    = match_actions match
