#match-actions
  - if match.status_quo?
    .fr-grid-row.white-bg.fr-p-3w.fr-grid-row--middle
      .actions-default.fr-col
        %p.question= t('.can_you_help', company: match.need.company)
        = form_with(model: match, url: match_path(match)) do |f|
          = f.button :submit, name: :status, value: :taking_care, class: 'fr-btn btn-green fr-mr-2w', id: 'match_submit_taking_care' do
            %span.ri-phone-fill.fr-mr-2v{ 'aria-hidden': 'true' }
            = t('.take_care')
          = f.button :submit, name: :status, value: :not_for_me, class: 'fr-btn fr-btn--secondary btn-red', id: 'match_submit_not_for_me' do
            = t('.not_for_me')

  - elsif match.status_taking_care?
    .fr-grid-row
      .green-box.alert-box.take_care.fr-col
        %span.ri-phone-line.icon{ 'aria-hidden': 'true' }
        .content
          - if match.diagnosis.visitee.phone_number.present?
            - link_to_phone = match.diagnosis.visitee.phone_number
            - text = t('.your_turn_html', company: match.company, phone: link_to(link_to_phone, "tel:#{link_to_phone}"))
          - else
            - text = t('.contact_company', company: match.company)
          %p.explanations= text
          - partner_link = match.solicitation&.landing&.partner_url
          - if partner_link.present?
            %p.sub-content= t('.deposited_on_partner_website_html', partner_link: link_to(partner_link, partner_link, target: '_blank', rel: 'noopener'))
        = form_with(model: match, url: match_path(match)) do |f|
          = f.button :submit, name: :status, value: :quo, class: 'gray-link', id: "cancel-match" do
            = t('.cancel_taking_care')

    %h3.fr-h4.fr-my-4w= t('.close_need')
    = form_with(model: match, url: match_path(match)) do |f|
      %ul.list-unstyled.fr-grid-row.fr-grid-row--gutters.fr-col
        %li.fr-col-12.fr-col-md-4
          .fr-col.close-need-box.block-button
            .icon.green
              %span.ri-checkbox-circle-fill{ 'aria-hidden': 'true' }
            .content
              %h3.fr-card__title.fr-mb-2v= t('.help_provided.title')
              %p.fr-card__description= t('.help_provided.content')
              = f.button :submit, name: :status, value: :done, class: 'fr-btn btn-green', id: "match-submit-done",
              aria: { label: "#{t('.help_provided.title')}. #{t('.help_provided.content')}" } do
                = t('.validate')
        %li.fr-col-12.fr-col-md-4
          .fr-col.close-need-box.block-button
            .icon.blue-dark
              %span.ri-checkbox-circle-fill{ 'aria-hidden': 'true' }
            .content
              %h3.fr-card__title= t('.not_reachable.title')
              %p.fr-card__description= t('.not_reachable.content')
              = f.button :submit, name: :status, value: :done_not_reachable, class: 'fr-btn btn-blue-dark',
              id: "match-submit-done-not-reachable", aria: { label: "#{t('.not_reachable.title')}. #{t('.not_reachable.content')}" } do
                = t('.validate')
        %li.fr-col-12.fr-col-md-4
          .fr-col.close-need-box.block-button
            .icon.orange
              %span.ri-checkbox-circle-fill{ 'aria-hidden': 'true' }
            .content
              %h3.fr-card__title= t('.no_help.title')
              %p.fr-card__description= t('.no_help.content')
              = f.button :submit, name: :status, value: :done_no_help, class: 'fr-btn btn-orange',
              id: "match-submit-done-no-help", aria: { label: "#{t('.no_help.title')}. #{t('.no_help.content')}" } do
                = t('.validate')

  - elsif match.status_done? || match.status_done_no_help? || match.status_done_not_reachable?
    .fr-grid-row.green-box
      .fr-col-12.alert-box.take_care
        %span.ri-checkbox-circle-fill.icon{ 'aria-hidden': 'true' }
        .content
          %p.explanations= t('.its_done')
        = form_with(model: match, url: match_path(match)) do |f|
          = f.button :submit, name: :status, value: :taking_care, class: 'gray-link' do
            = t('.cancel')
      - if local_assigns[:display_feedback_form] && (match.status_done? || match.status_done_no_help?)
        .fr-col-12.fr-p-2w
          - placeholder = match.status_done? ? t("feedbacks.form.need.placeholder") : t('.placeholder_no_help')
          = render 'feedbacks/form', feedback: match.need.feedbacks.new(category: :need), placeholder: placeholder, from_alert_box: true

  - elsif match.status_not_for_me?
    .fr-grid-row.orange-box
      .fr-col-12.alert-box.take_care.fr-col
        %span.ri-file-forbid-line.icon{ 'aria-hidden': 'true' }
        .content
          - feedbacks = Feedback.category_need.where(feedbackable: match.need, user: current_user)
          -# Affiche un message plus court si l’expert a refusé et a laissé un message après pour expliquer
          - if feedbacks.any? && match.closed_at && feedbacks.pluck(:created_at).max > match.closed_at
            %p.explanations= t('.need_canceled_short')
          - else
            %p.explanations= t('.need_canceled')
        = form_with(model: match, url: match_path(match)) do |f|
          = f.button :submit, name: :status, value: :quo, class: 'gray-link' do
            = t('.cancel')
      - if local_assigns[:display_feedback_form]
        .fr-col-12.fr-p-2w
          = render 'feedbacks/form', feedback: match.need.feedbacks.new(category: :need), placeholder: t('.placeholder_no_help'), from_alert_box: true
