.needs-match
  - if match.person.present?
    = person_block(match.person, suffix: match.assistance&.title)
  - else
    = person_block_raw(prefix: t('.deleted_expert'),
                       name: match.expert_full_name,
                       suffix: match.assistance_title,
                       role: match.expert_institution_name)

  .match-status
    = status_label(match.status)

- if for_me
  %h4.ui.header
    = match.status_description
    .sub.header= match.status_date

  = match_actions match
