%td.expert-width
  %strong= match.person_full_name
  %br
    - person = match.person
    - if person
      - if person.phone_number.present?
        = person.phone_number
        %br
      = mail_to person.email
%td
  #{t('activerecord.models.local_office.one')} : #{match.expert_institution_name}
  - if match.assistance_title
    %br
    #{t('activerecord.models.assistance.one')} : #{match.assistance_title}
%td.expert-status-cell
  - if match.status_quo?
    %i.icon.clock
    = t('.waiting_for_answer')
  - elsif match.status_taking_care?
    %i.icon.checkmark
    = t('.he_takes_care')
  - elsif match.status_done?
    %i.icon.checkmark
    = t('.done')
  - elsif match.status_not_for_me?
    %i.icon.remove
    = t('.not_for_him')
