- needs_other_recipient_section = antenne.experts != user.experts
- if needs_other_recipient_section
  .fr-sidemenu__title= t('.for_recipient', recipient: recipient)

-# Dynamically build the path for each of the collections. Paths look like this:
  /besoins(/antenne)/:collection_name
%ul.fr-sidemenu__list
  - collections_counts.each do |name, count|
    - prefix = 'antenne' if recipient == antenne
    - path = polymorphic_path([prefix, name, :needs].compact)
    = menu_link_with_count(t(name, scope: 'needs.collections'), count, path)

- if needs_other_recipient_section
  %ul.fr-sidemenu__list
    .fr-sidemenu__title.fr-mt-6w
      = t('.for_other_header')
    - if recipient != antenne
      %li.fr-sidemenu__item
        = link_to antenne_quo_needs_path, class: 'fr-sidemenu__link' do
          = t('.for_other_antenne', antenne: antenne)
          %span.ri-team-fill.float-right
    - if recipient != user
      %li.fr-sidemenu__item
        = link_to quo_needs_path, class: 'fr-sidemenu__link' do
          = t('.for_other_user', user: user)
          %span.ri-user-fill.float-right
