%div{ id: "need_header-#{need.id}" }
  .ui.horizontal.divider.sub.header= need.subject.theme
  %h2.ui.header.center.aligned
    %a{ href: "#need-#{need.id}", data: { turbolinks: 'false' } }
      = need.subject
    .need-status
      - if need.not_archived?
        = status_label(need)
      - else
        .ui.basic.label.red
          = t('.need_archived')

- if need.diagnosis.solicitation.present?
  .solicitation-description
    %p= simple_format(auto_link(need.diagnosis.solicitation.description))
    - if policy(need.diagnosis.solicitation).show?
      = link_to(t('.solicitation_link'), need.diagnosis.solicitation)
