%div{ id: "need_header-#{need.id}" }
  .ui.horizontal.divider.sub.header= need.subject.theme
  %h2.ui.header.center.aligned
    %a{ href: "#need-#{need.id}", data: { turbolinks: 'false' } }
      = need.subject
    .need-status
      = status_label(need)
