.need-section{ id: "need-#{need.id}" }
  = render 'need_header', need: need

  .ui.feed
    = render 'need_content'
    = render need.feedbacks.order(:created_at)
    = render 'feedbacks/form', feedback: need.feedbacks.new(category: :need)
    = render need.matches.order(:created_at)
    = render 'additional_experts', need: need
    - if current_user.is_admin?
      = render 'archive', need: need
