- return if need.content.blank?

- for_me = need.advisor == current_user
.event{ id: "need_content-#{need.id}" }
  .label
    %a{ href: "#need_content-#{need.id}", data: { turbo: 'false' } }
      %i.comment.outline.icon{ class: ('blue' if for_me) }
  .content
    .summary
      .user.popup-hover
        = need.advisor.full_name
      .ui.popup= person_block(need.advisor)
      .date= I18n.l(need.diagnosis.completed_at, format: :long)
    .extra.text= simple_format(auto_link(need.content))
