%div{ id: "need_header-#{need.id}" }
  .ui.horizontal.divider.sub.header= need.subject.theme
  %h2.ui.header.center.aligned
    %a{ href: "#need-#{need.id}", data: { turbo: 'false' } }
      = need.subject
    .need-status
      - if need.not_archived?
        = status_label(need)
      - else
        .ui.basic.label.red
          = t('.need_archived')

  - if need.diagnosis.content.present? || need.solicitation.present?
    .solicitation-description
      - if need.solicitation.present?
        %p= t('.company_message')
      %i.quote.left.icon
      = simple_format(auto_link(need.diagnosis.content.presence || need.solicitation&.description), class: 'content')
      %i.quote.right.icon

      - if need.solicitation.present? && policy(need.solicitation).show?
        = link_to(t('.solicitation_link'), need.solicitation)
