.need-section{ id: "need-#{need.id}" }
  = render 'need_header', need: need

  .ui.feed
    = render 'need_content', need: need, current_roles: current_roles, highlighted_experts: highlighted_experts
    = render need.feedbacks.order(:created_at), current_roles: current_roles, highlighted_experts: highlighted_experts
    = render 'feedback_form', need: need, current_roles: current_roles
    = render need.matches.order(:created_at), current_roles: current_roles, highlighted_experts: highlighted_experts
    = render 'additional_experts', need: need
