.ui.segments
  %h3.ui.segment.block.header
    = expert.full_name
  .ui.segment
    %strong Rôle et institution :
    #{expert.role}, #{expert.institution.name}
  - if expert.phone_number.present?
    .ui.segment
      %strong #{t('activerecord.attributes.expert.phone_number')} :
      = expert.phone_number
  .ui.segment
    %strong #{t('activerecord.attributes.expert.email')} :
    = expert.email
  - if !expert.is_oneself?
    .ui.segment
      %strong #{t('activerecord.attributes.expert.users')} :
      = expert.users.map(&:full_name).join(', ')
  .ui.segment
    %strong #{t('activerecord.attributes.expert.assistances')} :
    = expert.assistances.map(&:title).join(', ')
  .ui.segment
    %strong #{t('activerecord.attributes.expert.territories')} :
    = expert.territories.map(&:name).join(', ')
