.ui.grid.stackable
  .row.center.aligned
    .column
      = render 'diagnoses/company_details', diagnosis: diagnosis
  .ui.divider
  .row.center.aligned
    .column
      %h5.ui.header
        = t('.visit_made_on', date: I18n.l(diagnosis.completed_at.to_date, format: :long))
  .row.two.column
    .column
      .ui.fluid.card.blue
        .content= person_block(diagnosis.advisor, prefix: t('.person_advisor'))
    .column
      .ui.fluid.card.blue
        .content= person_block(diagnosis.visitee, prefix: t('.person_company_contact'))
  .row
    .column
      .ui.feed
        .event
          .label
            %i.clipboard.outline.icon
          .content
            .date= I18n.l(diagnosis.completed_at, format: :long)
            .summary
              = t('.advisor_has_diagnosed_n_needs', advisor: diagnosis.advisor, count: diagnosis.needs.count)
            - if diagnosis.content
              .extra.text= diagnosis.content

  - if diagnosis.solicitation.present?
    .ui.horizontal.divider.sub.header
      = t('.solicitation', id: diagnosis.solicitation.id)
    .row
      .column
        = simple_format diagnosis.solicitation.description
        = link_to(t('.solicitation_link'), processed_solicitations_path(anchor: diagnosis.solicitation.id))

