- match_html = render @match, current_roles: @current_roles, highlighted_experts: []
document.getElementById('additional_experts-#{@need.id}').insertAdjacentHTML('beforebegin', "#{j match_html}");

- html = render 'additional_experts', need: @need
document.getElementById('additional_experts-#{@need.id}').outerHTML = "#{j html}";

- need_header_html = render 'needs/need_header', need: @need
document.getElementById('need_header-#{@need.id}').innerHTML = "#{j need_header_html}";
