- meta title: t('.title')

%h1.ui.header
  = t('.title')

= render 'needs_archived_tabs'

.ui.aligned.grid.padded
  .aligned.eight.wide.column
    %p= page_entries_info @needs
  .right.aligned.eight.wide.column
    = link_to needs_path do
      %i.tasks.icon
      = t('.browse_active_needs')

= render 'received_needs', received_needs: @needs
