- meta title: t('needs.index.title')

%h1.ui.header
  = t('.title', antenne: current_user.antenne.name)

= render 'needs_archived_antenne_tabs'

.ui.aligned.grid.padded
  .aligned.eight.wide.column
    %p= page_entries_info @needs
  .right.aligned.eight.wide.column
    = link_to index_antenne_needs_path do
      %i.tasks.icon
      = t('.browse_active_needs')

= render 'received_needs', received_needs: @needs
