- meta title: t('.title')

%h1.ui.header
  = t('.title')

= render 'received_needs', received_needs: @needs_rejected, title: t('.needs_rejected', count: @needs_rejected.count)

= render 'received_needs', received_needs: @needs_done, title: t('.needs_done', count: @needs_done.count)

= render 'received_needs', received_needs: @needs_archived, title: t('.needs_archived', count: @needs_archived.count)

= link_to needs_path do
  %i.tasks.icon
  = t('.browse_active_needs')
