- meta title: t('needs.index.title')

%h1.ui.header
  = t('.title', antenne: current_user.antenne.name)

= render 'received_needs', received_needs: @needs_rejected, title: t('needs.archives.needs_rejected')

= render 'received_needs', received_needs: @needs_done, title: t('needs.archives.needs_done')

= render 'received_needs', received_needs: @needs_archived, title: t('needs.archives.needs_archived')

= link_to index_antenne_needs_path do
  %i.tasks.icon
  = t('.browse_active_needs')
