- meta title: t('needs.index.title')

%h1.ui.header
  = t('.title', antenne: current_user.antenne.name)

= render 'received_needs', received_needs: @needs_quo, title: t('needs.index.needs_quo')

= render 'received_needs', received_needs: @needs_taking_care, title: t('needs.index.needs_taking_care')

= render 'received_needs', received_needs: @needs_others_taking_care, title: t('needs.index.needs_others_taking_care')

= link_to archives_antenne_needs_path do
  %i.archive.icon
  = t('.browse_archived_needs')
