- meta title: t('.title')

%h1.ui.header
  = t('.title')
  .sub.header= t('.needs_for_you')

= render 'received_needs', received_needs: @needs_quo, title: t('.needs_quo')

= render 'received_needs', received_needs: @needs_taking_care, title: t('.needs_taking_care')

= render 'received_needs', received_needs: @needs_others_taking_care, title: t('.needs_others_taking_care')

- if current_user.antenne.advisors.count > 1
  = link_to index_antenne_needs_path do
    %i.folder.open.icon
    = t('.browse_antenne_needs')
    %br

= link_to archives_needs_path do
  %i.archive.icon
  = t('.browse_archived_needs')
