- title = t('.title', company: @diagnosis.company.name)
- meta title: title

#experts-diagnosis
  %h1= title

  = render partial: 'needs/diagnosis_summary', locals: { diagnosis: @diagnosis }
  = render partial: 'people/person', locals: { person: @diagnosis.visitee, subtitle: t('.company_contact_subtitle') }
  = render partial: 'people/person', locals: { person: @diagnosis.advisor, subtitle: t('.advisor_contact_subtitle') }

  - if @diagnosis.content.present?
    %h2= t('.diagnosis_content_subtitle')
    .ui.segment.shadow-less
      .small.text= @diagnosis.content

  %h2= t('attributes.diagnosed_needs.other')
  - @diagnosis.diagnosed_needs.ordered_by_interview.each do |diagnosed_need|
    %table.ui.celled.table
      %thead
        %tr
          %th{ colspan: 3 }= diagnosed_need.question_label
      %tbody
        - if diagnosed_need.content.present?
          %tr
            %td{ colspan: 3 }
              .small.text= simple_format(diagnosed_need.content)
        - if diagnosed_need.matches.empty?
          %tr.small.text.ui.tiny.table{ colspan: 2 }
            %td= t('.zero_contacted_expert')
        - else
          -# Response
          - my_match = diagnosed_need.matches.of_relay_or_expert(@current_roles).first
          - if my_match.present?
            %tr.small.text.ui.tiny.table{ id: "match-line-#{my_match.id}-owner" }
              = render partial: 'match_for_need_owner', locals: { match: my_match }
            %tr.small.text.ui.tiny.table{ id: "expert-buttons-line-#{my_match.id}" }
              = render partial: 'expert_buttons', locals: { match: my_match }
          -# Matches
          - diagnosed_need.matches.each do |match|
            %tr.small.text.ui.tiny.table{ id: "match-line-#{match.id}-global" }
              = render partial: 'match', locals: { match: match }
          -# Feedback
          - diagnosed_need.feedbacks.each do |feedback|
            %tr.small.text.ui.tiny.table
              - locals = { feedback: feedback, can_delete: feedback.match == my_match }
              = render partial: 'expert_feedback', locals: locals
          - if my_match.present?
            %tr.small.text.ui.tiny.table{ id: "expert-feedback-owner-line-#{my_match.id}" }
              = render partial: 'expert_feedback_owner', locals: { match: my_match }

