- meta title: t('.title', company: @need.company.name)

.fr-container
  = render 'shared/breadcrumb', pages: [{ title: t('.all_needs'), path: needs_path }], current_page: "#{@need.visitee} - #{@need.company.name}"

.fr-container.fr-pb-4w
  .fr-grid-row
    .fr-col-md-8
      .fr-container.fr-mt-xs-4w
        %h1.fr-h2= @need.subject
        %p
          %time.date{ datetime: @need.display_time } Le #{I18n.l(@need.display_time, format: :sentence)}
        = need_general_context(@need)
    .fr-col-md-4.order-minus-one.bp-sm
      .fr-grid-row.fr-grid-row--gutter.fr-grid-row--middle.fr-mb-2w
        .fr-container.fr-p-0
          .fr-grid-row
            .fr-col-lg-2.fr-grid-row--center.picto-person-block
              %span.ri-map-pin-user-line{ 'aria-hidden': true }
            .fr-col-lg-10
              %h2.fr-text--lg.fr-m-0.blue= t('.person_company_contact')
              = person_block(@need.visitee, job: nil)
      .fr-grid-row.fr-grid-row--gutter.fr-grid-row--middle.fr-mb-2w
        .fr-container.fr-p-0
          .fr-grid-row.fr-mt-2v
            .fr-col-lg-2.fr-grid-row--center.picto-person-block
              %span.ri-building-4-line{ 'aria-hidden': true }
            .fr-col-lg-10
              = render 'companies/facility_infos', facility: @need.facility, need: @need, facility_needs: @facility_needs, contact_needs: @contact_needs
      .fr-grid-row.fr-grid-row--gutter.fr-grid-row--middle
        .fr-container.fr-p-0
          .fr-grid-row
            .fr-col-lg-2.fr-grid-row--center.picto-person-block
              %span.ri-mail-send-line{ 'aria-hidden': true }
            .fr-col-lg-10.infos-transmitted-by.fr-pl-1v
              %h2.fr-text--lg.fr-mb-1w.blue= t('.transmitted_by')
              %div
                - if @need.advisor.present?
                  = @need.advisor.full_name
                  %button.fr-icon-information-line.fr-btn--tertiary-no-outline{ 'aria-controls': "modal-user-#{@need.advisor.id}", 'data-fr-opened': 'false', title: t('application.modal.see_person_coordinates') }
                  = render 'application/person_modal', person: @need.advisor
                - else
                  = t('.blank_advisor')

- if policy(@need).show_need_actions?
  .lighter-blue-bg
    = render 'match_actions', match: @need.matches.find_by(expert: current_user.experts)

.lighter-blue-bg
  .fr-container.fr-p-2w#all-experts
    %h2.fr-h3.fr-my-4w= t('.all_experts')
    - if @matches.any?
      = render @matches, origin: @origin
    - else
      %p#no-match= t('.no_match')

.lighter-blue-bg
  .fr-container
    = render 'additional_experts', need: @need

.lighter-blue-bg.fr-pb-6w
  .fr-container.fr-p-2w
    .fr-my-4w.feedbacks-title
      %h2.fr-h3= t('.comments')
      %p= t('.warning_comments')
    %div{ id: "display-feedbacks-#{@need.id}" }
      - if @need.feedbacks.present?
        = render @need.feedbacks.order(:created_at)
      - else
        %p.fr-my-2w#no-comment= t('.no_comment')
    = render 'feedbacks/form', feedback: @need.feedbacks.new(category: :need)
