-# haml-lint:disable ViewLength
- meta title: t('.title', company: @need.company.name)

.fr-container
  = render 'shared/breadcrumb', pages: [{ title: t('.all_needs'), path: needs_path }], current_page: "#{@need.visitee} - #{@need.company.name}"

.fr-container.fr-pb-4w
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-md-8
      .fr-mt-xs-4w.break-word
        %h1.fr-h3.fr-mb-2v= @need.subject
        %p
          %time.date{ datetime: @need.display_time } Le #{I18n.l(@need.display_time, format: :sentence)}
        = need_general_context(@need)
        - if @need.institution_filters.any? || @need.solicitation&.origin_url.present?
          %hr
          .need-description__meta.fr-text--sm
            - if @need.institution_filters.any?
              %ul
                - @need.institution_filters.each do |filter|
                  - answer = I18n.t(filter.filter_value, scope: [:activerecord, :attributes, :additional_subject_questions, filter.key], default: I18n.t(filter.filter_value, scope: [:boolean, :text]))
                  %li
                    = I18n.t(:label, scope: [:activerecord, :attributes, :additional_subject_questions, filter.key])
                    %strong= answer
            - if @need.solicitation.present? && @need.solicitation.origin_url.present?
              %div
                = t('.origin_source')
                %br
                = link_to @need.solicitation.origin_link_title, @need.solicitation.origin_url, title: "#{to_new_window_title(t('.origin_source_title'))}", target: '_blank', rel: 'noopener'

    .fr-col-md-4.order-minus-one.bp-sm
      .fr-grid-row.need-metadata
        .fr-col-lg-2.need-metadata--picto
          %span.ri-map-pin-user-line{ 'aria-hidden': 'true' }
        .fr-col-lg-10.need-metadata--info
          %h2.need-metadata--title= t('.person_company_contact')
          = person_block(@need.visitee, job: nil)

      .fr-grid-row.need-metadata
        .fr-col-lg-2.need-metadata--picto
          %span.ri-building-4-line{ 'aria-hidden': 'true' }
        .fr-col-lg-10.need-metadata--info
          %h2.need-metadata--title= t('.company')
          .block-infos
            %ul.list-unstyled.fr-pl-1v
              %li.name
                %b= @facility.company.name
              %li= @facility.readable_locality
              %li= t('.workforce', range: Effectif::CodeEffectif.new(@facility.code_effectif).intitule_effectif)
              - if @facility.siret.present?
                %li #{t('attributes.siret')} : #{@facility.siret}
                - if @facility.naf_libelle.present?
                  %li= @facility.naf_libelle
                - company = @facility.company
                %li.fr-mt-3v
                  %span.fr-text--bold #{t('attributes.forme_exercice')} : 
                  = company.forme_exercice&.humanize || t('undefined')
                %li.fr-mt-3v= link_to t('.more_informations'), company_path(@facility.id), class: 'fr-link', data: { turbo: false }
                - if defined?(@facility_needs) && @facility_needs.present? && policy(@facility).show_needs_history? && @facility_needs.any?
                  %li= link_to t('.needs_historic'), needs_company_path(@facility), class: 'fr-link'
              - if defined?(@contact_needs) && @contact_needs.present? && policy(@need.diagnosis.visitee).show_needs_history? && @contact_needs.any? && @facility_needs.blank?
                %li= link_to t('.needs_historic'), needs_historic_contact_path(@need.diagnosis.visitee), class: 'fr-link'

      .fr-grid-row.need-metadata
        .fr-col-lg-2.need-metadata--picto
          %span.ri-mail-send-line{ 'aria-hidden': 'true' }
        .fr-col-lg-10.need-metadata--info
          %h2.need-metadata--title= t('.transmitted_by')
          %div
            - if @need.advisor.present?
              %button.fr-tag.fr-icon-information-line.fr-tag--icon-left.custom-modal-tag{ 'aria-controls': "modal-user-#{@need.advisor.id}", 'data-fr-opened': 'false', title: t('application.modal.see_person_coordinates') }= @need.advisor.full_name
              = render 'application/person_modal', person: @need.advisor
            - else
              = t('.blank_advisor')

- if policy(@need).show_need_actions?
  .light-blue-bg
    .fr-container.fr-p-2w.fr-pb-8w
      %h2.fr-h3.fr-my-4w= t('.my_intervention')
      = render 'match_actions', match: @need.matches.find_by(expert: current_user.experts)

.lighter-blue-bg
  .fr-container.fr-p-2w#all-experts
    %h2.fr-h3.fr-my-4w= t('.all_experts')
    - if @matches.any?
      = render @matches, origin: @origin
    - else
      %p#no-match= t('.no_match')

.lighter-blue-bg
  .fr-container
    = render 'additional_experts', need: @need

.lighter-blue-bg.fr-pb-6w
  .fr-container.fr-p-2w
    .fr-my-4w.feedbacks-title
      %h2.fr-h3= t('.comments')
      %p= t('.warning_comments')
    %div{ id: "display-feedbacks-#{@need.id}" }
      - if @need.feedbacks.present?
        = render @need.feedbacks.order(:created_at)
      - else
        %p.fr-my-2w#no-comment= t('.no_comment')
    = render 'feedbacks/form', feedback: @need.feedbacks.new(category: :need), placeholder: t("needs.match_actions.feedback_placeholder.done")
-# haml-lint:enable ViewLength
