- f = form
.required.fr-input-group
  = f.label :full_name, class: 'fr-label'
  = f.text_field :full_name, placeholder: t('attributes.placeholder.full_name'), class: 'fr-input',
    autocomplete: 'off', required: true
.required.fr-input-group
  = f.label :phone_number, class: 'fr-label'
  = f.text_field :phone_number, placeholder: t('attributes.placeholder.phone_number'), class: 'fr-input',
    autocomplete: 'off', required: true
.required.fr-input-group
  = f.label :job, class: 'fr-label'
  = f.text_field :job, placeholder: t('attributes.placeholder.job'), class: 'fr-input',
    autocomplete: 'off', required: true
