.ui.segment.selectable-item
  - path = diagnosis.completed? ? besoin_path(diagnosis, params.permit(:access_token)) : diagnosis_path(diagnosis)
  %a{ href: path }
    %h3.ui.header
      .sub.header= I18n.l(diagnosis.display_date, format: '%-d %B %Y')
      - if !diagnosis.completed?
        .diagnosis-step
          .ui.label= t("diagnoses.step#{diagnosis.step}.title")
      = diagnosis.company.name
      .sub.header= diagnosis.facility.commune_name
    - if diagnosis.completed?
      - needs_of_interest = diagnosis.needs
      - if local_assigns[:expert].present?
        - needs_of_interest = needs_of_interest.merge(local_assigns[:expert].received_needs)
      - needs_of_interest.each do |need|
        .diagnoses-list-item-need
          %h4.ui.header
            = need.subject
            .match-status= status_label(need.status)
            .sub.header= need.matches.human_count
    = render partial: 'diagnoses/archive_action', locals: { diagnosis: diagnosis }
