- cache diagnosis do
  .ui.segment.selectable-item
    - path = diagnosis.step_completed? ? need_path(diagnosis) : diagnosis_path(diagnosis)
    %a{ href: path }
      %h3.ui.header
        .sub.header= I18n.l(diagnosis.display_date, format: :long)
        - if !diagnosis.step_completed?
          .diagnosis-step
            .ui.grey.basic.label= diagnosis.human_attribute_value(:step)
        = diagnosis.company.name
        .sub.header= diagnosis.facility.commune_name
      = render 'diagnoses/archive_action', diagnosis: diagnosis
