- meta title: t('diagnoses.archives.title')

%h1.ui.header
  = t('.title')
  .sub.header= t('.subtitle', antenne: current_user.antenne.name)

= render 'diagnoses', diagnoses: @diagnoses, title: t('.title', antenne: current_user.antenne.name)

= link_to index_antenne_diagnoses_path do
  %i.tasks.icon
  = t('.browse_active_diagnoses')
