- meta title: t('.title')

%h1.ui.header= t('.create_new_diagnosis')

= render partial: 'companies/search_form', locals: { query: @query }

= render partial: 'in_progress_diagnoses_list', locals: { diagnoses: @diagnoses.in_progress }

= render partial: 'needs/diagnoses_list', locals: { diagnoses: @diagnoses.completed, expert: nil, title: t('.completed_diagnoses') }

= link_to t('.browse_archived_diagnoses'), archives_diagnoses_path
