- meta title: t('.title')

%h1= t('.diagnoses_in_progress')

- if @diagnoses_in_progress.present?
  %table.ui.table.ui.selectable
    %tbody
      - @diagnoses_in_progress.each do |diagnosis|
        %tr
          %td
            = diagnosis.visit.facility.company.name_short
          %td.collapsing
            = t('.step', step: diagnosis.step)
          %td.collapsing
            = link_to t('.continue_diagnosis'),
            { controller: 'diagnoses', action: "step#{diagnosis.step}", id: diagnosis },
            class: 'ui positive basic tiny button'

= link_to step_1_diagnoses_path, class: 'ui medium green button' do
  = semantic_icon('plus')
  = t('.create_new_diagnosis')

%h1= t('.diagnoses_completed')

- if @diagnoses_in_progress.present?
  %table.ui.table.ui.selectable
    %tbody
      - @diagnoses_completed.each do |diagnosis|
        %tr
          %td
            = diagnosis.visit.facility.company.name_short
          %td.collapsing
            = link_to t('.show_summary'),
            { controller: 'diagnoses', action: "step#{diagnosis.step}", id: diagnosis },
            class: 'ui positive basic tiny button'

  // = t('.diagnosis_date', date: diagnosis.creation_date_localized)