- meta title: t('.title')

%h1.ui.header
  = t('.title')
  = link_to t('.create_new_diagnosis'), new_diagnosis_path, class: 'ui button green right floated large new-diagnosis'
  .sub.header
    = t('.subtitle', name: current_user.full_name)

= render 'diagnoses', diagnoses: @diagnoses.in_progress, title: t('.diagnoses_in_progress')

= render 'diagnoses', diagnoses: @diagnoses.completed, title: t('.completed_diagnoses')

- if current_user.antenne.advisors.count > 1
  = link_to index_antenne_diagnoses_path do
    %i.folder.open.icon
    = t('.browse_antenne_diagnoses')
    %br

= link_to archives_diagnoses_path do
  %i.archive.icon
  = t('.browse_archived_diagnoses')
