- meta title: t('.title')

%h1.ui.header= t('.create_new_diagnosis')

= render partial: 'companies/search_form', locals: { query: @query }

= render partial: 'list', locals: { diagnoses: @diagnoses.in_progress, expert: nil, title: t('.diagnoses_in_progress') }

= render partial: 'list', locals: { diagnoses: @diagnoses.completed, expert: nil, title: t('.completed_diagnoses') }

= link_to archives_diagnoses_path do
  %i.archive.icon
  = t('.browse_archived_diagnoses')
