- meta title: t('.title')

:ruby
  if defined?(@manually) && @manually
    first_tab_class = ''
    second_tab_classes = 'active'
  else
    first_tab_class = 'active'
    second_tab_classes = ''
  end

%h1.ui.header= t('.create_new_diagnosis')

.ui.attached.tabular.menu.head-tab.new-diagnosis
  %a.item{ "data-tab" => "first", class: first_tab_class }
    = t('.find_company')
  %a.item{ "data-tab" => "second", class: second_tab_classes }
    = t('.search_manually')
.ui.bottom.attached.tab.new-diagnosis.segment{ "data-tab" => "first", class: first_tab_class }
  = render partial: 'companies/search_form', locals: { query: @query }

.ui.bottom.attached.tab.new-diagnosis.segment{ "data-tab" => "second", class: second_tab_classes }
  %h2.ui.header
    = t('.title')

  %p
    = t('.sub_title')

  = form_with url: create_diagnosis_without_siret_diagnoses_url, method: :post, class: 'ui form' do

    .field
      = label_tag t('.name')
      = text_field_tag :name, @params['name'], required: true
    .field
      = label_tag t('.postal_code')
      = text_field_tag :postal_code, @params['postal_code'], required: true, pattern: '[0-9]{5}'
    .field
      = label_tag t('.city')
      = select_tag :city, raw("<option></option>"), required: true, class: 'ui fluid dropdown selection'

    = button_tag :submit, class: 'ui right floated button green right labeled icon' do
      = t('next_step')
      %i.arrow.right.icon

  .clear

:javascript
  $("input[name='postal_code']").keyup( function() {
    if ($(this).val().length <= 5) {
      Rails.ajax({
        url: '#{find_cities_diagnoses_path}',
        type: "get",
        data: 'postal_code=' + $(this).val()
      })
    }
  })
