- meta title: t('.title')

%h1.ui.header= t('.create_new_diagnosis')

.ui.attached.tabular.menu.head-tab.new-diagnosis
  %a.item.active{ "data-tab" => "first" }
    = t('.find_company')
  %a.item{ "data-tab" => "second" }
    = t('.search_manually')
.ui.bottom.attached.tab.new-diagnosis.segment.active{ "data-tab" => "first" }
  = render partial: 'companies/search_form', locals: { query: @query, solicitation: @solicitation }

.ui.bottom.attached.tab.new-diagnosis.segment{ "data-tab" => "second" }
  %h2.ui.header
    = t('.title')

  %p
    = t('.sub_title')

  = form_with url: create_diagnosis_without_siret_diagnoses_url, method: :post, class: 'ui form' do

    - if @solicitation.present?
      = hidden_field_tag :solicitation, @solicitation.id
    .field
      = label_tag t('.name')
      - name = local_assigns[:solicitation]&.full_name
      = text_field_tag :name, name, required: true

    = render 'insee_code_field', required: true

    = button_tag :submit, class: 'ui right floated button green right labeled icon' do
      = t('next_step')
      %i.arrow.right.icon

  .clear
