- meta title: t('.title')

.fr-container
  %h1.ui.header= t('.create_new_diagnosis')

  - if @needs.present?
    %h2.fr-h3= t('companies.needs.others')
    = render partial: 'companies/need', collection: @needs
  .ui.attached.tabular.menu.head-tab.new-diagnosis
    %a.item{ "data-tab" => "find_company" }
      = t('.find_company')
    %a.item{ "data-tab" => "search_manually", class: ("active" if @tab == 'search_manually') }
      = t('.search_manually')
  .ui.bottom.attached.tab.new-diagnosis.segment{ "data-tab" => "find_company" }
    = render partial: 'companies/search_form', locals: { query: @query, solicitation: @diagnosis.solicitation }

  .ui.bottom.attached.tab.new-diagnosis.segment{ "data-tab" => "search_manually", class: ("active" if @tab == 'search_manually') }
    %h2.ui.header
      = t('.title')

    %p
      = t('.sub_title')

    = form_with model: @diagnosis, class: 'ui form', local: true do |form|
      - if @diagnosis.errors.present?
        .field.error
          .ui.error.message= @diagnosis.errors.full_messages.to_sentence
      - if @diagnosis.solicitation.present?
        = form.hidden_field :solicitation_id
      = form.fields_for :facility do |facility_form|
        .field.required
          = facility_form.fields_for :company do |company_form|
            = label_tag t('.name')
            = company_form.text_field :name, required: true

        .fr-input-group
          = label_tag 'city-autocomplete', t('.city')
          %div{ data: { action: 'city-autocomplete', 'default-value': @diagnosis.solicitation&.location } }
          = facility_form.hidden_field :insee_code, data: { target: 'insee-code' }

      .text-right
        = form.button :submit, class: 'fr-btn btn-green btn-icon' do
          = t('next_step')
          %span.ri-arrow-right-s-line

    .clear
