- meta title: t('.diagnosis_date', date: @diagnosis.creation_date_localized)

%h1= t('.identified_needs', count: @diagnosis.diagnosed_needs.count)
%p= t('.diagnosis_date', date: @diagnosis.creation_date_localized)

#vue-js-app
  %content-form{ diagnosis_id: @diagnosis.id }

  - @diagnosis.diagnosed_needs.each do |diagnosed_need|
    %h2= diagnosed_need.question_label
    - assistances = diagnosed_need.question.assistances.of_location(@visit.location)
    .ui.info.message
      %p= t('.assistances_found', count: assistances.count)

    - assistances.each do |assistance|
      = render partial: 'assistance/assistance', locals: { assistance: assistance, question: diagnosed_need.question, diagnosis_id: @diagnosis.id, visit: @visit }

= javascript_pack_tag 'diagnosis/diagnosisMain'