- meta title: t('.title')

= render partial: 'steps', locals: { current_page_step: 2, diagnosis_step: @diagnosis.step }

%h1.ui.header
  = t('.title')

%p.small.text.justified
  = t('.identify_needs', company_name: @diagnosis.visit.facility.company.name)

#step2-app
  %app-data-setter{ 'diagnosis-id' => @diagnosis.id, 'diagnosis-content' => @diagnosis.content }

  - @categories_with_questions.each do |item|
    - if item[:category]
      %h2.ui.header
        = item[:category]
    - else
      %h2.ui.header
        = t('.no_category')
        .sub.header
          = t('.no_category_detail')
    %table.ui.celled.table
      %tbody
        - item[:questions].each do |question|
          %tr{ 'is' => 'question-selection-row', 'question-data-serialized' => question.to_json }
          %tr{ 'is' => 'question-content-row', 'question-data-serialized' => question.to_json }

  %h2.ui.header
    = t('.diagnosis_content_subtitle')
  %content-text-area

  %next-step-button{ 'v-bind:previous-step-button' => 'false',
                     'v-bind:save-button' => 'true',
                     'v-bind:loading' => 'isRequestInProgress',
                     'v-on:save-click' => 'saveButtonClicked',
                     'v-on:next-step-click' => 'nextStepButtonClicked' }

= javascript_pack_tag 'step-2/step2App'
