- meta title: t('.title')

= render partial: 'steps', locals: { current_page_step: 3, diagnosis_step: @diagnosis.step }


%h1= t('.title')

#step3-app
  %app-data-setter{ 'diagnosis-id' => @diagnosis.id, 'visit-id' => @diagnosis.visit.id }
  %form-error-message

  %h2= t('.date_header')
  %visit-date-input

  %h2= t('.your_contact_in_the_company')
  %p= t('.info_about_who_you_saw_during_your_visit', company_name: @diagnosis.visit.facility.company.name)
  %contact-form

  %next-step-button{ 'v-bind:previous-step-button' => 'true',
                     'v-bind:save-button' => 'false',
                     'v-bind:disabled' => 'isFormDisabled',
                     'v-bind:loading' => 'isRequestInProgress',
                     'v-on:previous-step-click' => 'previousStepButtonClicked',
                     'v-on:next-step-click' => 'nextStepButtonClicked' }

= javascript_pack_tag 'step-3/step3App'
