- meta title: t('.title')

= render partial: 'steps', locals: { current_page_step: 2, diagnosis_step: @diagnosis.step }

#step2-app
  = form_with model: @diagnosis,
    url: besoins_diagnosis_path(@diagnosis),
    method: :post,
    class: 'ui form diagnosis_form' do |diagnosis_form|

    %h1.ui.header
      = t('.title')

    .field
      = diagnosis_form.label t('.diagnosis_content_subtitle')
      = diagnosis_form.text_area :content, placeholder: t('.diagnosis_content_placeholder'), rows: 2

    %p.small.text.justified
      = t('.identify_needs', company_name: @diagnosis.company.name)

    - @categories.each do |category|
      .ui.segments.shadow-less
        .ui.segment.secondary
          %h3.ui.header= category.label
        - all_needs = @diagnosis.diagnosed_needs
        - category.questions.each do |question|
          - diagnosed_need = all_needs.where(question: question).first_or_initialize
          .ui.segment.checkbox.question
            = diagnosis_form.fields_for :diagnosed_needs, diagnosed_need do |need_form|
              = need_form.check_box :_destroy, { checked: diagnosed_need.persisted? }, '0', '1'
              = need_form.label :_destroy, question.label
              = need_form.text_area :content, placeholder: t('.diagnosed_need_content_placeholder'), rows: 2
              = need_form.hidden_field :question_id

    .ui.actions
      = diagnosis_form.button :submit, class: 'ui right floated button green right labeled icon' do
        = t('next_step')
        %i.arrow.right.icon

  .clear

:javascript
  $checkboxes = $(".diagnosis_form .checkbox input:checkbox");
  function setBoxesValidity() {
    if ($checkboxes.is(":checked")) {
      $checkboxes.each(function() {
        this.setCustomValidity("");
      });
    } else {
      $checkboxes.each(function() {
        this.setCustomValidity("#{ t('.select_at_least_one_need') }");
      });
    }
  }
  $checkboxes.on("click", function() {
    setBoxesValidity();
  });
  $(document).ready(function(){
    setBoxesValidity();
  });
