- meta title: t('.title')

= render partial: 'steps', locals: { current_page_step: 4, diagnosis_step: @diagnosis.step }

#step4-app
  - if @diagnosed_needs.empty?
    %p= t('.no_diagnosed_needs')
  - else
    %p= t('.explanation')

    = form_for :matches, url: notify_diagnosis_path, method: :post,
               html: { id: 'step4-form' }, data: { confirm: '' } do |f|
      - @diagnosed_needs.each do |diagnosed_need|
        %table.ui.compact.small.table.celled
          %thead
            %tr
              %th{ colspan: 3 }= diagnosed_need.question
          %tbody
            - assistances_experts = diagnosed_need.question.assistances.flat_map(&:filtered_assistances_experts)
            - if assistances_experts.present?
              = f.fields_for :assistances_experts do |assistance_expert_form|
                - assistances_experts.each do |assistance_expert|
                  %tr
                    - checkbox_id = assistance_expert.id.to_s.to_sym
                    %td.checkbox-width
                      .ui.fitted.checkbox
                        = assistance_expert_form.check_box checkbox_id, checked: true
                        %label
                    %td.expert-width
                      = assistance_expert_form.label checkbox_id, class: 'clickable' do
                        = assistance_expert.expert.full_name
                        %br
                        = assistance_expert.expert.institution
                    %td
                      = assistance_expert_form.label checkbox_id, class: 'clickable' do
                        .tiny.text.bold
                          = t('.expert_scope_of_work')
                        .small.text
                          = assistance_expert.assistance.title
            - elsif @relays_full_names.present?
              = f.fields_for :diagnosed_needs do |relay_form|
                %tr
                  %td{ colspan: 3 }
                    .ui.warning.message
                      = t('.no_assistance')
                      = t('.you_can_contact_relays')
                %tr
                  - checkbox_id = diagnosed_need.id.to_s
                  %td.checkbox-width
                    .ui.fitted.checkbox
                      = relay_form.check_box checkbox_id, checked: true
                      %label
                  %td.expert-width
                    = relay_form.label checkbox_id, class: 'clickable' do
                      = @relays_full_names.join(', ')
                  %td
                    = relay_form.label checkbox_id, class: 'clickable' do
                      .small.text
                        = t('.relays_role', count: @relays_full_names.count)
            - else
              %tr
                %td= t('.no_assistance')

      - if @diagnosis.visit.visitee.present?
        .ui.info.message
          = t('.before_sending_emails_text_html')
      - else
        .ui.error.message
          %p= t('.add_contact_to_notify')

      .ui.two.column.stackable.grid.container
        .ui.left.aligned.column.no-left-padding.no-margin
          = link_to step_3_diagnosis_path(@diagnosis), class: 'ui left labeled icon button no-margin' do
            = t('previous_step')
            %i.arrow.left.icon

        .ui.right.aligned.column.no-right-padding.no-margin
          - button_classes = []
          - if @diagnosis.visit.visitee.blank?
            - button_classes << 'disabled'
          %button.ui.teal.button.no-margin#next-step-button{ class: button_classes }
            = t('.notify_selected_experts')

      .clear
