%footer.footer
  .container
    .footer__logo
      = image_tag 'place-des-entreprises-logo.png'
    %ul.footer__links
      %li
        %h2= 'place-des-entreprises.beta.gouv.fr'
      %li= link_to t('.startup_d_etat'), 'https://beta.gouv.fr/startups/reso'
    %ul.footer__links
      %li= link_to t('cgu'), cgu_a_propos_path
      %li= link_to t('usage_stats'), stats_path
      %li= link_to t('.dinsic'), 'https://www.numerique.gouv.fr/dinsic/'
