- if @solicitation.persisted?
  = render :partial => 'thank_you'

- else
  #solicitation-form
    #flashes
    - if @style[:branding].to_b
      .branding
        = image_tag 'place-des-entreprises-logo.png', id: 'logo-pde'
        .url
          %span place-des-entreprises
          = image_tag 'pointbetagouvfr.svg', alt: 'beta.gouv.fr', class: 'logo-beta'

    %h2.section__title= t('.title')
    = render 'landings/new_solicitation_form', landing: @landing, solicitation: @solicitation,
    path: external_solicitations_path(bg_color: @style[:bg_color], color: @style[:color], branding: @style[:branding])

  :javascript
    _paq.push(['trackEvent', 'affichage-formulaire-partenaire', "success"]);


- if defined? @style
  :css
    body {
      background-color: ##{@style[:bg_color]};
      color: ##{@style[:color]} !important;
      }
    #solicitation-form label {
      color: ##{@style[:color]} !important;
      }
