- if @solicitation.persisted?
  = render :partial => 'thank_you'

- else
  #solicitation-form
    #flashes
    - if @solicitation[:branding].to_b
      .branding
        = image_tag 'place-des-entreprises-logo.png', id: 'logo-pde'
        .url
          %span place-des-entreprises
          = image_tag 'pointbetagouvfr.svg', alt: 'beta.gouv.fr', class: 'logo-beta'

    %h2.section__title= t('.title')
    = form_with(model: @solicitation, url: external_solicitations_path, scope: 'solicitation', method: :post, local: true, html: { honeypot: true }) do |f|
      - @solicitation.form_info.each do |k,v|
        = f.hidden_field "form_info[#{k}]", value: v
      = f.hidden_field :landing_options_slugs, multiple: true
      = f.hidden_field :landing_slug
      .form__group
        = f.label 'description', t('.description.label')
        = f.text_area 'description', placeholder: t('.description.placeholder'), rows: 6, required: true
      .form__group
        .form__group
          = f.label 'siret', t('.siret.label')
          = f.text_field 'siret', placeholder: t('.siret.placeholder'), required: false
        .form__group
          = f.label 'full_name', t('.full_name.label')
          = f.text_field 'full_name', placeholder: t('.full_name.placeholder'), required: true
        .form__group
          = f.label 'phone_number', t('.phone_number.label')
          = f.telephone_field 'phone_number', placeholder: t('.phone_number.placeholder'), required: true
        .form__group
          = f.label 'email', t('.email.label')
          = f.email_field 'email', placeholder: t('.email.placeholder'), required: true
      .form__group
        = render 'flashes'
        = f.submit t('.button.title'), class: 'button large'

:css
  body {
    background-color: #{@solicitation.bg_color};
    color: #{@solicitation.color} !important;
    }
  #solicitation-form label {
    color: #{@solicitation.color} !important;
    }
