.ui.segments.shadow-less.diagnosis{ 'id': diagnosis.id }
  = link_to diagnosis do
    .ui.segment.secondary
      .ui.header.grid.aligned
        .eight.wide.column
          %h2= diagnosis.company.name
          .sub.header= I18n.l(diagnosis.display_date, format: :long)
  .ui.segment
    - if diagnosis.step_completed?
      - diagnosis.needs.each do |need|
        - if needs_of_interest.blank? || needs_of_interest.include?(need)
          %h3.ui.header
            %span
              = need.subject
              .sub.header
                = need.matches.human_count
                - if need.abandoned?
                  .ui.label.basic.orange= t('diagnoses.diagnosis.last_activity_date', l: l(need.updated_at.to_date, format: :long))
            - if action_path.present?
              = link_to t('reminders_actions.to_do'), polymorphic_path(action_path, { id: need.id }),
                method: :post, class: 'ui button green'

          .ui.list
            - need.matches.each do |match|
              .item
                ⁃ #{match.expert.antenne.to_s}
