.ui.segment.selectable-item
  %a{ href: reminder_path(expert) }
    = person_block(expert, suffix: t('.expert_creation_date', date: I18n.l(expert.created_at.to_date, format: :long)))

    %p
      .ui.four.column.grid.center.aligned
        .row
          - needs = expert.needs_quo
          .column
            .ui.basic.label= needs.count
            %p= t('.received_needs_quo_not_taken')
          .column
            - abandoned_count = needs.abandoned.count
            .ui.label{ class: abandoned_count > 0 ? 'orange' : 'basic' }= abandoned_count
            %p= t('.received_needs_abandoned_quo_not_taken')
          - needs = expert.needs_taking_care
          .column
            .ui.basic.label= needs.count
            %p= t('.received_needs_taking_care')
          .column
            - abandoned_count = needs.abandoned.count
            .ui.label{ class: abandoned_count > 0 ? 'orange' : 'basic' }= abandoned_count
            %p= t('.received_needs_abandoned_taking_care')
