.ui.grid
  .one.wide.row
    .column
      = person_block(expert, suffix: t('.expert_creation_date', date: I18n.l(expert.created_at.to_date, format: :long)))
.ui.grid
  .row
    .nine.wide.column
      %h5.ui.header= t('.matches_total')
      .ui.labels
        .ui.basic.label
          = expert.received_matches.count
          .detail= t('.matches_total_received')
        .ui.basic.label
          = expert.received_matches.where(status: :taking_care).count
          .detail= t('.matches_total_taken_care_of')
        .ui.basic.label
          = expert.received_matches.where(status: :done).count
          .detail= t('.matches_total_done')
        .ui.basic.label
          = expert.received_matches.where(status: :not_for_me).count
          .detail= t('.matches_total_not_for_me')
    .seven.wide.column
      %h5.ui.header= t('.received_needs_abandoned')
      .ui.labels
        - abandoned_count = expert.needs_quo.abandoned.count
        .ui.label{ class: abandoned_count > 0 ? 'orange' : 'basic' }
          = abandoned_count
          .detail{ title: t('.received_needs_abandoned_quo_not_taken_tooltip') }
            = t('.received_needs_abandoned_quo_not_taken')
        - abandoned_count = expert.needs_taking_care.abandoned.count
        .ui.label{ class: abandoned_count > 0 ? 'yellow' : 'basic' }
          = abandoned_count
          .detail{ title: t('.received_needs_abandoned_taking_care_tooltip') }
            = t('.received_needs_abandoned_taking_care')
        - abandoned_count = expert.needs_others_taking_care.abandoned.count
        .ui.label{ class: abandoned_count > 0 ? 'yellow' : 'basic' }
          = abandoned_count
          .detail{ title: t('.received_needs_abandoned_others_taking_care_tooltip') }
            = t('.received_needs_abandoned_others_taking_care')
