%h1.ui.header
  = t('reminders.index.title')

.ui.breadcrumb
  = link_to t('reminders.index.title'), reminders_path, class: 'section'
  -# section is either :needs or :experts
  %span.ri-arrow-right-s-line.divider
  = link_to t(section, scope: 'reminders.section'), polymorphic_path([:reminders, section]), class: 'section'
  -# In the :needs section, we can also have one more level for the current scope
  - if defined?(scope)
    %span.ri-arrow-right-s-line.divider
    = link_to t(scope, scope: 'reminders.needs.scopes.name'), polymorphic_path([scope, :reminders, :needs]), class: 'section'
  -# In the :experts section, we can also have one more levek for the current expert
  - if defined?(expert)
    %span.ri-arrow-right-s-line.divider
    = link_to expert, reminders_expert_path(expert), class: 'section'
