.fr-sidemenu__title
  = t('reminders.section.needs')

%ul.fr-sidemenu__list
  - collections_counts.each do |name, count|
    - path = polymorphic_path([name, :reminders, :needs])
    = menu_link_with_count(count, path, class: 'item') do
      = t(name, scope: 'reminders.needs.scopes.name')
      - detail = t(name, scope: 'reminders.needs.scopes.detail', days: Need::REMINDERS_DAYS[name])
      %i (#{detail})

.fr-sidemenu__title.fr-mt-6w
  = t('reminders.section.experts')

%ul.fr-sidemenu__list
  %li.fr-sidemenu__item
    = menu_link_with_count(experts_count, reminders_experts_path, class: 'item') do
      = Expert.model_name.human.pluralize

