= menu_link_with_count(t('reminders.needs.menu.reminder_quo_not_taken_html'), count_needs[:reminder_quo_not_taken], quo_not_taken_reminders_needs_path)
= menu_link_with_count(t('reminders.needs.menu.reminder_to_recall_html'), count_needs[:reminder_to_recall], to_recall_reminders_needs_path)
= menu_link_with_count(t('reminders.needs.menu.reminder_institutions_html'), count_needs[:reminder_institutions], institutions_reminders_needs_path)
= menu_link_with_count(t('reminders.needs.menu.abandoned_without_taking_care_html'), count_needs[:abandoned_without_taking_care], abandoned_reminders_needs_path)
.ui.divider
= active_link_to Expert.model_name.human.pluralize, reminders_experts_path, { class: 'item' }
