= menu_link_with_count(t('reminders.needs.menu.reminders_to_poke_html'), count_needs[:reminders_to_poke], to_poke_reminders_needs_path)
= menu_link_with_count(t('reminders.needs.menu.reminders_to_recall_html'), count_needs[:reminders_to_recall], to_recall_reminders_needs_path)
= menu_link_with_count(t('reminders.needs.menu.reminders_to_warn_html'), count_needs[:reminders_to_warn], to_warn_reminders_needs_path)
= menu_link_with_count(t('reminders.needs.menu.abandoned_without_taking_care_html'), count_needs[:abandoned_without_taking_care], abandoned_reminders_needs_path)
.ui.divider
= active_link_to Expert.model_name.human.pluralize, reminders_experts_path, { class: 'item' }
