- cache [need, action] do
  .card-reminders-need.fr-my-4w
    .card__header.fr-enlarge-link
      .card__title
        %h2= link_to need.company.name, need_path(need, origin: 'reminders')
        %span.subtitle= I18n.l(need.display_date, format: :long)
      = status_label(need)
    .fr-card__body
      .card__need.fr-mb-2w
        .card__need-title
          %h3.fr-h6
            = need.subject
          .subtitle
            = need.matches.human_count
            - if need.abandoned?
              .label.label--sm.orange= t('diagnoses.diagnosis.last_activity_date', l: l(need.updated_at.to_date, format: :long))
        .card__need-action
          - if action.present?
            = link_to t(action, scope: 'reminders.needs.scopes.mark_done'), polymorphic_path([action, :reminders_action], { id: need.id }),
              method: :post, class: "fr-btn #{action == :archive ? 'btn-red' : 'btn-green'}"
      .card__match-list.fr-mb-2w
        - need.matches.each do |match|
          .item
            ⁃ #{match.expert.antenne.to_s}
      .card__feedbacks
        .ui.feed.feedbacks
          %div{ id: "display-feedbacks-#{need.id}" }
            = render partial: 'feedbacks/feedback', collection: need.reminder_feedbacks
          = render 'feedbacks/form', feedback: need.reminder_feedbacks.new

        .item.show-feedbacks-form{ 'data-feedbackable': "#{need.id}" }
          %button.fr-btn.fr-btn--secondary
            = t('feedbacks.add')
