- meta title: @landing.title, description: @landing.subtitle

.hero.hero__background{ style: solicitation_background_style }
  .hero__container
    %h1.hero_title= @landing.title
    %h2.hero_subtitle= @landing.subtitle
    %h3
      %a.button{ href: @url_to_root }= @landing.button

- if @landing.logos.present?
  %section.section.section-white
    .container
      %h2.section__title
        = t('.institutions.title')
      .logo-list
        - @landing.logos.split(' ').each do |logo_slug|
          = institution_image(logo_slug)
