- meta title: @landing.title, description: @landing.subtitle

.hero.hero__background{ style: solicitation_background_style }
  .hero__container
    %h1.hero__title= @landing.title
    %h2.hero__subtitle= @landing.subtitle
    .hero__call-to-action
      %a.button{ href: @url_to_root }= @landing.button

- if @landing.landing_topics.present?
  %section.section.section-grey.landing-topics-section
    .container
      .row
        = render @landing.landing_topics.ordered_for_landing

- if @landing.logos.present?
  %section.section.section-white
    .container
      %h2.section__title
        = t('.institutions.title')
      .logo-list
        - @landing.logos.split(' ').each do |logo_slug|
          = institution_image(logo_slug)
