.ui.long.modal#company-name-modal
  %i.close.icon
  .header= t('.add_company')
  .content
    %p= t('.you_have_two_choices')
    .ui.aligned.basic.segment
      #company-siret-wrapper
        = form_for :company, url: search_by_siret_companies_path, remote: true, html: {class: 'ui form', id: 'company-siret-form'} do |f|
          .inline.fields
            .field
              .ui.labeled.input
                = f.label :siret, for: 'company-siret', class: 'ui label'
                %input{type: 'text', pattern: Facility::NUMBER_PATTERN, required: true, name: 'siret', id: 'company-siret'}
            %button.ui.blue.button#company-siret-submit= t('save')

      .ui.horizontal.divider
        = t('.or')

      %p= t('.search_by_name_and_county')
      #company-name-search{data: {search_by_siren_url: search_by_siren_companies_path}}
        = form_for :company, url: search_by_name_companies_path, remote: true, html: {class: 'ui form', id: 'company-name-search-form'} do |f|
          .inline.fields
            .field
              .ui.labeled.input
                = f.label :name, t('activerecord.attributes.company.name'), class: 'ui label'
                = f.text_field :name, required: true
            .field
              .ui.labeled.input
                = f.label :county, t('.county'), for: 'county-input', class: 'ui label'
                = f.text_field :county, pattern: '[0-9]{2,3}', id: 'county-input', required: true
            = f.button t('.search'), class: 'ui blue button'
