= t('.hello')
%br
= t('.i_just_met_this_company', visit_date: visit_date, company_name: company_user.institution)
%br
= t('.they_need_advice', advice_type: advice_type, offer: offer, expert_institution: expert_institution)
%br
= t('.company_contact_is', company_contact_full_name: company_user.full_name, company_contact_role: company_user.role, company_contact_phone_number: company_user.phone_number)
%br
= t('.regards')
%br
= advisor_user.full_name