= t('.hello_all')
%br

= t('.i_just_met_this_company', visit_date: visit_date, company_name: company_name)
%br

= t('.they_need_advice', need: need)
%br

= t('.reso_advised_several_assistances')
%ul
  - assistances.each do |assistance|
    %li= "#{assistance[:title]} de #{assistance[:institution]}"

- company_contact_contact_type = company_user.phone_number.presence || company_user.email
= t('.company_contact_is', company_contact_full_name: company_user.full_name, company_contact_role: company_user.role, company_contact_contact_type: company_contact_contact_type)
%br

= t('.you_can_reply_all')
%br

= t('.regards')
%br

= advisor_user.full_name
