%h2= t('.your_contact_in_the_company')
%p= t('.info_about_who_you_saw_during_your_visit')

= form_for @visit, url: update_visitee_visit_path, html: { method: :patch, class: 'ui form' } do |f|
  = f.hidden_field :siret
  = f.hidden_field :added_by_advisor, value: true
  = f.fields_for :visitee do |visitee_form|
    .field
      = visitee_form.label :first_name
      = visitee_form.text_field :first_name
    .field
      = visitee_form.label :last_name
      = visitee_form.text_field :last_name
    .field
      = visitee_form.label :email
      = visitee_form.text_field :email
    .field
      = visitee_form.label :role
      = visitee_form.text_field :role
    .field
      = visitee_form.label :institution
      = visitee_form.text_field :institution
    .field
      = visitee_form.label :phone_number
      = visitee_form.text_field :phone_number
  .actions
    = f.submit t('save'), class: 'ui button green'