%h2= t('.new_visit')
%p= t('.new_visit_introduction_text')

= form_for @visit, html: { method: :post, class: 'ui form', id: 'new-visit-form' } do |f|
  .field
    = f.label :happened_at
    .ui.calendar#datepicker
      .ui.input.left.icon
        %i.calendar.icon
        = f.text_field :happened_at, required: true
  .field
    = f.label :company
    %input{type: 'hidden', name: 'visit[siret]', id: 'visit-siret', pattern: Company::NUMBER_PATTERN, required: true}
    #company-info.ui.segment
      %p
        = t('activerecord.attributes.company.name')
        %span.name
      %p
        = t('.location')
        %span.location
      .ui.teal.labeled.icon.mini.button.open-company-name-modal
        = t('edit')
        %i.pencil.icon
    .ui.teal.labeled.icon.button.open-company-name-modal#add-company
      = t('.add_company')
      %i.add.icon
  .actions#new-visit-submit-wrapper
    = f.submit t('save'), class: 'ui button green'

- content_for :head do
  = stylesheet_link_tag 'semantic-ui-calendar.min.css', media: 'all', data: {turbolinks_track: 'reload'}

- content_for :body_bottom do
  = javascript_include_tag 'semantic-ui-calendar.min.js', data: {turbolinks_track: 'reload'}

= render partial: 'add_company_modal'
