%h2= t('.new_visit')
%p= t('.new_visit_introduction_text')

= form_for @visit, html: { method: :post, class: 'ui form' } do |f|
  .field
    = f.label :happened_at
    = f.date_field :happened_at, autofocus: true, required: true
  .field
    = f.label :siret
    = f.text_field :siret, pattern: '[0-9]{9,14}', required: true
  .actions
    = f.submit t('save'), class: 'ui button green'

#company-name-search
  #company-name-search-form
    %p= t('.search_by_company_name')
    = form_for :company, url: search_by_name_companies_path, remote: true, html: {class: 'ui form'} do |f|
      .inline.fields
        .field
          = f.label :name, t('activerecord.attributes.company.name')
          = f.text_field :name, value: 'Octo', required: true
          = f.label :county, t('.county')
          = f.text_field :county, pattern: '[0-9]{2,3}', value: 75, required: true
        = f.button t('.search'), class: 'ui blue button'
