= form_for @active_admin_import_model, url: { action: :do_import }, html: { multipart: true } do |f|
  %fieldset.inputs
    %legend
      %span= t('active_admin.csv_import.title', model_name: resource_class.model_name.human.pluralize)
    %ol
      %li
        = f.label :file, t('active_admin.csv_import.label')
        = f.file_field :file, required: true
  %fieldset.actions
    %ol
      %li
        = f.submit t('active_admin.csv_import.button'), data: { :disable_with => t("active_admin.csv_import.button_disabled") }

%form
  %fieldset.inputs
    %legend
      %span= t('active_admin.csv_import.example_title')
    %ol
      %li
        %label= t('active_admin.csv_import.example_label')
        %textarea.textarea-monospace{ readonly: true, rows: 10 }
          = resource_class.csv_example(current_user)
