.logo-list
  = prefet_region_logo(session[:region_code])
  = region_logo(session[:region_code])
  = all_institutions_images
.title
  %p= t('.title')
  %p= t('.more_partners_html', path: comment_ca_marche_path(anchor: 'liste-partenaires'))
