- meta title: t('.meta.title'), description: t('.meta.description')

.fr-container-fluid.fr-py-3w.fr-mt-3v.home-banner
  .fr-container
    .fr-grid-row.fr-grid-row--gutters
      .fr-col-12.fr-col-md-7#col-text
        .home-title
          %h1
            = t('.question')
          %p
            = t('.answer')
          .fr-grid-row#links
            .fr-col-12.fr-col-md-6
              = render 'pages/cta_button'
            .fr-col-12.fr-col-md-6.fr-my-2w.fr-my-md-0
              = link_to t('.how-it-works'), comment_ca_marche_path, class: 'blue'
      .fr-col-12.fr-col-md-5#col-image
        = image_tag('home.png', alt: "")

.fr-container-fluid.section-light-grey.fr-py-6w#scroll-section

.fr-container-fluid.section-grey.fr-py-4w.home.landing
  .fr-container
    - unless in_iframe?
      - @landing_emphasis.each do |landing|
        .block-link
          .emphasis.fr-grid-row
            .fr-col-md-1.fr-col-3.display-flex-center
              - if landing.main_logo
                = display_logo(name: landing.main_logo)
            .fr-col-md-3.fr-col-9.display-flex-center
              = simple_format("#{landing.title} : ", {}, wrapper_tag: 'h2')
            .fr-col-md-5.fr-col-12.fr-my-md-0.fr-my-2w.display-flex-center
              = simple_format(landing.home_description, { class: 'fr-m-0' }, wrapper_tag: 'p')
            .fr-col-md-3.fr-col-12.display-flex-center
              = link_to t('.discover_measures'), landing, class: 'fr-btn fr-btn--secondary'
    = render 'multiple_steps', landing_themes: @landing_themes, landing: @landing

.fr-container-fluid.section-partners.fr-py-7w.section-light-grey
  .fr-container.text-center
    - cache("institutions-#{session[:region_code]}", expires_in: 1.minute) do
      = render 'index_institutions'

.fr-container-fluid.fr-py-7w
  .fr-container
    = render 'newsletter'
