- meta title: t('.meta.title'), description: t('.meta.description')

.fr-container-fluid.fr-my-3w.home-banner
  .fr-container
    .fr-grid-row.fr-grid-row--gutters
      .fr-col-12.fr-col-md-7#col-text
        .home-title
          %h1
            = t('.question')
          %p
            = t('.answer')
          .fr-grid-row#links
            .fr-col-12.fr-col-md-6
              = render 'pages/cta_button'
            .fr-col-12.fr-col-md-6.fr-my-2w.fr-my-md-0
              = link_to t('.how-it-works'), comment_ca_marche_path, class: 'text-blue'
      .fr-col-12.fr-col-md-5#col-image
        = image_tag('home.png', alt: "")
-#
-# .section.section-light-grey.blank-section#scroll-section
-#
-# %section.section.section-grey.landing-theme-section
-#   .container
-#     - unless in_iframe?
-#       - @landing_emphasis.each do |landing|
-#         .block-link
-#           .emphasis.notification.warning
-#             .emphasis-header
-#               - if landing.main_logo
-#                 = display_image(name: landing.main_logo)
-#               = simple_format("#{landing.title} : ", {}, wrapper_tag: 'h2')
-#             = simple_format(landing.home_description, {}, wrapper_tag: 'span')
-#             #button-discover= link_to t('.discover_measures'), landing, class: 'button-outline small primary'
-#
-#     = render 'multiple_steps', landing_themes: @landing_themes, landing: @landing
-#
-# .section.section-lightest-grey.section-partners
-#   .container.text-center
-#     - cache("institutions-#{session[:region_code]}", expires_in: 1.minute) do
-#       = render 'index_institutions'
-#
-#   %section.section.section-white.container-newsletter#section-newsletter
-#     .container
-#       = render 'newsletter'
-#
