:ruby
  meta title: @landing.meta_title.presence || @landing.title,
    description: @landing.meta_description.presence

- cache_unless(flash.present?, @landing) do

  - unless in_iframe?
    %section.section.section-white.landing.less-padding
      .container
        .row.landing-header
          .title
            .heading
              - if @landing.main_logo
                = display_image(name: @landing.main_logo)
              %h1= @landing.title
            %p.subtitle= t('landings.landings.home.answer')
            .links
              = render 'pages/cta_button'
          .image
            = image_tag('home.png', alt: "")

  - unless in_iframe?
    #scroll-section
  - if @landing.layout_single_page?
    = render 'single_page', landing_themes: @landing.landing_themes, landing: @landing

  - else
    %section.section.section-grey.landing-theme-section
      .container
        = render 'multiple_steps', landing_themes: @landing_themes, landing: @landing

  - unless in_iframe?
    %section.section.section-light-grey.landing
      = render 'pages/how_it_works'

    %section.section.section-white
      .container
        = render 'institutions', item: @landing
