:ruby
  meta title: @landing.meta_title.presence || @landing.title,
    description: @landing.meta_description.presence

- cache_unless(flash.present?, [@landing, @landing_themes, query_params]) do

  - unless in_iframe?
    .fr-container-fluid.fr-py-7w.fr-mt-3v.home-banner
      .fr-container
        .fr-grid-row.fr-grid-row--gutters
          .fr-col-12.fr-col-md-7#col-text
            .home-title
              .heading
                - if @landing.main_logo
                  = display_image(name: @landing.main_logo, extra_params: { class: 'fr-mr-2w' })
                %h1.fr-m-0= @landing.title
              %p.fr-mt-3w= t('landings.landings.home.answer')
              .fr-grid-row#links
                = render 'pages/cta_button'
          .fr-col-12.fr-col-md-5#col-image
            = image_tag('home.png', alt: "")

  - unless in_iframe?
    #scroll-section
  - if @landing.layout_single_page?
    = render 'single_page', landing_themes: @landing.landing_themes, landing: @landing

  - else
    .fr-container-fluid.section-grey.fr-py-4w.landing-theme-section.landing
      .fr-container
        = render 'multiple_steps', landing_themes: @landing_themes, landing: @landing

  - unless in_iframe?
    .fr-container-fluid.section-grey.landing
      = render 'pages/how_it_works'

    .fr-container.fr-py-7w
      = render 'logos', landing: @landing

  - if in_iframe? && @landing.display_pde_partnership_mention?
    = render 'landings/landings/pde_partnership_mention'
