- meta title: t('.title')

.fr-container
  %h1= t('.title')

  %h2= t('activerecord.models.need.other')
  %ul
    %li
      = link_to t('needs.collections.quo_active'), quo_active_needs_path
    %li
      = link_to t('needs.collections.taking_care'), taking_care_needs_path
    %li
      = link_to t('needs.collections.done'), done_needs_path
    %li
      = link_to t('needs.collections.not_for_me'), not_for_me_needs_path
    %li
      = link_to t('needs.collections.expired'), expired_needs_path
    - if policy(User).manager?
      %li
        = link_to current_user.managed_antennes.many? ? t('application.navbar.antennes_needs') : t('application.navbar.antenne_needs'), manager_needs_path
    - if policy(:report).show_navbar?
      %li
        = link_to t('reports.index.title'), reports_path

  %h2.fr-mt-10v= t('application.navbar.profile')
  %ul
    %li
      = link_to t('users.menu.informations'), edit_user_path
    %li
      = link_to t('users.menu.password'), password_user_path
    %li
      = link_to t('users.menu.antenne'), antenne_user_path

  %h2.fr-mt-10v= t('.general')
  %ul
    %li
      = link_to t('user_pages.tutoriels.title'), tutoriels_path
    %li
      = link_to t('stats.public.index.title'), public_index_path
    %li
      = link_to t('cgu'), cgu_path
    %li
      = link_to t('about.mentions_d_information.title'), mentions_d_information_path
    %li
      = link_to t('about.mentions_legales.title'), mentions_legales_path
    %li
      = link_to t('about.accessibilite.footer_title'), accessibilite_path
