= form_with model: badge, local: true do |f|
  .fr-input-group
    = f.label :title, class: 'fr-label'
    = f.text_field :title, class: 'fr-input'
  .fr-select-group
    = f.label :category, class: 'fr-label'
    = f.select :category, Badge.categories.map { |c| [t(c.first, scope: 'activerecord.attributes.badge/categories'), c.first] }, {}, { class: 'fr-select' }
  .fr-input-group
    = f.label :color, class: 'fr-label'
    = f.color_field :color
  = f.submit t('.save'), class: 'fr-btn'
