.tiles
  .grid
    = active_link_to quality_team_index_path, class: 'tile' do
      %span.ri-award-fill.tile__icon
      %h2= t('.quality')
    = active_link_to matches_team_index_path, class: 'tile' do
      %span.ri-group-line.tile__icon
      %h2= t('.matches')
    -# = active_link_to deployment_team_index_path, class: 'tile' do
    = link_to '#', class: 'tile' do
      %span.ri-rocket-2-fill.tile__icon
      %h2= t('.deployment')
