.fr-container.fr-mb-3w
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-4
      .fr-tile.fr-enlarge-link
        .fr-tile__body
          %h2.fr-tile__title
            = active_link_to quality_team_index_path, class: 'fr-tile__link' do
              %span.ri-award-fill.tile__icon
              = t('.quality')
    .fr-col-12.fr-col-md-4
      .fr-tile.fr-enlarge-link
        .fr-tile__body
          %h2.fr-tile__title
            = active_link_to matches_team_index_path, class: 'fr-tile__link' do
              %span.ri-group-line.tile__icon
              = t('.matches')
    .fr-col-12.fr-col-md-4
      .fr-tile.fr-enlarge-link
        .fr-tile__body
          %h2.fr-tile__title
            = link_to '#', class: 'fr-tile__link' do
              %span.ri-rocket-2-fill.tile__icon
              = t('.deployment')
