.fr-container.fr-mb-3w
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-4
      .fr-tile.fr-enlarge-link
        .fr-tile__body
          %h2.fr-tile__title
            = active_link_to public_team_index_path, class: 'fr-tile__link' do
              %span.ri-bar-chart-fill.tile__icon.fr-mr-2v{ 'aria-hidden': 'true' }
              = t('stats.team.public')
    .fr-col-12.fr-col-md-4
      .fr-tile.fr-enlarge-link
        .fr-tile__body
          %h2.fr-tile__title
            = active_link_to needs_team_index_path, class: 'fr-tile__link' do
              %span.ri-file-copy-2-line.tile__icon.fr-mr-2v{ 'aria-hidden': 'true' }
              = t('stats.team.needs')
    .fr-col-12.fr-col-md-4
      .fr-tile.fr-enlarge-link
        .fr-tile__body
          %h2.fr-tile__title
            = active_link_to matches_team_index_path, class: 'fr-tile__link' do
              %span.ri-group-line.tile__icon.fr-mr-2v{ 'aria-hidden': 'true' }
              = t('stats.team.matches')
