.fr-container--fluid.fr-mb-3w
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-3
      .fr-tile.fr-tile--sm.fr-enlarge-link
        .fr-tile__body
          .fr-tile__content
            %h2.fr-tile__title
              = link_to t('stats.team.public'), public_team_index_path(params: filter_params)
        .fr-tile__header
          .fr-tile__pictogram
            = display_svg("pictos-dsfr/internet.svg")
    .fr-col-12.fr-col-md-3
      .fr-tile.fr-tile--sm.fr-enlarge-link
        .fr-tile__body
          .fr-tile__content
            %h2.fr-tile__title
              = link_to t('stats.team.needs'), needs_team_index_path(params: filter_params)
        .fr-tile__header
          .fr-tile__pictogram
            = display_svg("pictos-dsfr/document.svg")
    .fr-col-12.fr-col-md-3
      .fr-tile.fr-tile--sm.fr-enlarge-link
        .fr-tile__body
          .fr-tile__content
            %h2.fr-tile__title
              = link_to t('stats.team.matches'), matches_team_index_path(params: filter_params)
        .fr-tile__header
          .fr-tile__pictogram
            = display_svg("pictos-dsfr/city-hall.svg")
    .fr-col-12.fr-col-md-3
      .fr-tile.fr-tile--sm.fr-enlarge-link
        .fr-tile__body
          .fr-tile__content
            %h2.fr-tile__title
              = link_to t('stats.team.acquisition'), acquisition_team_index_path(params: filter_params)
        .fr-tile__header
          .fr-tile__pictogram
            = display_svg("pictos-dsfr/data-visualization.svg")
