- meta title: t(action_name, scope: [:stats, :team])
- content_for :head do
  - javascript_include_tag 'highcharts', data: { 'turbo-track': 'reload' }

.fr-container.fr-py-7w.fr-mt-3v
  %h1= t(action_name, scope: [:stats, :team])

= render 'pages/breadcrumbs', title: t('.title')

.fr-container--fluid.fr-py-7w.section-grey#section-stats
  .fr-container
    = render 'tabs'
    = render 'stats_params', stats: @stats, institution_antennes: @institution_antennes
    .fr-grid-row.fr-grid-row--gutters#stats-charts
      = render 'stats/stats_charts', stats: @stats, charts_names: @charts_names
