- meta title: t(action_name, scope: [:stats, :team])
- content_for :head do
  - javascript_include_tag 'highcharts', data: { 'turbo-track': 'reload' }

.fr-container.fr-py-7w.fr-mt-3v
  %h1= t(action_name, scope: [:stats, :team])

= render 'pages/breadcrumbs', title: t('.title')

.fr-container--fluid.fr-py-7w.section-grey#section-stats
  .fr-container
    = render 'tabs', filter_params: stats_filter_params
    = render 'stats_params', stats: @stats_params, institution_antennes: @institution_antennes, iframes: @iframes, themes: @themes, subjects: @subjects
    - if action_name == 'matches' && @stats_params[:institution].blank?
      .fr-alert.fr-alert--warning.white-bg.fr-my-3w
        %p= t('.select_partner')
    - elsif action_name == 'public' && @stats_params[:institution].present?
      .fr-alert.fr-alert--warning.white-bg.fr-my-3w
        %p= t('.unselect_partner')

    .fr-grid-row.fr-grid-row--gutters#stats-charts
      - @charts_names.each do |name|
        .fr-col-12.card.stats
          = turbo_frame_tag name, stats_params: @stats_params, src: load_data_team_index_path(chart_name: name) do
            = render 'stats/skeleton_card'
