- meta title: t('.title')
- content_for :head do
  - javascript_include_tag 'highcharts', data: { turbolinks_track: 'reload' }

%section.section.section-white.landing
  .container.container
    %h1= t('.title')

= render 'pages/breadcrumbs', title: t('.title')

%section.section.section-grey#section-stats
  .container.container-full
    = render 'tabs'
    = render 'stats/stats_params', stats: @stats, route: request.url
    = render 'stats/stats_charts', stats: @stats, charts_names: @charts_names
