%table
  %thead
    %tr
      %th= t('activerecord.models.company.one')
      %th= t('activerecord.models.question.one')
      %th
  %tbody
    - matches.each do |match|
      - diagnosis = match.diagnosed_need.diagnosis
      - more_info_url = besoins_url(diagnosis, access_token: access_token)
      %tr
        %td= match.diagnosed_need.diagnosis.visit.company_name
        %td= match.diagnosed_need.question
        %td= link_to t('.show_information'), more_info_url
