- return if received_needs.blank?

%h2= title
%p= local_assigns[:subtitle]
- diagnoses = Diagnosis.where(needs: received_needs).distinct.order!(happened_on: :desc)
- diagnoses.each do |diagnosis|
  %h3
    %a{ href: need_url(diagnosis) }= diagnosis.company.name
  = t('mailers.expert_mailer.remind_involvement.visited_at', date: I18n.l(diagnosis.display_date, format: :long))
  %ul
    - diagnosis.needs.merge(received_needs).each do |need|
      %li
        = need.subject
  .button
    %a{ href: need_url(diagnosis) }= t('mailers.expert_mailer.remind_involvement.reply')
