- return if received_needs.blank?

%h2= title
%p= local_assigns[:subtitle]
- diagnoses = Diagnosis.where(needs: received_needs).distinct.order!(happened_on: :desc)
- diagnoses.each do |diagnosis|
  %h3
    - company_link = diagnosis.facility.siret.present? ? company_url(diagnosis.facility.siret) : '#'
    = t('.company')
    = link_to diagnosis.company.name, company_link
    - if visited_at
      = t('mailers.expert_mailer.remind_involvement.visited_on', date: I18n.l(diagnosis.display_date, format: :long))
    - else
      = t('mailers.expert_mailer.remind_involvement.visited_days_ago', days: distance_of_time_in_words(Time.now.to_date, diagnosis.display_date), advisor: diagnosis.advisor.full_name)
  %ul
    - diagnosis.needs.merge(received_needs).each do |need|
      %li
        = need.subject
      .button
        %a{ href: need_url(need) }= t('mailers.see_diagnosis')
