%table
  %thead
    %tr
      %th= t('activerecord.models.company.one')
      %th= t('activerecord.models.question.one')
      %th
  %tbody
    - selected_assistances_experts.each do |selected_assistance_expert|
      - diagnosis_id = selected_assistance_expert.diagnosed_need.diagnosis.id
      - more_info_url = diagnosis_experts_url(diagnosis_id: diagnosis_id, access_token: access_token)
      %tr
        %td= selected_assistance_expert.diagnosed_need.diagnosis.visit.company_name
        %td= selected_assistance_expert.diagnosed_need.question
        %td= link_to t('.show_information'), more_info_url

:sass
  table, td, th
    border: 1px solid #ddd
    border-collapse: collapse
  th, td
    padding: 5px