= render 'mailers/header', institution_name: @expert.institution.name

%p= t('mailers.hello')

%p= t('.received_need')

%strong= t('.what_is_pde')

%p= t('.answer')

%p= t('.answer_continuation')

%p= t('.response_delay')

%strong= t('.need_help')

%p= t('.pde_contact')

= render 'mailers/expert_mailer/support_contacts'

%p= t('.watch_videos_html')

%p= t('mailers.see_you_on_place_des_entreprises_html', link_to_root: link_to(t('app_name'), root_url))
