= render 'mailers/header', institution_logo_name: @expert.institution.logo&.filename

%p= t('mailers.hello')

%p= t('.received_need')

%strong= t('.what_is_pde')

%p= t('.answer')

%p= t('.answer_continuation')

%p= t('.answer_3')

%p= t('.response_delay')

%strong= t('.need_help')

%p= t('.pde_contact')

= render 'mailers/expert_mailer/support_contacts', antenne: @expert.antenne

%p= t('.watch_videos_html')

%p= t('mailers.see_you_on_service_html', link_to_root: link_to(t('app_name'), root_url))
