= render 'mailers/header', institution_logo_name: @expert.institution.logo&.filename

%p= t('mailers.hello_name', name: @expert.full_name)

%p= t('.company_solicitation_html', company: @need.company.name, date: I18n.l(@need.solicitation.created_at, format: :sentence))

%p= link_to t('.link_to_need'), need_url(@need)

%p= t('.we_will_cancel_need')

%p= t('.at_your_disposal')

%p= t('mailers.sincerely')

%p= @support_user.full_name
