%p= t('.hello', name: @person.full_name)

:ruby
  link_to_root = link_to t('app_name'), root_url

%p
  = t('.this_company_needs_you_html', company_description: @diagnosis.facility)
  = t('.advisor_met_company',
   advisor_name_with_role: @diagnosis.advisor.full_name_with_role,
   visit_date: I18n.l(@diagnosis.display_date))

%p= t('.company_expressed_needs')

- @diagnosis.diagnosed_needs.ordered_for_interview.of_relay_or_expert(@person).each do |need|
  %h3.question= need.question
  - if need.content.present?
    %blockquote
      %p= simple_format(need.content)

%p= t('.details_on_place_des_entreprises')

:ruby
  more_info_url = if @access_token
    besoin_url(@diagnosis, access_token: @access_token)
  else
    besoin_url(@diagnosis)
  end

.button
  %a{ href: more_info_url }= t('.click_here')

%p= t('.see_you_on_place_des_entreprises_html', link_to_root: link_to_root)
