%p= t('.hello')

- link_to_root = link_to t('app_name'), root_url

- if @params[:readable_locality].present?
  - company_description = "#{@params[:company_name]} (#{@params[:readable_locality]})"
- else
  - company_description = @params[:company_name]
- advisor_met_company_params = { link_to_root: link_to_root,
  advisor_name: @params[:advisor].full_name,
  advisor_institution: @params[:advisor].institution,
  company_description: company_description,
  visit_date: @params[:visit_date] }

%p= t('.advisor_met_this_company_html', advisor_met_company_params)

%p= t('.needs_are_relevant_with_your_skills')

%ul
  - @params[:questions_with_needs_description].each do |question_with_need_description|
    %li
      = question_with_need_description[:question].label
      - if question_with_need_description[:need_description].present?
        %br
        = t('.more_info')
        = question_with_need_description[:need_description]

- company_contact_params = { company_name: @params[:company_name],
  company_contact_full_name: @params[:company_contact].full_name,
  company_contact_role: @params[:company_contact].role,
  company_contact_email: @params[:company_contact].email }

- if @params[:company_contact].phone_number.present?
  - phone_number_hash = { company_contact_phone_number: @params[:company_contact].phone_number }
  %p= t('.company_contact_with_phone_number', company_contact_params.merge(phone_number_hash))
- else
  %p= t('.company_contact_without_phone_number', company_contact_params)

:ruby
  more_info_url = if @access_token
                    diagnosis_experts_url(diagnosis_id: @params[:diagnosis_id], access_token: @access_token)
                  else
                    diagnosis_relays_url(diagnosis_id: @params[:diagnosis_id])
                  end
  more_info_link = link_to t('.by_clicking_here'), more_info_url
%p= t('.information_are_available_on_app_html', more_info_link: more_info_link)

- contact_advisor_params = { advisor_name: @params[:advisor].full_name,
  advisor_phone_number: @params[:advisor].phone_number,
  advisor_email: @params[:advisor].email }

%p= t('.contact_advisor_for_more_info', contact_advisor_params)
%p= t('.regards')
%p= t('.reso_team_html', link_to_root: link_to_root)
