%p= t('mailers.hello_name', name: @expert.full_name)

- needs = @diagnosis.needs.merge(@expert.received_needs)

%p= t('.this_company')
%blockquote
  %h1= @diagnosis.company
  .text-grey= @diagnosis.facility.commune_name
%p= t('.needs_you')

%p
  - if @solicitation.present?
    - if @solicitation.landing.partner_url.present?
      = t('.via_partner_html', date: I18n.l(@solicitation.created_at, format: :long), url: @solicitation.landing.partner_url)
    - else
      = t('.via_solicitation', date: I18n.l(@solicitation.created_at, format: :long))
  - else
    = t('.advisor_met_company',
     advisor_name_with_role: @diagnosis.advisor.full_name_with_role,
     visit_date: I18n.l(@diagnosis.display_date, format: :long))
  = t('.company_expressed_needs', count: needs.size)

- needs.ordered_for_interview.each do |need|
  %h2.subject= need.subject
  - if need.content.present?
    %blockquote
      %p= simple_format(auto_link(need.content))

.button
  %a{ href: need_url(@diagnosis) }= t('.reply')

= render 'mailers/expert_mailer/never_used_account_warning'

%p= t('mailers.see_you_on_place_des_entreprises_html', link_to_root: link_to(t('app_name'), root_url))
