%p= t('mailers.hello_name', name: @expert.full_name)

%p= t('.need_description_html',
  company_name: @match.company.name,
  subject: @match.subject,
  path: need_url(@match.need),
  expert: @match.expert.full_name,
  antenne: @match.expert.antenne.name)

%p= t('.complementary_help')

.button
  %a{ href: need_url(@match.need) }= t('mailers.see_diagnosis')

%p= t('mailers.see_you_on_place_des_entreprises_html', link_to_root: link_to(t('app_name'), root_url))
