= render 'mailers/header', institution_logo_name: @expert.institution.logo&.filename

%p= t('mailers.hello_name', name: @expert.full_name)

%p= t('.needs_quo_html', count: @expert.needs_quo.size, account_link: link_to(t('.user_account'), new_user_session_url, class: 'underline'))

%p= t('.call_me')

%p= t('.at_your_disposal')

%p= t('mailers.thank_uou')

%p= t('mailers.sincerely')

= render 'mailers/expert_mailer/support_user_signature', support_user: @support_user
