%p= t('mailers.hello')

%p= t('.you_received_need_html', company: @need.company.name, subject: @need.subject.label.downcase, url: need_url(@need))

%p= t('.its_been_a_while')

%p
  %strong= t('.position_yourself')

%p= t('.if_you_need_a_demo_html')

%p= t('.ask_questions')

%p= t('.at_your_service')

%p= t('see_you_soon')

= render 'mailers/expert_mailer/support_user_signature', support_user: @support_user
