%p= t('.hello', name: @person.full_name)

- link_to_root = link_to t('app_name'), root_url
%p= t('.here_is_a_summary_email_html', link_to_root: link_to_root)

- if @matches_with_no_one_in_charge.present?
  %h3= t('.needs_with_no_one_in_charge')
  %p= t('.companies_with_no_one_in_charge')
  - locals = { matches: @matches_with_no_one_in_charge,
  access_token: @access_token }
  = render partial: 'mailers/expert_mailer/reminders_match', locals: locals

- if @matches_needing_taking_care_update.present?
  %h3= t('.needs_being_taken_care_of')
  %p= t('.companies_being_taken_care_of')
  - locals = { matches: @matches_needing_taking_care_update,
  access_token: @access_token }
  = render partial: 'mailers/expert_mailer/reminders_match', locals: locals

%p= t('.see_you_on_place_des_entreprises_html', link_to_root: link_to_root)
