%ul.fr-sidemenu__list
  -# User settings
  = active_link_to t('.informations'), edit_user_path, { class: 'fr-sidemenu__link', wrap_tag: :li, wrap_class: 'fr-sidemenu__item', class_active: 'fr-sidemenu__item--active' }
  -# More User settings (password)
  = active_link_to t('.password'), password_user_path, { class: 'fr-sidemenu__link', wrap_tag: :li, wrap_class: 'fr-sidemenu__item', class_active: 'fr-sidemenu__item--active' }
  -# More User settings (Antenne)
  = active_link_to t('.antenne'), antenne_user_path, { class: 'fr-sidemenu__link', wrap_tag: :li, wrap_class: 'fr-sidemenu__item', class_active: 'fr-sidemenu__item--active' }
  -# Expert teams info
  = experts_items_in_section(user.experts.teams, :edit, t('.team'))
  -# Expert subjects (teams and non-empty personal skillsets)
  = experts_items_in_section(user.experts.relevant_for_skills, :subjects, t('.subjects'))
