.ui.segments
  %h3.ui.segment.block.header
    = expert.full_name
  .ui.segment
    %strong #{[t('activerecord.attributes.expert.role'), t('attributes.institution')].to_sentence} :
    = institution_image(expert.institution.name, class: 'ui mini right spaced image')
    #{expert.role}, #{expert.antenne.name}, #{expert.institution.name}
  - if expert.phone_number.present?
    .ui.segment
      %strong #{t('attributes.phone_number')} :
      = expert.phone_number
  .ui.segment
    %strong #{t('attributes.email')} :
    = expert.email
  - if !expert.users.count > 1
    .ui.segment
      %strong #{t('activerecord.attributes.expert.users', count: expert.users.size)} :
      %ul
        - expert.users.map do |user|
          %li= user.full_name + ', ' + user.role
  .ui.segment
    %strong #{t('activerecord.attributes.expert.experts_subjects.other')} : #{link_to t('.edit_subjects'), edit_expert_path(expert)}
    %ul
      - expert.experts_subjects.each do |expert_subject|
        %li
          %strong= expert_subject.institution_subject.subject.label
          %br
          = expert_subject.institution_subject.description
          %br
          = expert_subject.description
  .ui.segment
    %strong #{t('attributes.antenne')} :
    = expert.antenne.name
    %ul
      - expert.antenne.experts.map do |expert|
        %li= expert.full_name + ', ' + expert.role
