#profile
  .ui.segments
    - %i[full_name institution role phone_number email].each do |attribute|
      .ui.attached.segment
        %strong #{User.human_attribute_name(attribute)} :
        = @user.send(attribute)
    %a.ui.bottom.attached.basic.green.button{ href: edit_user_registration_path }= t('edit')

  // Relays
  - if @user.relays.present?
    %h2= t('activerecord.models.relay.one')
    .ui.segments
      %h3.ui.segment.block.header
        = t('activerecord.models.territory', count: @user.relays.size)
      - @user.relays.each do |relay|
        .ui.attached.segment
          = relay.territory.name

  // Teams
  - if @user.experts.present?
    %h2= t('activerecord.models.expert.one')
    - @user.experts.each do |expert|
      = render partial: 'needs/team', locals: { expert: expert, user: @user }
