.rf-container
  .rf-grid-row.rf-grid-row--center.rf-grid-row--gutters.rf-mb-5w
    .rf-col.rf-col-lg-6
      %h1.rf-h2= t('.password_reset')

      = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.hidden_field :reset_password_token
        %p= t('.password_reset_description')
        .rf-input-group
          = f.label :password, t('.new_password'), class: 'rf-label'
          - placeholder = t('devise.password_minimum_characters', count: @minimum_password_length)
          = f.password_field :password, placeholder: placeholder, autofocus: true, autocomplete: 'new-password', class: 'rf-input'
        .rf-input-group
          = f.label :password_confirmation, class: 'rf-label'
          = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'rf-input'
        .rf-input-group
          = f.submit t('.change_own_password'), class: 'rf-btn btn-green'

        = render 'devise/shared/links'
