.fr-container
  .fr-grid-row.fr-grid-row--center.fr-grid-row--gutters.fr-mb-5w
    .fr-col.fr-col-lg-6
      %h1.fr-h2= t('.password_reset')

      = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put, data: { turbo: false } } do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.hidden_field :reset_password_token
        %p= t('.password_reset_description')

        .fr-mb-2w
          = render 'password_tips'

        .fr-input-group{ 'data-controller': "password-visibility" }
          .justify-between.vertical-centered
            = f.label :password, t('.new_password'), class: 'fr-label'
            = render 'visibility_password_button'
          %span.fr-hint-text= t('devise.password_minimum_characters')
          = f.password_field :password, autocomplete: 'new-password', class: 'fr-input', data: { 'password-visibility-target': "input" }

        .fr-input-group{ 'data-controller': "password-visibility" }
          .justify-between.vertical-centered
            = f.label :password_confirmation, class: 'fr-label'
            = render 'visibility_password_button'
          = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'fr-input', data: { 'password-visibility-target': "input" }
        .fr-input-group
          = f.submit t('.change_own_password'), class: 'fr-btn'

        = render 'devise/shared/links'
