%h2= t('devise.forgot_password')

- url = password_path(resource_name)
= form_for resource, as: resource_name, url: url, html: { method: :post, class: 'ui form' } do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    = f.email_field :email, autofocus: true
  .actions
    = f.submit t('.send_me_reset_password_instructions'), class: 'ui button green'

= render 'devise/shared/links'
