.rf-container.rf-mb-6w
  .rf-grid-row.rf-grid-row--center.rf-grid-row--gutters
    .rf-col.rf-col-lg-6
      %h1.rf-mb-5w= t('devise.forgot_password')

      = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f|
        = render "devise/shared/error_messages", resource: resource
        .rf-input-group
          = f.label :email, class: 'rf-label'
          = f.email_field :email, class: 'rf-input', autofocus: true
        %p= t('.password_unknown_description')
        .rf-mt-3w
          = f.submit t('.send_me_reset_password_instructions'), class: 'rf-btn btn-green'

