.fr-container.fr-mb-6w
  .fr-grid-row.fr-grid-row--center.fr-grid-row--gutters
    .fr-col.fr-col-lg-6
      %h1.fr-mb-5w= t('devise.forgot_password')

      = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f|
        = render "devise/shared/error_messages", resource: resource
        .fr-input-group
          = f.label :email, class: 'fr-label'
          = f.email_field :email, class: 'fr-input', autofocus: true
        %p= t('.password_unknown_description')
        .fr-mt-3w
          = f.submit t('.send_me_reset_password_instructions'), class: 'fr-btn'

