- return if current_staff_user.blank?

#impersonating
  .impersonate-info
    Vous (
    %span.admin-name<>= current_staff_user
    ) voyez le site en tant que
    %span.user-name= current_user
    = " (ID #{current_user&.id})"

  .impersonate-buttons
    = form_with url: impersonate_engine.revert_impersonate_user_url, method: :delete, local: true, class: 'revert-form' do |f|
      = f.submit 'Retourner à l’admin'
