- meta title: t('.title')

%h1= t('.title')
%p= t('.you_can_contact_us')

.ui.relaxed.list
  - @contacts.each do |contact|
    .item
      .content
        .header= contact.full_name
        .description
          = contact.contact_page_role.html_safe
          %br
          = "Tel : #{contact.phone_number}"