- meta title: t('contact_us')

.ui.text.container#home-contact
  %h1= t('contact_us')

  %h2= t('.relays')
  %p= t('.contact_admins_for_local_purpose')
  .ui.two.column.grid
    - @relays.each do |user|
      .column
        .ui.fluid.card.relays-card{ class: random_color }
          .content
            .header= user.full_name
            .meta
              %span.role= user.role
              %br
              %span.institution= user.institution
            .description
              = t('.responsible_of_territories', count: user.relay_territories.size)
              %strong= user.relay_territories.map(&:name).uniq.join(', ')
          .extra.content
            %span.phone-number= user.phone_number
            %br
            %span.email= user.email

  %h2= t('.product_team')
  - mailto_link = mail_to ENV['APPLICATION_EMAIL'], ENV['APPLICATION_EMAIL'], target: :_blank
  %p= t('.contact_team_for_general_purpose_html', mailto_link: mailto_link)
  .ui.two.column.grid
    - @product_team.each do |user|
      .column
        .ui.fluid.card.product-team-card{ class: random_color }
          .content
            .header= user.full_name
            .description
              = user.contact_page_role.html_safe
