- cache [need, need.shared_satisfactions.find_by(user: current_user)] do
  .fr-mb-2w{ id: dom_id(need) }
    - shared_satisfaction = need.shared_satisfactions.find_by(user: current_user)
    - if shared_satisfaction.unseen?
      .fr-checkbox-group
        = check_box_tag 'shared_satisfactions_id[]', shared_satisfaction.id, false, data: { 'batch-check-target': 'cardCheckbox', action: 'change->batch-check#verifyChecked' }, id: "shared_satisfactions_id[#{shared_satisfaction.id}]", form: 'mark-all-as-seen'
        = label_tag "shared_satisfactions_id[#{shared_satisfaction.id}]", class: 'fr-label', for: "shared_satisfactions_id[#{shared_satisfaction.id}]" do
          = render 'need_card', need: need, shared_satisfaction: shared_satisfaction
    - else
      = render 'need_card', need: need, shared_satisfaction: shared_satisfaction
