= form_with url: request.path, method: :get, skip_enforcing_utf8: true, local: true, class: 'fr-mb-2w' do |f|
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-md-6.fr-col-12
      - options = { include_blank: t('all.feminine'), class: 'fr-select' }
      = f.label :by_region, t('attributes.region'), class: 'fr-label'
      = f.select(:by_region,
        options_for_select(possible_territories_options, index_search_params[:by_region]),
        options.dup, { class: 'fr-select fr-m-0' })
    .fr-col-md-6.fr-col-12
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-md-6.fr-col-12
      - if defined? needs
        %p= collection_count needs
    .fr-col-md-6.fr-col-12.text-right
      - if index_search_params.present?
        = link_to t('clear_search'), request.fullpath.split('?').first + "?reset_query=true", id: 'clear-search', class: 'fr-btn fr-btn--tertiary-no-outline'
      = f.submit t('search'), class: 'fr-btn', title: t('search')
