- meta title: t('.title')
- content_for :header, render('header', title: t('.title'))
- content_for :menu, render('menu', collections_count: @collections_by_suivi_qualite_count)

= render 'filters', needs: @needs

- if @needs.empty?
  .fr-container.text-center.fr-mt-18v
    .fr-h3= t('.no_results')
- else
  = paginate @needs

  - partial_name = (@action == :refused_feedback ? 'refused_feedback_need' : 'needs/admin_need')

  = render partial: partial_name, collection: @needs, as: :need, locals: { action: @action }

  = paginate @needs
