%h2= t('.frequently_questions')

.fr-accordions-group
  - faq.each do |item|
    %section.fr-accordion.faq
      %h3.fr-accordion__title
        %button.fr-accordion__btn{ 'aria-controls': "accordion-#{item[:id]}", 'aria-expanded': "false" }
          = item[:question]
      .fr-collapse{ id: "accordion-#{item[:id]}" }
        %p= simple_format(item[:answer])
