%footer.footer
  .container
    %ul.footer__links
      %li.marianne
        = image_tag 'Republique_Francaise_blanc.png', alt: t('logos.republique_francaise')
      %li.france-relance
        = image_tag 'logo-france-relance.png', alt: t('logos.france_relance')
    %ul.footer__links
      %li.title
        = image_tag 'place-des-entreprises-logo.png', alt: t('logos.pde'), class: 'logo-footer'
        %span= 'place-des-entreprises.beta.gouv.fr'
      %li.beta-link= link_to t('.startup_d_etat'), 'https://beta.gouv.fr/startups/place-des-entreprises', title: t('.link_to_beta_gouv')
      %li.social-network
        = link_to 'https://www.linkedin.com/company/place-des-entreprises', title: t('.linkedin_title'), target: '_blank', rel: 'noopener' do
          %span.ri-linkedin-box-fill{ 'aria-hidden': 'true' }
          %span.visually-hidden Linkedin
        = link_to 'https://twitter.com/place_des_ets', title: t('.twitter_title'), target: '_blank', rel: 'noopener' do
          %span.ri-twitter-fill{ 'aria-hidden': 'true' }
          %span.visually-hidden Twitter
        = link_to 'https://github.com/betagouv/place-des-entreprises', title: t('.github_title'), target: '_blank', rel: 'noopener' do
          %span.ri-github-fill{ 'aria-hidden': 'true' }
          %span.visually-hidden Github
    %ul.footer__links
      %li= link_to t('cgu'), cgu_path
      %li= link_to t('about.mentions_d_information.title'), mentions_d_information_path
      %li= link_to t('about.mentions_legales.title'), mentions_legales_path
      %li= link_to t('about.accessibilite.footer_title'), accessibilite_path
      %li= link_to t('usage_stats'), public_index_path
      - if policy(Stats::All).team?
        %li= link_to t('usage_team_stats'), team_index_path
      %li= link_to t('.service_presentation'), '/dossier-presse.pdf', 'aria-label': t('.service_presentation_title'), target: '_blank', rel: 'noopener'
      %li= link_to t('.cookies'), '#', id: 'open-cookies-box', 'aria-label': t('.open_cookies')
