.fr-container.how-it-works.fr-py-7w
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-4
      .icon.fr-mb-2w.text-center
        = image_tag('picto1.png', alt: '')
      %h2.fr-h5= t('.choose_subject_html')
      %p= t('.choose_subject_description')
    .fr-col-12.fr-col-md-4
      .icon.fr-mb-2w.text-center
        = image_tag('picto3.png', alt: '')
      %h2.fr-h5= t('select_expert_html')
      %p= t('.select_expert_description')
    .fr-col-12.fr-col-md-4
      .icon.fr-mb-2w.text-center
        = image_tag('picto2.png', alt: '')
      %h2.fr-h5= t('.expert_contacts_you_html')
      %p= t('expert_contacts_you_description_html')
      %p.asterisk= t('expert_contacts_you_asterisk_html')

  #learn-more
    - if request.path == comment_ca_marche_path
      .fr-grid-row
        .fr-col-12.fr-col-md-8.fr-col-offset-md-2
          .fr-content-media
            .fr-responsive-vid.youtube_player{ autoplay: "0", height: "100%", loading: "0", loop: "0", rel: "0", showinfo: "1", theme: "light", videoid: "t8bOQVgLUm0", width: "100%", title: [t('youtube_video'), t('.pde_presentation')].join(' : ') }
            .fr-content-media__caption= t('.pde_presentation')
          .fr-transcription
            %button.fr-transcription__btn{ 'aria-controls': 'fr-transcription-collapse-pde-presentation', 'aria-expanded': 'false' }= t('.read_transcription')
            .fr-collapse#fr-transcription-collapse-pde-presentation
              %dialog.fr-modal#fr-transcription-modal-pde-presentation{ role: 'dialog' }
                .fr-container.fr-container--fluid.fr-container-md
                  .fr-grid-row.fr-grid-row--center
                    .fr-col-12.fr-col-md-10.fr-col-lg-8
                      .fr-modal__body
                        .fr-modal__header
                          %button.fr-btn--close.fr-btn{ 'aria-controls': 'fr-transcription-modal-pde-presentation', title: t('pages.navbar.close') }
                            = t('pages.navbar.close')
                        .fr-modal__content
                          = render 'about/transcription_pde_presentation'
                        .fr-transcription__footer
                          .fr-transcription__actions-group
                            %button.fr-btn.fr-btn--fullscreen{ 'aria-controls': 'fr-transcription-modal-pde-presentation', 'data-fr-opened': 'false', title: t('.pde_presentation_transcription') }
                              = t('pages.navbar.extend')
    - else
      .bold.text-center
        %p= t('.learn_more_html')
