.fr-container.how-it-works
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-4
      .icon.fr-mb-2w.text-center
        = image_tag('picto1.png', alt: '')
      %h2.fr-h5= t('.choose_subject_html')
      %p= t('.choose_subject_description')
    .fr-col-12.fr-col-md-4
      .icon.fr-mb-2w.text-center
        = image_tag('picto3.png', alt: '')
      %h2.fr-h5= t('select_expert_html')
      %p= t('.select_expert_description')
    .fr-col-12.fr-col-md-4
      .icon.fr-mb-2w.text-center
        = image_tag('picto2.png', alt: '')
      %h2.fr-h5= t('.expert_contacts_you_html')
      %p= t('expert_contacts_you_description_html')
      %p.asterisk= t('expert_contacts_you_asterisk_html')

  .bold.text-center#learn-more
    - if request.path == comment_ca_marche_path
      .section-video
        .container-iframe
          .youtube_player{ autoplay: "0", height: "100%", loading: "0", loop: "0", rel: "0", showinfo: "1", theme: "light", videoid: "t8bOQVgLUm0", width: "100%" }
    - else
      %p= t('.learn_more_html')
