.fr-container.how-it-works.fr-py-7w
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-4.text-center
      .icon.fr-mb-2w
        = image_tag('picto1.png', alt: '')
      .fr-px-md-8w
        %h2.fr-h5.fr-mb-1v= t('.quick_title')
        %p= t('.quick_description')
    .fr-col-12.fr-col-md-4.text-center
      .icon.fr-mb-2w
        = image_tag('picto3.png', alt: '')
      .fr-px-md-8w
        %h2.fr-h5.fr-mb-1v= t('.personnalise_title')
        %p= t('.personnalise_description')
    .fr-col-12.fr-col-md-4.text-center
      .icon.fr-mb-2w
        = image_tag('picto2.png', alt: '')
      .fr-px-md-8w
        %h2.fr-h5.fr-mb-1v= t('.human_title')
        %p= t('.human_description')
