%header.fr-header#header-navigation{ role: "banner" }
  .fr-header__body
    .fr-container
      .fr-header__body-row
        .fr-header__brand.fr-enlarge-link
          .fr-header__brand-top
            .fr-header__logo
              %p.fr-logo
                = t('republique_francaise_html')
            .fr-header__navbar
              %button.fr-btn--menu.fr-btn#fr-btn-menu-mobile-4{ 'aria-controls': 'modal-responsive-menu', 'aria-haspopup': 'menu', 'data-fr-opened': 'false', title: "#{t('navbar.menu')}" }
                = t('navbar.menu')
          .fr-header__service
            = link_to root_path do
              = image_tag 'logo-ce.png', alt: t('navbar.service_alt'), width: '320px'
        .fr-header__tools
          %nav.fr-header__tools-links{ role: 'navigation' }
            %ul.fr-links-group
              %li
                = link_to t('experts_login'), user_signed_in? ? app_root_path : new_user_session_path, class: 'fr-link fr-icon-lock-line'
  .fr-header__menu.fr-modal#modal-responsive-menu{ 'aria-labelledby': 'fr-btn-menu-mobile-4' }
    .fr-container
      %button.fr-link--close.fr-link{ 'aria-controls': 'modal-responsive-menu' }= t('navbar.close')
      .fr-header__menu-links{ 'aria-label': 'Menu principal' }
      %nav.fr-nav{ 'aria-label': t("navbar.main_menu"), role: 'navigation' }
        = render "application/navbar/public"
