%header.section
  = render 'alert_region'
  .container

    .navbar__container
      %a.navbar__home{ href: '/' }
        = image_tag 'Republique_Francaise_RVB.png', alt: t('logos.republique_francaise'), class: 'navbar__logo'
        = image_tag 'logo-PDE.svg', alt: t('logos.pde'), class: 'navbar__domain'
      %button.burger-btn#responsive-button-main-navigation{ "aria-controls": "responsive-main-navigation", "data-action": "toggle-nav", "aria-label": t('pages.menu.unfold'), "aria-expanded": "false" }
        %span.burger-btn__bar
        %span.burger-btn__bar
        %span.burger-btn__bar
      %nav#responsive-main-navigation{ "data-target": "toggle-nav", role: "navigation" }
        %ul.nav__links
          %li.nav__item
            = link_to t('about.blog.title'), ENV['BLOG_URL']
          %li.nav__item
            = active_link_to t('about.comment_ca_marche.title'), comment_ca_marche_path
          %li.nav__item
            = active_link_to t('experts_login'),
             user_signed_in? ? needs_path : new_user_session_path,
             id: 'experts_login'
