%header.section
  = render 'alert_region'
  .container

    .navbar__container
      %a.navbar__home{ href: '/' }
        = image_tag 'Republique_Francaise_RVB.png', alt: 'république française', class: 'navbar__logo'
        %span.navbar__domain
          %span place-des-entreprises
          = image_tag 'pointbetagouvfr.svg', alt: 'beta.gouv.fr', class: 'navbar__gouvfr'
      %nav
        %ul.nav__links
          %li.nav__item
            = link_to t('about.blog.title'), ENV['BLOG_URL']
          %li.nav__item
            = active_link_to t('about.comment_ca_marche.title'), comment_ca_marche_path
          %li.nav__item
            = active_link_to t('experts_login'),
             user_signed_in? ? needs_path : new_user_session_path,
             id: 'experts_login'
