%h2.section__title
  = t('.received_news')
%p.section__subtitle
  = t('.newsletter_informations')
  .ui.divider.hidden

= form_with url: newsletters_path, method: :post, local: true do |f|
  .form__group
    .input__group
      = f.email_field :email, placeholder: t('.placeholder_email'), 'aria-label': t('.placeholder_email'), required: true, value: local_assigns[:email]
      = f.select :region_code, options_from_collection_for_select(regions_list, :first, :last, :region_code), { prompt: t('.select_region') }, 'aria-label': t('.select_region')
      = f.submit t('.subscribe'), class: 'button bold'
