%ul.fr-nav__list
  - if policy(:need).index? && current_user.experts.present?
    = navbar_item needs_path, t('needs.index.title'), 'ri-inbox-fill' do
      - cache([current_user, current_user.needs_quo_active.size]) do
        - if current_user.needs_quo_active.size > 0
          %span.count-notification.fr-tag.fr-tag--sm.fr-ml-1w= current_user.needs_quo_active.size
  - if policy([:manager, :needs]).index?
    = navbar_item manager_needs_path, t('manager.needs.index.title'), 'ri-inbox-fill'
  - if policy([:stats, :team]).index?
    = navbar_item team_index_path, t('usage_team_stats'), 'ri-line-chart-line'
  - if policy(:shared_satisfaction).index?
    = navbar_item conseiller_shared_satisfactions_path, t('conseiller.shared_satisfactions.index.short_title'), 'ri-chat-heart-line' do
      - cache([current_user, current_user.shared_satisfactions.unseen.size]) do
        - if current_user.shared_satisfactions.unseen.size > 0
          %span.count-notification.count-notification--green.fr-tag.fr-tag--sm.fr-ml-1w#counter-unseen-nav= current_user.shared_satisfactions.unseen.size
  - if policy([:manager, :stats]).index?
    = navbar_item manager_stats_path, t('.stats'), 'ri-line-chart-line'
  - if policy(:activity_report).index?
    = navbar_item reports_path, t('.reports'), 'ri-file-text-line'
  - if policy(:cooperation).index?
    = navbar_item conseiller_cooperations_path, t('.cooperation'), 'ri-shake-hands-line'

%ul.fr-nav__list
  - if display_questionnaire_navbar_item?
    = navbar_item questionnaire_url, t('.questionnaire'), 'ri-chat-3-line', class: 'fr-nav__link fr-nav__link--highlight', target: '_blank'
  = navbar_item tutoriels_path, t('user_pages.tutoriels.title'), 'ri-video-line'
