.fr-table.fr-table--multiline
  .fr-table__wrapper
    .fr-table__container
      .fr-table__content
        %table
          %caption= t('.information')
          %tbody
            %tr
              %td= t('.denomination')
              %td= entreprise.name
            - if entreprise.description.present?
              %tr
                %td= t('.description')
                %td= entreprise.description
            %tr
              %td= t('.forme_exercice')
              %td= translated_nature_activite(entreprise.forme_exercice) || t('undefined')
            %tr
              %td= t('.categorie_entreprise')
              %td= entreprise.categorie_entreprise
            %tr
              %td= t('.tranche_effectif_salarie_entreprise')
              %td= [entreprise.tranche_effectif, annee_effectif(entreprise.annee_effectif) ].join(' ')
            %tr
              %td= t('.siren')
              %td= entreprise.siren
            - if entreprise.capital_social
              %tr
                %td= t('.capital_social')
                %td= number_to_currency(entreprise.capital_social, unit: "€", separator: ",", delimiter: " ")
            %tr
              %td= t('.forme_juridique')
              %td= entreprise.forme_juridique_libelle
            %tr
              %td= t('.date_creation')
              %td= date_from_timestamp(entreprise.date_creation)
            %tr
              %td= t('.date_cessation')
              %td= date_from_timestamp(entreprise.date_cessation) || '/'
            %tr
              %td= t('.diffusable_commercialement')
              %td= t(entreprise.diffusable_commercialement.to_b, scope: [:boolean, :text])
