.fr-table.fr-table--bordered.fr-table--c-sm
  %table
    %caption= t('.information')
    %tbody
      %tr
        %td= t('.raison_sociale')
        %td= entreprise.raison_sociale
      - if entreprise.nom_commercial != entreprise.raison_sociale
        %tr
          %td= t('.nom_commercial')
          %td= entreprise.nom_commercial
      %tr
        %td= t('.categorie_entreprise')
        %td= entreprise.categorie_entreprise
      %tr
        %td= t('.tranche_effectif_salarie_entreprise')
        %td= entreprise.tranche_effectif_salarie_entreprise['intitule']
      %tr
        %td= t('.siren')
        %td= entreprise.siren
      %tr
        %td= t('.capital_social')
        %td #{entreprise.capital_social} €
      %tr
        %td= t('.numero_tva_intracommunautaire')
        %td= entreprise.numero_tva_intracommunautaire
      %tr
        %td= t('.forme_juridique')
        %td= entreprise.forme_juridique
      %tr
        %td= t('.procedure_collective')
        %td= entreprise.procedure_collective.to_b ? t('yes') : t('no')
      %tr
        %td= t('.date_creation')
        %td= date_from_timestamp(entreprise.date_creation)
      - if entreprise.nom.present?
        %tr
          %td= t('.nom')
          %td= entreprise.nom
      - if entreprise.prenom.present?
        %tr
          %td= t('.prenom')
          %td= entreprise.prenom
      %tr
        %td= t('.date_radiation')
        %td= date_from_timestamp(entreprise.date_radiation)
      %tr
        %td= t('.diffusable_commercialement')
        %td= t(entreprise.diffusable_commercialement.to_b, scope: [:boolean, :text])
