.fr-table.fr-table--bordered.fr-table--c-sm
  %table
    %caption= t('.information')
    %tbody
      %tr
        %td= t('.denomination')
        %td= entreprise.name
      %tr
        %td= t('.categorie_entreprise')
        %td= entreprise.categorie_entreprise
      %tr
        %td= t('.tranche_effectif_salarie_entreprise')
        %td= [entreprise.tranche_effectif, annee_effectif(entreprise.annee_effectif) ].join(' ')
      %tr
        %td= t('.siren')
        %td= entreprise.siren
      - if entreprise.capital_social
        %tr
          %td= t('.capital_social')
          %td #{entreprise.capital_social} €
      %tr
        %td= t('.forme_juridique')
        %td= entreprise.forme_juridique_libelle
      %tr
        %td= t('.date_creation')
        %td= date_from_timestamp(entreprise.date_creation)
      %tr
        %td= t('.date_cessation')
        %td= date_from_timestamp(entreprise.date_cessation)
      %tr
        %td= t('.inscrit_rcs')
        %td= t(entreprise.inscrit_rcs, scope: [:boolean, :text])
      %tr
        %td= t('.inscrit_rm')
        %td= t(entreprise.inscrit_rm, scope: [:boolean, :text])
      %tr
        %td= t('.diffusable_commercialement')
        %td= t(entreprise.diffusable_commercialement.to_b, scope: [:boolean, :text])
