%table.ui.compact.celled.table
  %tbody
    %tr
      %td= t('.siret')
      %td= etablissement.siret
    %tr
      %td= t('.naf')
      %td #{etablissement.naf_code}
    %tr
      %td= t('.date_mise_a_jour')
      %td= I18n.l(Date.parse(etablissement.details[:date_dernier_traitement]))
    %tr
      %td= t('.tranche_effectif_salarie_etablissement')
      %td= etablissement.effectif
    %tr
      %td= t('.date_creation_etablissement')
      %td= I18n.l(Date.parse(etablissement.details[:date_creation]))
    %tr
      %td= t('.adresse')
      %td= etablissement.details[:geo_adresse]
