.fr-table.fr-table--bordered.fr-table--c-sm
  %table
    %caption= caption
    %tbody
      %tr
        %td= t('.siret')
        %td= etablissement.siret
      %tr
        %td= t('.naf')
        %td #{etablissement.naf} - #{etablissement.naf_libelle}
      %tr
        %td= t('.date_mise_a_jour')
        %td= date_from_timestamp(etablissement.date_mise_a_jour)
      %tr
        %td= t('.tranche_effectif_salarie_etablissement')
        %td= [etablissement.tranche_effectif, annee_effectif(etablissement.annee_effectif) ].join(' ')
      %tr
        %td= t('.date_creation_etablissement')
        %td= date_from_timestamp(etablissement.date_creation_etablissement)
      %tr
        %td= t('.region_implantation')
        %td= etablissement.region
      %tr
        %td= t('.commune_implantation')
        %td= etablissement.commune
      %tr
        %td= t('.pays_implantation')
        %td= etablissement.pays
      %tr
        %td= t('.idcc')
        %td= etablissement.idcc
      %tr
        %td= t('.opco')
        %td= etablissement.opco&.name
      %tr
        %td= t('.adresse')
        %td
          - adresse = etablissement.adresse
          - (1..7).each do |i|
            - if adresse["l#{i}"].present?
              %p= adresse["l#{i}"]
