.block-infos
  %ul.list-unstyled.fr-pl-1v
    %li.blue-pde
      %b= t('.company')
    %li.name
      %b= facility.company.name
    %li= facility.readable_locality
    %li= t('.workforce', range: Effectif.intitule_effectif(facility.code_effectif))
    - if facility.siret.present?
      %li #{t('attributes.siret')} : #{facility.siret}
      %li= facility.naf_libelle
      - if facility.company.inscrit_rcs
        %li= t('companies.company.inscrit_rcs')
      - if facility.company.inscrit_rm
        %li= t('companies.company.inscrit_rm')
      %li= link_to t('.more_informations'), company_path(facility.id), class: 'bold blue'
      - if defined?(facility_needs) && policy(facility).show_needs_history? && facility_needs.any?
        %li= link_to t('.needs_historic'), needs_company_path(facility), class: 'bold blue'
    - if defined?(contact_needs) && policy(contact).show_needs_history? && contact_needs.any? && facility_needs.blank?
      %li= link_to t('.needs_historic'), needs_historic_contact_path(need.diagnosis.visitee), class: 'bold blue'
