.rf-table.rf-table--bordered.rf-table--c-sm
  %table
    %caption= t('.mandataires_sociaux')
    %tbody
      - if person['type'] == 'PM'
        %tr
          %td{ colspan: 2 }= t('.personne_morale')
      - if person['raison_sociale'].present?
        %tr
          %td= t('.raison_sociale')
          %td= person['raison_sociale'].humanize
      - if person['prenom'].present? && person['nom'].present?
        %tr
          %td= t('.nom')
          %td #{person['prenom'].humanize} #{person['nom'].humanize}
      - if person['fonction'].present?
        %tr
          %td= t('.fonction')
          %td= person['fonction'].humanize
      %tr
        %td= t('.dirigeant')
        %td= person['dirigeant'].to_b ? t('yes') : t('no')
      - if person['identifiant'].present?
        %tr
          %td= t('.identifiant')
          %td= person['identifiant']
