.fr-table.fr-table--bordered.fr-table--c-sm
  %table
    %caption= t('.mandataires_sociaux')
    %tbody
      - if mandataire['type'] == 'personne_morale'
        %tr
          %td{ colspan: 2 }= t('.personne_morale')
      - if mandataire['raison_sociale'].present?
        %tr
          %td= t('.raison_sociale')
          %td= mandataire['raison_sociale'].humanize
      - if mandataire['prenom'].present? && mandataire['nom'].present?
        %tr
          %td= t('.nom')
          %td #{mandataire['prenom'].humanize} #{mandataire['nom'].humanize}
      - if mandataire['fonction'].present?
        %tr
          %td= t('.fonction')
          %td= mandataire['fonction'].humanize
      - if mandataire['identifiant'].present?
        %tr
          %td= t('.identifiant')
          %td= mandataire['identifiant']
      - if mandataire['date_naissance_timestamp'].present?
        %tr
          %td= t('.date_naissance')
          %td= date_from_timestamp(mandataire['date_naissance_timestamp'])
