.fr-tile.fr-tile--horizontal.company-need.fr-col-12.fr-mb-2w
  .fr-tile__body
    .left
      .fr-tile__title.fr-mb-1v
        = link_to need.subject.label, need_path(need), class: 'fr-tile__link'
      - created_at = need.solicitation&.created_at || need.created_at
      %time{ datetime: created_at } Le #{I18n.l(created_at, format: :sentence)}
      %p.fr-m-0.fr-mt-2w= need.matches.human_count
    .right
      - match = current_user.received_matches.find_by(need: need)
      - if match.present?
        = status_label(match)
      - else
        = status_label(need)

