#company-name-search-results
  - if @firmapi_json.blank? || @firmapi_json['companies'].empty?
    .ui.info.message
      = t('.no_result')
  - else
    %table.ui.compact.celled.table
      %thead
        %tr
          %th= t('activerecord.attributes.company.name')
          %th= t('.location')
          %th= t('.search')
      %tbody
        - @firmapi_json['companies'].each do |company|
          - best_name = company['names']['best']
          - denomination = company['names']['denomination'].presence
          - if denomination && best_name.downcase != denomination.downcase
            - company_name = "#{best_name} (#{denomination.titleize})"
          - else
            - company_name = best_name
          %tr
            %td= company_name
            %td= "#{company['postal_code']} #{company['city']}"
            %td= link_to t('.search'), search_visit_companies_path(company: {siret: company['siren']}), method: :post, class: 'ui mini blue button'
