%h2.ui.header= t('companies.search.search_company')
%p= t('.subtitle')

.ui.form
  = form_with url: search_companies_path, method: :get, skip_enforcing_utf8: true, local: true do
    .field
      - if local_assigns[:solicitation].present?
        = hidden_field_tag :solicitation, solicitation.id
      - siret = local_assigns[:solicitation]&.siret
      %div{ 'data-controller': "siret-autocomplete" }
        %div{ data: { 'siret-autocomplete-target': "field", 'default-value': (query || siret) } }
      %button.fr-btn.btn-green.fr-mt-2w{ type: 'submit' }= t('search')
