- meta title: t('.companies')

%h1= t('.companies')
%p= t('.enter_company_number')
= form_for :company, url: search_companies_path, html: {class: 'ui form'} do |f|
  .inline.fields
    .field
      = f.text_field :siret, type: 'number', min: 10**13, max: 10**14-1, style: 'width: 165px', value: 41816609600069
    = f.button t('.search'), class: 'ui button'

%h2= t('.last_searches')
- if @queries
  %ul
    - @queries.each do |query|
      %li= link_to query, company_path(query)