.fr-container.fr-pb-6w
  .fr-mb-8w
    %h1.fr-h2= t('.title_html', company: @facility.company.name, siret: @facility.siret)

    = link_to company_path(@facility), class: "bold blue" do
      %span.ri-arrow-left-line.fr-mr-1w
      = t('.back_to_company')

  - if @needs_in_progress.present?
    .fr-grid-row.fr-mb-4w
      %h2.fr-h3= t('.needs_in_progress')
      = render partial: 'need', collection: @needs_in_progress

  - if @needs_done.present?
    .fr-grid-row
      %h2.fr-h3= t('.needs_done')
      = render partial: 'need', collection: @needs_done

  - if @contact_needs_in_progress.present? || @contact_needs_done.present?
    %h2.fr-mt-5w= t('.company_contacts_needs')
    - if @contact_needs_in_progress.present?
      .fr-grid-row.fr-mb-4w
        %h3= t('.needs_in_progress')
        = render partial: 'need', collection: @contact_needs_in_progress

    - if @contact_needs_done.present?
      .fr-grid-row
        %h3= t('.needs_done')
        = render partial: 'need', collection: @contact_needs_done
