.fr-container.fr-pb-6w
  %h1.fr-h2.fr-mb-8w= t('.title', company: @facility.company.name)

  - if @needs_in_progress.present?
    .fr-grid-row.fr-mb-4w
      %h2.fr-h3= t('.needs_in_progress')
      = render partial: 'need', collection: @needs_in_progress

  - if @needs_done.present?
    .fr-grid-row
      %h2.fr-h3= t('.needs_done')
      = render partial: 'need', collection: @needs_done
