.fr-container
  - meta title: t('.search_company')

  = render partial: 'companies/search_form', locals: { query: @query, solicitation: @current_solicitation }

  - results = @etablissements
  - if results.present?
    .ui.segments.shadow-less.selectable-list
      - results.each do |etablissement|
        .ui.segment
          = link_to show_with_siret_companies_path(etablissement.siret, params.permit(:solicitation).slice(:solicitation)) do
            %h3.ui.header
              = etablissement.nom.upcase
              - if etablissement.enseigne.present?
                .sub.header
                  = etablissement.enseigne.capitalize
              - if etablissement.lieu.present?
                .sub.header= etablissement.lieu.upcase
            .small.text
              %i.ri-file-fill.icon
              = etablissement.activite.capitalize
            .small.text
              %i.ri-attachment-2.icon
              #{I18n.t("attributes.siret")} : #{etablissement.siret}

  - suggestions = @suggestions
  - if suggestions.present?
    %h2.ui.header= t('.suggestions')
    %ul
      - suggestions.each do |suggestion|
        %li
          = link_to suggestion.capitalize, search_companies_path(query: suggestion)

  %h2.ui.header= t('.latest_searches')
  - searches = current_user.searches.recent
  - if searches.present?
    %ul
      - searches.each do |search|
        %li= link_to search.summary, search_companies_path(query: search.query)
