.fr-container
  - meta title: t('.search_company')

  = render partial: 'companies/search_form', locals: { query: @query, solicitation: @current_solicitation }

  - results = @etablissements
  - if results.present?
    .fr-grid-row
      .fr-col-12.fr-col-md-8.fr-col-offset-md-2.fr-pb-3w

        - results.each do |etablissement|
          .fr-mb-2w
            .fr-tile.company-search-tile.fr-enlarge-link.fr-tile--horizontal
              .fr-tile__body
                %h4.fr-tile__title= link_to etablissement.nom.upcase, show_with_siret_companies_path(etablissement.siret, params.permit(:solicitation).slice(:solicitation)), data: { turbolinks: false }
                %p.fr-tile__desc= etablissement.lieu
                %p.fr-tile__desc
                  %i.ri-file-fill.icon
                  = etablissement.activite
                %p.fr-tile__desc
                  %i.ri-attachment-2.icon
                  #{I18n.t("attributes.siret")} : #{etablissement.siret}

  %h2= t('.latest_searches')
  - searches = current_user.searches.recent
  - if searches.present?
    %ul
      - searches.each do |search|
        %li= link_to search.summary, search_companies_path(query: search.query)
