- meta title: t('.search_company')

#company-search-app
  %h1= t('.search_company')
  %p= t('.you_have_two_choices')

  %select-company

  %h3= t('.last_searches')
  - searches = last_searches
  - unless searches.empty?
    %ul
      - searches.each_with_index do |search|
        %li= link_to search.label, company_path(siret: search.query)

= javascript_pack_tag 'companies/companySearchApp'
