- meta title: @company.name

#company-show
  %h1
    = @company.name
    = link_to t('.create_diagnosis'), create_diagnosis_from_siret_companies_path(params.permit(:siret, :solicitation).slice(:siret, :solicitation)),
    method: :post, class: 'ui right floated positive basic button'

  - if @diagnoses.present?
    %h2= t('.diagnoses_completed', company_name: @company.name)
    %table.ui.table
      %tbody
        - @diagnoses.each do |diagnosis|
          %tr
            %td
              %h3.ui.header
                = t('.visited_at', date: I18n.l(diagnosis.display_date))
                .sub.header
                  - advisor = diagnosis.advisor
                  = t('.visited_by_html', advisor_name: advisor.full_name_with_role, advisor_email: advisor.email)
            %td.collapsing
              .ui.middle.aligned.list
                .item
                  .middle.aligned.content
                    %h5.ui.header.disabled
                      = t('.needs', count: diagnosis.needs.size)
                .item
                  .middle.aligned.content
                    %h5.ui.header.disabled
                      = t('.matches', count: diagnosis.matches.size)

  %h2= t('.information')
  = render partial: 'company', locals: { entreprise: @company.entreprise }

  %h2= t('.facility')
  = render partial: 'facility', locals: { etablissement: @facility.etablissement }

  - if !@facility.etablissement['siege_social'].to_b
    %h2= t('.siege_social')
    = render partial: 'facility', locals: { etablissement: @company.etablissement_siege }

  %h2= t('.mandataires_sociaux')
  - @company.entreprise.mandataires_sociaux.each do |person|
    = render partial: 'mandataire', locals: { person: person }
