- meta title: t('.data_on', company_name: @company.name)

#company-show
  %h1= t('.informations_on', company_name: @company.name)

  = render partial: 'company', locals: { entreprise: @company.entreprise }

  .toggle-div-wrapper
    %button.ui.basic.blue.icon.tiny.button.toggle-show-button
      %i.ui.icon.chevron.right
      = t('show_more')
    %button.ui.basic.blue.icon.tiny.button.toggle-hide-button
      %i.ui.icon.chevron.down
      = t('show_less')
    .toggle-div

      %h2= t('.facility')
      .toggle-div-wrapper
        %button.ui.blue.tiny.button.toggle-show-button= t('show')
        %button.ui.blue.tiny.button.toggle-hide-button= t('hide')
        .toggle-div
          = render partial: 'facility', locals: { etablissement: @facility.etablissement }

      - unless @facility.etablissement['siege_social'].to_b
        %h2= t('.siege_social')
        .toggle-div-wrapper
          %button.ui.blue.tiny.button.toggle-show-button= t('show')
          %button.ui.blue.tiny.button.toggle-hide-button= t('hide')
          .toggle-div
            = render partial: 'facility', locals: { etablissement: @company.etablissement_siege }

      %h2= t('.mandataires_sociaux')
      .toggle-div-wrapper
        %button.ui.blue.tiny.button.toggle-show-button= t('show')
        %button.ui.blue.tiny.button.toggle-hide-button= t('hide')
        .toggle-div#mandataires
          - @company.entreprise.mandataires_sociaux.each do |person|
            = render partial: 'mandataire', locals: { person: person }

      %h2= t('.ereputation')
      .toggle-div-wrapper
        %button.ui.blue.tiny.button.toggle-show-button= t('show')
        %button.ui.blue.tiny.button.toggle-hide-button= t('hide')
        .toggle-div
          - if @qwant_results.blank? || @qwant_results['data']['result']['items'].count.zero?
            %p= t('.information_not_found')
            %ul
              %li= link_to t('.news_search_on_google'), "https://www.google.fr/search?q=#{@company.name}&tbm=nws", target: :_blank
              %li= link_to t('.global_search_on_qwant'), "https://www.qwant.com/?q=#{@company.name}&t=web", target: :_blank
              %li= link_to t('.global_search_on_google'), "https://www.google.fr/search?q=#{@company.name}", target: :_blank
          - else
            .ui.items
              - @qwant_results['data']['result']['items'].each do |item|
                .item
                  .ui.tiny.image
                    - if item['media'].present?
                      = image_tag item['media'].first['pict']['url']
                  .content
                    = link_to item['title'].html_safe, item['url'], class: 'header'
                    .meta
                      %span= item['domain']
                    .description
                      %p= item['desc'].html_safe

  %h2= t('.diagnoses_completed', company_name: @company.name)
  - if @diagnoses.empty?
    %p.text.small
      = t('.no_visit_found')
  - else
    %table.ui.table.ui
      %tbody
        - @diagnoses.each do |diagnosis|
          %tr
            %td
              %h3.ui.header
                = t('.visited_at', date: diagnosis.visit.happened_at_localized)
                .sub.header
                  - advisor = diagnosis.visit.advisor
                  = t('.visited_by_html', advisor_name: advisor.full_name_with_role, advisor_email: advisor.email)
            %td.collapsing
              .ui.middle.aligned.list
                .item
                  .middle.aligned.content
                    %h5.ui.header.disabled
                      = t('.diagnosed_needs', count: diagnosis.diagnosed_needs_count)
                .item
                  .middle.aligned.content
                    %h5.ui.header.disabled
                      = t('.selected_assistance_experts', count: diagnosis.selected_assistances_experts_count)

  = link_to t('.create_diagnosis'), create_diagnosis_from_siret_companies_path(siret: params[:siret]),
   method: :post, class: 'ui positive basic tiny button'
