- meta title: t('.informations')

#company-show
  %h1= t('.informations')
  
  .ui.grid
    .ten.wide.column
      - company = @company['entreprise']
      %table.ui.compact.celled.table
        %tbody
          %tr
            %td= t('.raison_sociale')
            %td= company['raison_sociale']
          - if company['nom_commercial'] != company['raison_sociale']
            %tr
              %td= t('.nom_commercial')
              %td= company['nom_commercial']
          %tr
            %td= t('.categorie_entreprise')
            %td= company['categorie_entreprise']
          %tr
            %td= t('.tranche_effectif_salarie_entreprise')
            %td= company['tranche_effectif_salarie_entreprise']['intitule']
          %tr
            %td= t('.siren')
            %td= company['siren']
          %tr
            %td= t('.capital_social')
            %td= "#{company['capital_social']} €"
          %tr
            %td= t('.numero_tva_intracommunautaire')
            %td= company['numero_tva_intracommunautaire']
          %tr
            %td= t('.forme_juridique')
            %td= company['forme_juridique']
          %tr
            %td= t('.forme_juridique_code')
            %td= company['forme_juridique_code']
          %tr
            %td= t('.procedure_collective')
            %td= company['procedure_collective'].to_b ? t('yes') : t('no')
          %tr
            %td= t('.date_creation')
            %td= date_from_timestamp(company['date_creation'])
          - if company['nom'].present?
            %tr
              %td= t('.nom')
              %td= company['nom']
          - if company['prenom'].present?
            %tr
              %td= t('.prenom')
              %td= company['prenom']
          %tr
            %td= t('.date_radiation')
            %td= date_from_timestamp(company['date_radiation'])

      %h2= t('.facility')
      = render partial: 'facility', locals: { etablissement: @facility['etablissement'] }

      - unless @facility['etablissement']['siege_social'].to_b
        %h2= t('.siege_social')
        = render partial: 'facility', locals: { etablissement: @company['etablissement_siege'] }

      %h2= t('.mandataires_sociaux')
      %button.ui.blue.tiny.button#show-mandataires= t('show')
      %button.ui.blue.tiny.button#hide-mandataires= t('hide')
      #mandataires
        - company['mandataires_sociaux'].each do |person|
          %table.ui.compact.celled.table{class: (person['type'] == 'PM' ? 'violet' : 'teal')}
            %tbody
              - if person['type'] == 'PM'
                %tr
                  %td{colspan: 2}= t('.personne_morale')
              - if person['raison_sociale'].present?
                %tr
                  %td= t('.raison_sociale')
                  %td= person['raison_sociale'].humanize
              - if person['prenom'].present? && person['nom'].present?
                %tr
                  %td= t('.nom')
                  %td= "#{person['prenom'].humanize} #{person['nom'].humanize}"
              - if person['fonction'].present?
                %tr
                  %td= t('.fonction')
                  %td= person['fonction'].humanize
              - if person['date_naissance_timestamp']
                %tr
                  %td= t('.date_naissance')
                  %td= date_from_timestamp(person['date_naissance_timestamp'])
              %tr
                %td= t('.dirigeant')
                %td= person['dirigeant'].to_b ? t('yes') : t('no')
              - if person['identifiant'].present?
                %tr
                  %td= t('.identifiant')
                  %td= person['identifiant']

    .six.wide.column
      %h2= t('.ereputation')
      - if @qwant_results.blank?
        %p= t('.information_not_found')
      - else
        .ui.items
          - @qwant_results['data']['result']['items'].each do |item|
            .item
              .ui.tiny.image
                - if item['media'].present?
                  = image_tag item['media'].first['pict']['url']
              .content
                = link_to item['title'].html_safe, item['url'], class: 'header'
                .description
                  %p= item['desc'].html_safe
