- meta title: @company.name

.fr-container
  #company-show
    - if policy(@diagnosis).new?
      = form_with model: @diagnosis, url: conseiller_diagnoses_path, local: true do |form|
        = form.hidden_field :solicitation_id
        = form.fields_for :facility do |facility_form|
          = facility_form.hidden_field :siret, value: @facility.siret
        = form.button :submit, class: 'fr-btn btn-green float-right' do
          = t('.create_diagnosis')
    %h1
      = @company.name

    %section.fr-mb-6w
      = render partial: 'company', locals: { entreprise: @company }

    %section.fr-mb-6w
      = render partial: 'facility', locals: { etablissement: @facility, caption: t('.facility') }

    - if @siege_facility.present?
      %section.fr-mb-6w
        %h2= t('.siege_social')
        = render partial: 'facility', locals: { etablissement: @siege_facility, caption: t('.siege_social') }

    - if @company.mandataires_sociaux.present?
      %section.fr-mb-6w
        - @company.mandataires_sociaux.each do |mandataire|
          = render partial: 'mandataire', locals: { mandataire: mandataire['data'] }
