- meta title: t('.informations')

%h1= t('.informations')

.ui.grid
  .ten.wide.column
    - facility = @facility['etablissement']

    %table.ui.compact.celled.table
      %tbody
        %tr
          %td= t('.naf')
          %td= "#{facility['naf']} - #{facility['libelle_naf']}"
        %tr
          %td= t('.date_mise_a_jour')
          %td= date_from_timestamp(facility['date_mise_a_jour'])
        %tr
          %td= t('.tranche_effectif_salarie_etablissement')
          %td= facility['tranche_effectif_salarie_etablissement']['intitule']
        %tr
          %td= t('.date_creation_etablissement')
          %td= date_from_timestamp(facility['date_creation_etablissement'])
        %tr
          %td= t('.enseigne')
          %td= facility['enseigne']
        %tr
          %td= t('.region_implantation')
          %td= facility['region_implantation']['value']
        %tr
          %td= t('.commune_implantation')
          %td= facility['commune_implantation']['value']
        %tr
          %td= t('.pays_implantation')
          %td= facility['pays_implantation']['value'] || ''
        %tr
          %td= t('.diffusable_commercialement')
          %td= facility['diffusable_commercialement']
        %tr
          %td= t('.adresse')
          %td
            - adresse = facility['adresse']
            - (1..7).each do |i|
              %p= adresse["l#{i}"] if adresse["l#{i}"].present?

  .six.wide.column
    %h2= t('.ereputation')
    - if @qwant_results.blank?
      %p= t('.information_not_found')
    - else
      .ui.very.relaxed.celled.list
        - @qwant_results['data']['result']['items'].each do |item|
          .item
            = image_tag item['media'].first['pict']['url'], class: 'ui avatar image' if item['media'].present?
            .content
              = link_to item['title'].html_safe, item['url'], class: 'header'
              .description= item['desc'].html_safe
