= form_with url: institution_antennes_path(institution), local: true, class: 'fr-mb-3w', method: :get do |f|
  .fr-grid-row
    .fr-col
      .fr-select-group.fr-pr-2v
        = f.label :by_region, t('attributes.region'), class: 'fr-label'
        = f.collection_select :by_region, Territory.regions.order(:name), :id, :name, { selected: session[:annuaire_by_region],
          include_blank: t('all.feminine') }, class: "fr-select"
  - if session[:annuaire_by_region].present?
    = link_to t('clear_search'), request.fullpath.split('?').first + "?reset_query=true", id: 'clear-search', class: 'fr-btn fr-btn--tertiary-no-outline'
  = f.submit t('annuaire.search.form.submit'), class: 'fr-btn fr-mt-2w'
