%table.ui.definition.celled.table
  %thead
    %tr
      %th
      %th= Antenne.human_attribute_name(:intervention_zone)
  %tbody
    - antennes.each do |antenne|
      - highlighted_ids = flash[:table_highlighted_ids]
      %tr{ class: highlighted_ids&.include?(antenne.id) ? 'blue' : '' }
        %td
          = link_to antenne, institution_antenne_advisors_path(antenne_id: antenne)
        %td
          %ul
            - summary = antenne.intervention_zone_summary
            - summary[:territories].each do |hash|
              %li #{hash[:territory].name} (#{hash[:included]})
            - if summary[:other] > 0
              %li #{I18n.t('other')} (#{summary[:other]})
