= f.fields_for need.id.to_s do |expert_subject_form|
  - experts_subjects.each do |expert_subject|
    %tr
      - checkbox_id = expert_subject.id.to_s
      %td.checkbox-width
        .ui.fitted.checkbox
          = expert_subject_form.check_box checkbox_id, checked: true
          %label
      %td.expert-width
        = expert_subject_form.label checkbox_id, class: 'clickable' do
          = expert_subject.expert.full_name
          %br
          = expert_subject.expert.antenne
      %td
        = expert_subject_form.label checkbox_id, class: 'clickable' do
          .tiny.text.bold
            = t('diagnoses.steps.selection.expert_scope_of_work')
          .small.text
            = expert_subject.institution_subject.description
          - if expert_subject.description.present?
            .tiny.text.bold
              = t('diagnoses.steps.selection.more_informations')
            .small.text
              = expert_subject.description
