.experts_subject_checkbox
  = f.fields_for need.id.to_s do |fields|
    - experts_subjects.each do |expert_subject|
      - expert = expert_subject.expert
      .ui.field
        .ui.checkbox
          :ruby
            # TODO: experimental/preliminary support for automatic diagnoses #940
            if need.diagnosis.solicitation.present?
              institutions = need.diagnosis.solicitation.preselected_institutions || []
              checked = expert_subject.institution_subject.institution.in? institutions
            else
              checked = true
            end

          = fields.check_box expert_subject.id, checked: checked
          = fields.label expert_subject.id do
            .ui.equal.width.grid
              .row
                .column
                  %h4.ui.header
                    = expert.full_name
                    .sub.header= expert.role
                    .sub.header= expert.antenne
                .column
                  .sub.header
                    = expert_subject.full_user_description
