- meta title: Diagnosis.human_attribute_value(:step, :needs)

= render 'header', diagnosis: @diagnosis, current_page_step: 2

- if @diagnosis.solicitation.present? && @diagnosis.facility.needs.diagnosis_completed.many?
  = render partial: 'companies/need', collection: @diagnosis.facility.needs.diagnosis_completed

#needs-app
  = form_with model: @diagnosis,
    url: update_needs_diagnosis_path,
    class: 'ui form',
    data: { checkboxes_require_one_with: t(".select_at_least_one_need") } do |diagnosis_form|

    %h1.ui.header
      = Diagnosis.human_attribute_value(:step, :needs)

    .field
      = diagnosis_form.label t('.diagnosis_content_subtitle')
      = diagnosis_form.text_area :content, placeholder: t('.diagnosis_content_placeholder'), rows: 2

    %p.small.text.justified
      = t('.identify_needs', company_name: @diagnosis.company.name)

    - @themes.each do |theme|
      - subjects = theme.subjects.for_interview
      - if subjects.present?
        - active_class = 'active' if @diagnosis.themes.include?(theme)
        .ui.segments.shadow-less.accordion.theme
          .ui.segment.secondary.title{ class: active_class }
            %h3.ui.header
              = theme
              %i.dropdown.icon
          .ui.content.subjects.basic.segments{ class: active_class }
            - all_needs = @diagnosis.needs
            - subjects.each do |subject|
              - need = all_needs.where(subject: subject).first_or_initialize
              .ui.checkbox.subject.segment
                = diagnosis_form.fields_for :needs, need do |need_form|
                  = need_form.check_box :_destroy, { checked: need.persisted? }, '0', '1'
                  = need_form.label :_destroy, subject
                  = need_form.text_area :content, placeholder: t('.need_content_placeholder'), rows: 2
                  = need_form.hidden_field :subject_id
            .ui.subject.actions
              = render 'next_step', diagnosis_form: diagnosis_form

    .ui.actions
      = render 'next_step', diagnosis_form: diagnosis_form

  .clear
