- meta title: t('.title')

= render 'header', diagnosis: @diagnosis, current_page_step: 2

#needs-app
  = form_with model: @diagnosis,
    url: update_needs_diagnosis_path,
    method: :post,
    class: 'ui form',
    data: { checkboxes_require_one_with: t(".select_at_least_one_need") } do |diagnosis_form|

    %h1.ui.header
      = t('.title')

    .field
      = diagnosis_form.label t('.diagnosis_content_subtitle')
      = diagnosis_form.text_area :content, placeholder: t('.diagnosis_content_placeholder'), rows: 2

    %p.small.text.justified
      = t('.identify_needs', company_name: @diagnosis.company.name)

    - @themes.each do |theme|
      - subjects = theme.subjects.for_interview
      - if subjects.present?
        .ui.segments.shadow-less
          .ui.segment.secondary
            %h3.ui.header= theme
          - all_needs = @diagnosis.needs
          - subjects.each do |subject|
            - need = all_needs.where(subject: subject).first_or_initialize
            .ui.segment.checkbox.subject
              = diagnosis_form.fields_for :needs, need do |need_form|
                = need_form.check_box :_destroy, { checked: need.persisted? }, '0', '1'
                = need_form.label :_destroy, subject
                = need_form.text_area :content, placeholder: t('.need_content_placeholder'), rows: 2
                = need_form.hidden_field :subject_id

    .ui.actions
      = diagnosis_form.button :submit, class: 'ui right floated button green right labeled icon' do
        = t('next_step')
        %i.arrow.right.icon

  .clear
