- meta title: t('.title')

= render 'header', diagnosis: @diagnosis, current_page_step: 4

#selection-app
  .ui.info.message
    = t('.explanation')

  = form_with scope: :matches, url: selection_diagnosis_path(@diagnosis),
             id: 'selection-form', class: 'ui form' do |f|
    - @diagnosis.needs.ordered_for_interview.each do |need|
      .ui.segment.shadow-less
        %h3.ui.header= need.subject
        - experts_subjects_specialists = ExpertSubject.relevant_for(need).specialist
        - experts_subjects_fallback = ExpertSubject.relevant_for(need).fallback
        - support_subject = ExpertSubject.support_for(@diagnosis)
        - if experts_subjects_specialists.present?
          = render 'expert_subject_checkboxes', f: f, need: need, experts_subjects: experts_subjects_specialists
        - elsif experts_subjects_fallback.present?
          = render 'expert_subject_checkboxes', f: f, need: need, experts_subjects: experts_subjects_fallback
        - elsif support_subject.present?
          .field.warning
            .ui.warning.message
              = t('.no_expert_subject')
              = t('.you_can_contact_support')
          = render 'expert_subject_checkboxes', f: f, need: need, experts_subjects: support_subject
        - else
          %p= t('.no_expert_subject')

    .ui.hidden.divider
    .field.info
      .ui.info.message
        .content
          .header= t('.before_sending_emails_1')
          %p= t('.before_sending_emails_2')

    .ui.two.column.stackable.grid.container
      .ui.left.aligned.column.no-left-padding.no-margin
        = link_to visite_diagnosis_path(@diagnosis), class: 'ui left labeled icon button no-margin' do
          = t('previous_step')
          %i.arrow.left.icon

      .ui.right.aligned.column.no-right-padding.no-margin
        - button_classes = []
        - if @diagnosis.visitee.blank?
          - button_classes << 'disabled'
        %button.ui.green.button.no-margin#next-step-button{ class: button_classes }
          = t('.notify_matches')

    .clear

:javascript
  (function() {
    var checkboxes = $("#selection-form input:checkbox");
    function setBoxesValidity() {
      if (checkboxes.is(":checked")) {
        checkboxes.each(function() {
          this.setCustomValidity("");
        });
      } else {
        checkboxes.each(function() {
          this.setCustomValidity("#{ t('.select_at_least_one_expert') }");
        });
      }
    }
    checkboxes.on("click", function() {
      setBoxesValidity();
    });
    $(document).ready(function(){
      setBoxesValidity();
    });
  }) ()
