- meta title: t('.title')

= render 'header', diagnosis: @diagnosis, current_page_step: 3

#visite-app
  = form_with model: @diagnosis,
    url: visite_diagnosis_path(@diagnosis),
    method: :post,
    class: 'ui form' do |diagnosis_form|

    %h2.ui.header
      .sub.header
        = t('.form_info')

    - @diagnosis.visitee ||= Contact.new
    = diagnosis_form.fields_for :visitee do |contact_form|
      %h3.ui.header
        = t('.your_contact_in_the_company', company_name: @diagnosis.company.name)

      .field
        = contact_form.label t('.full_name')
        = contact_form.text_field :full_name, placeholder: t('.full_name_placeholder'), required: true
      .field
        = contact_form.label t('.role')
        = contact_form.text_field :role, placeholder: t('.role_placeholder'), required: true
      .two.fields
        .field
          = contact_form.label t('.email_address')
          = contact_form.email_field :email, required: true
        .field
          = contact_form.label t('.phone_number')
          = contact_form.telephone_field :phone_number, required: true

    %h3.ui.header
      = t('.date')
    .inline.field
      .ui.calendar#datepicker
        .ui.input.left.icon
          %i.calendar.icon
          = diagnosis_form.text_field(:happened_on, placeholder: t('.date_placeholder'), required: true)

    - if ENV['FEATURE_NEW_LOCALITY_FOR_DIAGNOSIS'].to_b
      = render 'new_locality', postal_code: @postal_code, diagnosis: @diagnosis

    %a.ui.left.floated.button.labeled.icon{ href: besoins_diagnosis_path(@diagnosis) }
      = t('previous_step')
      %i.arrow.left.icon
    = diagnosis_form.button :submit, class: 'ui right floated button green right labeled icon' do
      = t('next_step')
      %i.arrow.right.icon

  .clear

:javascript
  (function() {
    var params = semantic_ui_calendar_datepicker_params()
    params['text'] = {
        days: #{ t('date.abbr_day_names').compact.to_json.html_safe },
        months: #{ t('date.month_names').compact.to_json.html_safe }
      }
    $('.ui.calendar#datepicker').calendar(params)
  }) ()
