- meta title: Diagnosis.human_attribute_value(:step, :contact)

.fr-container
  = render 'header', diagnosis: @diagnosis, current_page_step: 2

  #visit-app
    = form_with model: @diagnosis, local: true,
      url: update_visit_diagnosis_path, local: true do |diagnosis_form|

      - @diagnosis.visitee ||= Contact.new
      = diagnosis_form.fields_for :visitee do |contact_form|

        %h2.fr-text--lead.fr-mb-2w= t('.your_contact_in_the_company', company_name: @diagnosis.company.name)

        .fr-input-group
          = contact_form.label t('.full_name'), class: 'fr-label'
          = contact_form.text_field :full_name, placeholder: t('.full_name_placeholder'), required: true, class: 'fr-input'
        .fr-input-group
          = contact_form.label t('.email_address'), class: 'fr-label'
          = contact_form.email_field :email, required: true, class: 'fr-input'
        .fr-input-group
          = contact_form.label t('.phone_number'), class: 'fr-label'
          = contact_form.telephone_field :phone_number, required: true, class: 'fr-input'

        .fr-input-group
          = contact_form.label t('.date')
          .fr-input-wrap.fr-fi-calendar-line
            = diagnosis_form.date_field(:happened_on, placeholder: t('.date_placeholder'), required: true, class: 'fr-input')

      .bottom_actions.flex
        = render 'next_step', diagnosis_form: diagnosis_form
