.landing
  .landing-panel.hero-panel
    .landing-panel-inner-content
      .hero-wrapper
        .hero-text
          %p.hero-tagline
            = t('.tagline_html')
          - if current_user
            = link_to t('.start_button'), diagnoses_path, class: 'hero-button'
          - else
            = link_to t('.sign_up_button'), new_user_registration_path, class: 'hero-button'

          %p.hero-phone-cta= t('.or_call_us')

        .hero-illustration
          = image_tag 'landing/dematerialiser.svg'

  .landing-panel.features-panel
    .landing-panel-inner-content
      %h2.landing-panel-title.features-panel-title= t('.tool_to_help_advisors')
      %ul.features
        %li.feature
          = image_tag 'landing/creer.svg', class: 'feature-image'
          %p.feature-text
            = t('.feature_spot_needs_html')
        %li.feature
          = image_tag 'landing/gerer.svg', class: 'feature-image'
          %p.feature-text
            = t('.feature_find_contacts_html')
        %li.feature
          = image_tag 'landing/collaborer.svg', class: 'feature-image'
          %p.feature-text
            = t('.feature_notify_and_follow_html')

  .landing-panel.dev-logos-panel
    .landing-panel-inner-content
      %h2.landing-panel-title= t('.public_service_from_the_north')
      .pia-logo-wrapper
        = image_tag 'landing/partenaires/investissements_avenir.png', width: 160

  .landing-panel.cta-panel
    .landing-panel-inner-content
      .cta-panel-wrapper
        .cta-panel-explanation-wrapper
          %h1.cta-panel-title= t('.questions_or_suggestions')
          %p.cta-panel-explanation
            = t('.we_help_you_and_we_want_feedbacks_html')
        .cta-panel-button-wrapper
          = link_to t('contact_us'), qui_sommes_nous_path, class: 'cta-panel-button'
          %p.cta-panel-phone-cta
            = t('.or_call_us')
