- facility = diagnosis.facility
%h1.fr-h2= facility.company.name
%ul
  %li
    = facility.commune_name
  - if facility.siret.present?
    %li
      %span.fr-text--bold #{t('attributes.naf_code')} : 
      = [facility.naf_libelle, "(#{facility.naf_code})" ].join(' ')
    - if facility.nafa_codes.any?
      %li
        %span.fr-text--bold #{t('attributes.nafa_codes')} : 
        = facility.nafa_codes.map{ |code| "#{NafCode.nafa_libelle(code)} (#{code})" }.join(', ')
    %li
      %span.fr-text--bold #{t('attributes.forme_exercice')} : 
      = natures_entreprise(facility.all_nature_activites)&.join(', ')

    - if facility.code_effectif.present?
      %li
        #{t('attributes.code_effectif')} : #{t('codes_effectif' + '.' + facility.code_effectif)}
    %li
      = link_to "#{t('attributes.siret')} : #{facility.siret}", company_path(facility), data: { turbo: false }
    %li
      = link_to t('.company_details'), company_path(facility), data: { turbo: false }
  - else
    %li
      = t('.need_without_siret')
