- facility = diagnosis.facility
- unreachable_apis_error = diagnosis&.solicitation&.prepare_diagnosis_errors_to_s

%h1.fr-h2= facility.company.name
%ul
  %li
    = facility.commune_name
  - if facility.siret.present?
    %li
      %span.fr-text--bold #{t('attributes.naf_code')} : 
      = [facility.naf_libelle, "(#{facility.naf_code})" ].join(' ')
    - if facility.nafa_codes.any?
      %li
        %span.fr-text--bold #{t('attributes.nafa_codes')} : 
        = facility.nafa_codes.map{ |code| "#{NafCode.nafa_libelle(code)} (#{code})" }.join(', ')
    %li
      %span.fr-text--bold #{t('attributes.forme_exercice')} : 
      = translated_nature_activites(facility.all_nature_activites)&.join(', ')

    - if facility.code_effectif.present?
      %li
        #{t('attributes.code_effectif')} : #{t('codes_effectif' + '.' + facility.code_effectif)}
    %li
      = link_to "#{t('attributes.siret')} : #{facility.siret}", company_path(facility), data: { turbo: false }
    %li
      = link_to t('.company_details'), company_path(facility), data: { turbo: false }
  - else
    %li
      = t('.need_without_siret')
- if unreachable_apis_error.present?
  .fr-container.fr-mt-4w
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-10.fr-col-lg-8
        .fr-alert.fr-alert--warning.fr-alert--sm
          %h3.fr-alert__title= t('api_requests.unreachable_apis_errors_present')
          %ul
            - unreachable_apis_error.each do |error|
              %li= error
