- meta title: t('.title')

.fr-grid-row.fr-mb-3w
  .fr-col-12.fr-col-md-6.fr-col-offset-md-3
    %h1.fr-h2= t('.create_new_diagnosis')

    - if @needs.present?
      %h2.fr-h3= t('companies.needs.others')
      = render partial: 'companies/need', collection: @needs

    %h2= t('.title')
    %p= t('.sub_title')

    = form_with model: @diagnosis, url: conseiller_diagnoses_path, local: true, html: { data: { turbo: false } } do |form|
      - if @diagnosis.solicitation.present?
        = form.hidden_field :solicitation_id
      = form.fields_for :facility do |facility_form|
        .fr-fieldset__element
          = facility_form.fields_for :company do |company_form|
            = company_form.label :name, t('.name'), class: 'fr-label'
            = company_form.text_field :name, required: true, class: 'fr-input'
        .fr-fieldset__element
          = label_tag 'city-autocomplete', t('.city')
          %div{ data: { action: 'city-autocomplete', 'default-value': h(@diagnosis.solicitation&.location) } }
          = facility_form.hidden_field :insee_code, data: { target: 'insee-code', value_type: 'insee-code' }, value: @diagnosis.solicitation&.insee_code
      .text-right
        = form.button :submit, class: 'fr-btn btn-green btn-icon' do
          = t('next_step')
          %span.ri-arrow-right-s-line{ 'aria-hidden': 'true' }
