%p= t('mailers.hello_name', name: @user.full_name)

%p= t('.you_met_company_html', visit_date: l(@diagnosis.display_date, format: :long))
%blockquote
  %h1= @diagnosis.company
  .text-grey= @diagnosis.facility.commune_name

- @diagnosis.needs.each do |need|
  %h2= need.subject
  %ul
    .text-grey= t('.contacted_experts', count: need.experts.size)
    - need.experts.each do |expert|
      %li #{expert.full_name} — #{expert.antenne.name}

  %h2
    .button
      %a{ href: need_url(need) }= t('.show_details')

%p= t('.thank_you')
%p= t('mailers.see_you_on_place_des_entreprises_html', link_to_root: link_to(t('app_name'), root_url))
