- link_to_root = link_to t('app_name'), root_url

%p= t('.hello')
%p= t('.yesterday')

%ul
  - @change_updates.each do |change_update|
    %li
      = t('.context',
          expert_name: change_update[:expert_name],
          expert_institution: change_update[:expert_institution],
          subject_title: change_update[:subject_title],
          company_name: change_update[:company_name],
          start_date: I18n.l(change_update[:start_date]))
      - text_key = text_key_for_status(change_update[:old_status], change_update[:current_status])
      %b= t(".status.#{text_key}")

%br
%p= t('.nice_day')
%p= t('.place_des_entreprises_team_html', link_to_root: link_to_root)
