- link_to_root = link_to t('app_name'), root_url

%p= t('.hello')
%p= t('.yesterday')

%ul
  - @change_updates.each do |change_update|
    %li
      = t('.context',
          expert_name: change_update[:expert_name],
          expert_institution: change_update[:expert_institution],
          question_title: change_update[:question_title],
          company_name: change_update[:company_name],
          start_date: I18n.l(change_update[:start_date]))
      %b= t('.status.' + text_key_for_status(change_update[:old_status], change_update[:current_status]))

%br
%p= t('.nice_day')
%p= t('.reso_team_html', link_to_root: link_to_root)
