%p= t('mailers.hello')

%p= t('.new_comment_html', author: @author.full_name, antenne: @author.antenne, company: @feedback.need.company, date: I18n.l(@feedback.need.diagnosis.display_date))

%h4= @feedback.need.subject
%blockquote
  %p= simple_format(auto_link(@feedback.description))

- if @match.present?
  .margin-top-2= t('.match_status_html', status: status_label(@match, :long))

.button
  %a{ href: need_url(@feedback.need) }= t('mailers.see_diagnosis')

%p= t('mailers.see_you_on_service_html', link_to_root: link_to(t('app_name'), root_url))
