%p= t('mailers.hello_name', name: @person.full_name)

%p= t('.new_comment_html', author: @author.full_name, antenne: @author.antenne, company: @feedback.need.company, date: I18n.l(@feedback.need.diagnosis.display_date))

%h4= @feedback.need.subject
%blockquote
  %p= simple_format(auto_link(@feedback.description))

.button
  %a{ href: need_url(@feedback.need) }= t('mailers.see_diagnosis')

%p= t('mailers.see_you_on_place_des_entreprises_html', link_to_root: link_to(t('app_name'), root_url))
