%p= t('mailers.hello_name', name: @advisor.full_name)

%p= t('.need_description_html',
  company_name: @company.name,
  date: I18n.l(@need.diagnosis.display_date, format: :long),
  subject: @subject,
  path: diagnosis_url(@match.diagnosis))

%blockquote
  = t(".expert_and_status.#{@match.status}_html",
    expert: @expert.full_name,
    antenne: @expert.antenne.name,
    previous_status: Match.human_attribute_value(:status, @previous_status, context: :action))

.button
  %a{ href: need_url(@match.need) }= t('mailers.see_diagnosis')

%p= t('mailers.see_you_on_place_des_entreprises_html', link_to_root: link_to(t('app_name'), root_url))
