%p= t('mailers.hello_name', name: @advisor.full_name)

%p= t('.need_description_html',
  company_name: @company.name,
  date: I18n.l(@need.diagnosis.display_date, format: :long),
  subject: @subject,
  path: diagnosis_url(@match.diagnosis))

%blockquote
  = t(".expert_and_status.#{@match.status}_html",
    expert: @expert.full_name,
    antenne: @expert.antenne.name,
    previous_status: t("attributes.statuses_action.#{@previous_status}"))

%p= t('mailers.user_mailer.nice_day')
%p= t('mailers.place_des_entreprises_team_html', link_to_root: link_to(t('app_name'), root_url))
