%p= t('mailers.hello')

%p= t('.antenne_manager', antennes: @user.managed_antennes.pluck(:name).to_sentence, count: @user.managed_antennes.size)

%p= t('.quarterly_report_available_html')

%p= t('.stats_report_html')

.button
  %a{ href: reports_url }= t('.download_reports')

%p= t('.at_your_disposal')

%p= t('mailers.thanks_for_your_trust')

%p= t('mailers.team_pde')

.info
  %p= t('.support_contact_label')
  = render 'mailers/expert_mailer/support_contacts', antenne: @user.antenne
