= render 'mailers/header', institution_logo_name: @institution.logo&.filename

%p= t('mailers.hello_name', name: @user.full_name)

= t('.reminder_html', antenne: @user.antenne.name, link: link_to(t('.choose_password'), accept_user_invitation_url(invitation_token: @token)))

%h2= t('devise.mailer.invitation_instructions.question_one')

%p= t('devise.mailer.invitation_instructions.answer_one', institution_name: @institution.name)

%h2= t('devise.mailer.invitation_instructions.question_two')

%p= t('devise.mailer.invitation_instructions.answer_two_html')

%p= t('devise.mailer.invitation_instructions.discover_partners_html', link: link_to(t('link_to_partners'), comment_ca_marche_url(anchor: 'liste-partenaires')))
%p
  .button
    = link_to t('devise.mailer.invitation_instructions.accept'), accept_user_invitation_url(invitation_token: @token)

%p= t('devise.mailer.invitation_instructions.training_html', link: link_to('https://app.livestorm.co/place-des-entreprises', 'https://app.livestorm.co/place-des-entreprises'))

%p= t('devise.mailer.invitation_instructions.looking_forward')

%p= t('mailers.place_des_entreprises_team_html', link_to_root: link_to(t('app_name'), root_url))

.info
  %p= t('devise.mailer.invitation_instructions.support_contact_label')
  = render 'mailers/expert_mailer/support_contacts', antenne: @user.antenne
