%p= t('mailers.hello')
%p= t('.you_have_been_invited')
%p= t('.application_summary')
%p= t('.click_on_following_link_to_continue')
%p= link_to t('.finish_registration'), new_user_registration_url(new_registration_params(@user_params))
%p= t('.dont_hesitate_to_ask')
- link_to_root = link_to t('app_name'), root_url
%p= t('mailers.happy_discovery_html', link_to_root: link_to_root)
