- link_to_root = link_to t('app_name'), root_url

%p= t('.hello')
%p= t('.yesterday')

%ul
  - @yesterday_modifications.each do |yesterday_modification|
    %li
      = t('.context',
          expert_name: yesterday_modification[:expert_name],
          expert_institution: yesterday_modification[:expert_institution],
          question_title: yesterday_modification[:question_title],
          company_name: yesterday_modification[:company_name],
          start_date: I18n.l(yesterday_modification[:start_date]))
      %b
        = t(text_key_for_step(yesterday_modification[:old_status],
                              yesterday_modification[:current_status]))

%p= t('.nice_day')
%p= t('.regards')
%p= t('.reso_team_html', link_to_root: link_to_root)
