- meta title: t('.title')

.fr-container.tuto
  .fr-grid-row.fr-grid-row--center.fr-mb-5w
    .fr-col-12.fr-col-md-10
      %h1= t('.title')
      .fr-content-media
        .fr-responsive-vid
          .youtube_player{ autoplay: "0", controls: "1", height: "100%", loading: "1", loop: "0", rel: "1", showinfo: "0", videoid: "0RR4Z4gwljc", width: "100%" }
    .fr-col-12.fr-col-md-10
      %p.bold= t('.available_on_html',
        dailymotion_link: link_to(t('.dailymotion'), 'https://dai.ly/x8bu8ye', title: "#{t('.dailymotion_video_title')}", target: '_blank', rel: 'noopener'))
      = render 'shared/transcription', key: 'tutoriel'

  .fr-grid-row.fr-grid-row--center
    .fr-col-12.fr-col-md-10
      %h2.fr-mb-4w= t('.need_steps')
      %ol
        %li.fr-h5
          = t('.step_1')
          = image_tag('tuto/haut-de-page.png', alt: '')
        %li.fr-h5
          = t('.step_2')
          = image_tag('tuto/bandeau-vert.png', alt: '')
        %li.fr-h5
          = t('.step_3')
          = image_tag('tuto/boutons.png', alt: '')
        %li.fr-h5
          = t('.step_4')
          %br
          %em= t('.comments')
          = image_tag('tuto/experts.png', alt: '')

  .fr-grid-row.fr-grid-row--center
    .fr-col-12.fr-col-md-10
      %h2= t('.notifications_title')
      %p.fr-h5= t('.notifications_question')
      %ul
        %li= t('.notifications_explanations_1_html')
        %li= t('.notifications_explanations_2_html')
      %p= t('.notifications_explanations_3_html')
      %hr
      %h2= t('.emails')
      %p.fr-h5= t('.question_emails')
      %p= t('.explanation_emails')

  .fr-grid-row.fr-grid-row--center.fr-mt-6w
    .fr-col-12.fr-col-md-10
      .fr-callout
        %h2= t('.at_your_service')
        %ul
          %li= t('.at_your_service_1')
          %li= t('.at_your_service_2')
          %li= t('.at_your_service_3')
