.fr-container.tuto
  %h1= t('.title')

  .fr-grid-row.fr-grid-row--center.fr-mb-5w
    .fr-col-12.fr-col-lg-10
      .fr-content-media
        .fr-responsive-vid
          %iframe.fr-responsive-vid__player{ :allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "https://tube.nocturlab.fr/videos/embed/9287324a-fe16-4f34-93ce-3780d88fce63", :title => "vidéo de présentation du service", :width => "100%" }
    .fr-col-12
      %p.bold= t('.available_on_html',
        youtube_link: link_to(t('.youtube'), 'https://youtu.be/0RR4Z4gwljc', title: "#{t('.youtube_video_title')}"),
        dailymotion_link: link_to(t('.dailymotion'), 'https://dai.ly/x8bu8ye', title: "#{t('.dailymotion_video_title')}"))
  .fr-grid-row
    .fr-col-12
      %h2.fr-mb-4w= t('.need_steps')

      %ol
        %li.fr-h5
          = t('.step_1')
          = image_tag('tuto/haut-de-page.png')
        %li.fr-h5
          = t('.step_2')
          = image_tag('tuto/bandeau-vert.png')
        %li.fr-h5
          = t('.step_3')
          = image_tag('tuto/boutons.png')
        %li.fr-h5
          = t('.step_4')
          %br
          %em= t('.comments')
          = image_tag('tuto/experts.png')

  .fr-grid-row
    .fr-col-12
      %h2= t('.emails')
      %p.fr-h5= t('.question_emails')
      %p= t('.explanation_emails')

  .fr-grid-row.fr-mt-6w
    .fr-col-12
      .fr-callout
        %h2= t('.at_your_service')
        %ul
          %li= t('.at_your_service_1')
          %li= t('.at_your_service_2')
          %li= t('.at_your_service_3')
