.fr-container.tuto
  %h1.fr-mb-6w= t('.title')

  .fr-grid-row
    .fr-col-12
      %h2= t('.need_steps')
      %ol
        %li.fr-h5
          = t('.step_1')
          = image_tag('tuto/haut-de-page.png')
        %li.fr-h5
          = t('.step_2')
          = image_tag('tuto/bandeau-vert.png')
        %li.fr-h5
          = t('.step_3')
          = image_tag('tuto/boutons.png')
        %li.fr-h5
          = t('.step_4')
          %br
          %em= t('.comments')
          = image_tag('tuto/experts.png')


  .fr-grid-row
    .fr-col-12
      %h2= t('.emails')
      %p.fr-h5= t('.question_emails')
      %p= t('.explanation_emails')

  .fr-grid-row.fr-mt-6w
    .fr-col-12
      .fr-callout
        %h2= t('.at_your_service')
        %ul
          %li= t('.at_your_service_1')
          %li= t('.at_your_service_2')
          %li= t('.at_your_service_3')

