.rf-container
  %h1.ui.header
    = t('.title')

  .ui.divider.hidden

  .ui.segments.shadow-less
    .ui.segment.secondary
      .ui.header
        %h2= t('.create_acount')
    .ui.segment
      %h4= t('.question_account')

      = link_to t('.download_tuto'), '/tutoriels/creation-de-compte.pdf', target: '_blank', class: 'rf-btn btn-blue', rel: 'noopener'

  .ui.segments.shadow-less
    .ui.segment.secondary
      .ui.header
        %h2= t('.find_need')
    .ui.segment
      %h4= t('.question_expert')
      %p= t('.methods')
      %ul
        %li
          = t('.expert_first_item')
          %blockquote.user_pages
            .text-grey= t('.quote_first_item')
        %li
          = t('.expert_second_item')
          %blockquote.user_pages
            .text-grey= t('.quote_second_item')
      %p
        = t('.other_cases')
        %blockquote.user_pages
          .text-grey= t('.quote_other_cases')

      %h4= t('.subjects-list')
      .ui.accordion
        - Theme.for_interview.each do |theme|
          .title
            %i.dropdown.icon
            = theme
          .content
            %p.transition.hidden
              %ul
                - theme.subjects.for_interview.each do |subject|
                  %li= subject
      .ui.divider.hidden

      = link_to t('.download_guide'), '/tutoriels/Guide_entretien_Place_des_entreprises.pdf', target: '_blank', class: 'rf-btn btn-blue', rel: 'noopener'

  .ui.segments.shadow-less
    .ui.segment.secondary
      .ui.header
        %h2= t('.create_diagnosis')
    .ui.segment
      %h4= t('.question_diagnosis')

      = link_to t('.download_tuto'), '/tutoriels/analyse.pdf', target: '_blank', class: 'rf-btn btn-blue', rel: 'noopener'

  .ui.segments.shadow-less
    .ui.segment.secondary
      .ui.header
        %h2= t('.take_care_diagnosis')
    .ui.segment
      %h4= t('.question_take_care')

      = link_to t('.download_tuto'), '/tutoriels/prise-en-charge.pdf', target: '_blank', class: 'rf-btn btn-blue', rel: 'noopener'

  .ui.segments.shadow-less
    .ui.segment.secondary
      .ui.header
        %h2= t('.emails')
    .ui.segment
      %h4= t('.question_emails')
      %p= t('.explanation_emails')

