%p= t('.hello')
%p= t('.new_message_received')
%ul
  %li= mail_to @message.email
  %li= @message.phone_number
%p= t('.needs')
= needs_description(@message)

%blockquote
  %p= simple_format(@message.description)

- link_to_root = link_to t('app_name'), root_url
%p= t('.reso_app_html', link_to_root: link_to_root)
