= render 'mailers/header'

%p= t('.hello')

%p= t('.failed_jobs_list', count: @jobs.size)
.container
- @jobs.each do |job|
  %ul
    %h3
      = link_to t('.job_id', id: job['jid']), "https://place-des-entreprises.beta.gouv.fr/admin/sidekiq/retries/#{job['score']}-#{job['jid']}"
    %li
      %strong= t('.created_at')
      = I18n.l(DateTime.new(job['created_at']), format: :long)
    %li
      %strong= t('.queue')
      = job['queue']
    %li
      %strong= t('.class')
      = job['class']
    %li
      %strong= t('.error')
      #{job['error_class']} :#{job['error_message']}

= link_to t('.jobs_index'), sidekiq_web_url
