%p= t('mailers.hello')
%p= t('.user_has_signed_up', full_name: @user.full_name, email: @user.email)
- if @user.is_approved?
  - link_to_account = link_to t('.click_here'), admin_user_url(@user)
  %p= t('.view_their_account_html', click_here_link: link_to_account)
- else
  - link_to_activate_account = link_to t('.click_here'), edit_admin_user_url(@user)
  %p= t('.activate_their_account_html', click_here_link: link_to_activate_account)
- link_to_root = link_to t('app_name'), root_url
%p= t('.place_des_entreprises_app_html', link_to_root: link_to_root)
