%h2= t('.new_solicitation_received')
%p= link_to @solicitation, admin_solicitation_url(@solicitation)

%blockquote
  %p= simple_format(@solicitation.description)

%h3= t('attributes.coordinates')
%ul
  %li= mail_to @solicitation.email
  %li= @solicitation.phone_number
  - if @solicitation.siret.present?
    %li= link_to "SIRET : #{@solicitation.siret}", company_url(@solicitation.siret)

%h3= t('activerecord.attributes.solicitation.needs')
= needs_description(@solicitation)

%h3= t('activerecord.attributes.solicitation.tracking')
= render partial: 'solicitations/tracking', locals: { solicitation: @solicitation }

- if @solicitation.alternative
  %h3= t('attributes.alternative')
  %ul
    %li= @solicitation.alternative

