%p= t('.hello')
%p= t('.last_week')


%p
  %strong= t('.signed_up_users_count', count: @information_hash[:signed_up_users][:count])
- if @information_hash[:signed_up_users][:count] > 0
  %ul
    - @information_hash[:signed_up_users][:items].each do |user|
      %li= link_to user.full_name_with_role, admin_user_url(user)


- if @information_hash[:visits].empty?
  %p
    %strong= t('.no_visit_added')
- else
  %p
    %strong= t('.visits')
  %ul
    - @information_hash[:visits].each do |visit|
      - text = t('.visit_count_advisor', count: visit[:visits_count], advisor: visit[:user].full_name)
      - query_params = {'q[advisor_id_eq]' => visit[:user].id,
      'q[created_at_gteq_datetime]' => 1.week.ago.to_date,
      'q[created_at_lteq_datetime]' => Time.zone.today}

      %li= link_to text, admin_visits_url(query_params)


- if @information_hash[:diagnoses].empty?
  %p
    %strong= t('.no_diagnosis_added')
- else
  %p
    %strong= t('.diagnoses')
  %ul
    - @information_hash[:diagnoses].each do |diagnosis|
      - text = t('.diagnosis_count_visit', count: diagnosis[:diagnoses_count], visit: diagnosis[:visit])
      - query_params = {'q[visit_id_eq]' => diagnosis[:visit].id,
      'q[created_at_gteq_datetime]' => 1.week.ago.to_date,
      'q[created_at_lteq_datetime]' => Time.zone.today}

      %li= link_to text, admin_diagnoses_url(query_params)


%p= t('.see_you_next_week')
