%p= t('.hello')
%p= t('.last_week')

%p
  %strong= t('.signed_up_users_count', count: @information_hash[:signed_up_users][:count])
- if @information_hash[:signed_up_users][:count].positive?
  %ul
    - @information_hash[:signed_up_users][:items].each do |user|
      %li= link_to user.full_name_with_role, admin_user_url(user)

%p
  %strong= t('.created_diagnoses_count', count: @information_hash[:created_diagnoses][:count])
- if @information_hash[:created_diagnoses][:count].positive?
  %ul
    - @information_hash[:created_diagnoses][:items].each do |diagnosis|
      - description = t('.diagnosis_description',
      id: diagnosis.id,
      advisor_name: diagnosis.visit.advisor.full_name,
      company_name: diagnosis.visit.company_name)
      %li= link_to description, admin_diagnosis_url(diagnosis)

%p
  %strong= t('.updated_diagnoses_count', count: @information_hash[:updated_diagnoses][:count])
- if @information_hash[:updated_diagnoses][:count].positive?
  %ul
    - @information_hash[:updated_diagnoses][:items].each do |diagnosis|
      - description = t('.diagnosis_description',
      id: diagnosis.id,
      advisor_name: diagnosis.visit.advisor.full_name,
      company_name: diagnosis.visit.company_name)
      %li= link_to description, admin_diagnosis_url(diagnosis)

%p
  %strong= t('.completed_diagnoses_count', count: @information_hash[:completed_diagnoses][:count])
- if @information_hash[:completed_diagnoses][:count].positive?
  %ul
    - @information_hash[:completed_diagnoses][:items].each do |diagnosis|
      - description = t('.diagnosis_description',
      id: diagnosis.id,
      advisor_name: diagnosis.visit.advisor.full_name,
      company_name: diagnosis.visit.company_name)
      %li= link_to description, admin_diagnosis_url(diagnosis)

%p
  %strong= t('.matches_count', count: @information_hash[:matches_count])

%p= t('.see_you_next_week')
