= render 'mailers/header'

%p= t('.hello')

%p= t('.last_week')
.cards
  - date_params = @public_stats_counts[:params].transform_values{ |date| I18n.l(date, format: :iso) }
  - @public_stats_counts[:counts].each do |name, count|
    .card.block-link
      %h3.title= link_to count, public_index_url(date_params.merge(anchor: "chart-#{name}"))
      = t("stats.series.#{name}.title")

%p= t('.reminders')
.cards
  - @reminders_counts[:counts].each do |name, count|
    .card.block-link
      %h3.title= link_to count, polymorphic_url([name, :reminders, :needs])
      = t(name, scope: 'reminders.needs.scopes.name')
      - detail = t(name, scope: 'reminders.needs.scopes.detail', days: Need::REMINDERS_DAYS[name])
      %i (#{detail})

%p= t('.see_you_next_week')
