.rf-container
  %h2= t('sign_in')

  .ui.very.padded.segment.shadow-less
    = form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'ui form' } do |f|
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, required: true
      .field
        = f.label :password
        = f.password_field :password, autocomplete: 'off', required: true
      - if devise_mapping.rememberable?
        .field
          .ui.checkbox
            = f.check_box :remember_me, checked: true, class: 'hidden'
            = f.label :remember_me
      .actions
        = f.submit t('sign_in'), class: 'rf-btn btn-green'
    = render 'devise/shared/links'

  = t('.how_to_sign_up_html', email: mail_to(ENV['APPLICATION_EMAIL']))
