- if flash.alert.present?
  - meta title: t('errors.page_title', title: t('.meta_title'))
- else
  - meta title: t('.meta_title')
- meta description: t('.meta_description')

.fr-container
  .fr-grid-row.fr-grid-row--center.fr-grid-row--gutters.fr-mb-5w
    .fr-col.fr-col-lg-6
      %h1.fr-mb-5w= t('sign_in')
      = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
        %fieldset.fr-fieldset
          .fr-fieldset__element
            %p.fr-hint-text.fr-text--bold= t('.all_fields_are_mandatory')
            .fr-input-group
              = f.label :email, class: 'fr-label' do
                = t('.email')
                %span.fr-hint-text= t('.email_help')
              = f.email_field :email, class: 'fr-input', autofocus: true, required: true, autocomplete: 'email'
            .fr-input-group
              = f.label :password, class: 'fr-label' do
                = t('activerecord.attributes.user.password')
                %span.fr-hint-text= t('.password_help')
              = f.password_field :password, class: 'fr-input', autocomplete: 'current-password', required: true
              = link_to new_password_path(resource_name), class: 'fr-link fr-mt-2w' do
                = t('devise.forgot_password')
            - if devise_mapping.rememberable?
              .fr-checkbox-group
                = f.check_box :remember_me, checked: true
                = f.label :remember_me, class: 'fr-label'
        .fr-mt-3w
          = f.submit t('sign_in'), class: 'fr-btn'

.fr-container--fluid.lighter-blue-bg.fr-py-6w
  .fr-container
    = t('.how_to_sign_up_html', email: mail_to(ENV['APPLICATION_EMAIL']))
