.fr-container
  .fr-grid-row.fr-grid-row--center.fr-grid-row--gutters.fr-mb-5w
    .fr-col.fr-col-lg-6
      %h1.fr-h2= t('.header')
      = form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, data: { turbo: false } }) do |f|
        = render 'devise/shared/error_messages', resource: resource
        = f.hidden_field :invitation_token, readonly: true

        .fr-input-group
          = f.label :email, class: 'fr-label'
          = f.email_field :email, disabled: true, class: 'fr-input'

        %p.fr-mb-4v= t('.prefilled_description')
        = render 'devise/shared/user_fields', form: f

        %p.fr-mb-4v= t('.password_description')

        .required.fr-input-group
          = f.label :password, class: 'fr-label'
          %span.fr-hint-text= t('devise.password_minimum_characters', count: @minimum_password_length)
          = f.password_field :password, class: 'fr-input'
        .required.fr-input-group
          = f.label :password_confirmation, class: 'fr-label'
          = f.password_field :password_confirmation, class: 'fr-input'

        .required.fr-checkbox-group{ 'data-controller': "cgu-acceptance" }
          = f.check_box :cgu_accepted, { class: "required", required: true, data: { action: 'cgu-acceptance#toggleField', 'cgu-acceptance-target': "acceptedCheckbox" } }
          = f.label :cgu_accepted, class: 'fr-label' do
            %span= t('.accept_cgu_html', cgu_path: cgu_path)
          = f.hidden_field :cgu_accepted_at, value: Time.zone.now, disabled: true, data: { 'cgu-acceptance-target': "acceptedAtField" }

        .fr-input-group.fr-mt-2w
          = f.submit t('.submit_button'), class: 'fr-btn'
