.rf-container
  %h2= t ".header"
  = form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, class: 'ui form' }) do |f|
    = render "devise/shared/error_messages", resource: resource

    .required.rf-input-group
      = f.label :email, class: 'rf-label'
      %span.rf-hint-text= t('.description')
      = f.text_field :email, placeholder: t('attributes.placeholder.email'), autofocus: true, autocomplete: 'off', required: true, class: 'rf-input'

    = render 'devise/shared/user_fields', form: f

    .required.field
      = f.label :antenne, class: 'rf-label'
      = f.select(:antenne_id, options_from_collection_for_select(Antenne.not_deleted.order(:name), :id, :name), { include_blank: t('all_choices') }, { class: 'ui search selection dropdown' })

    .actions
      = f.submit t(".submit_button"), class: 'rf-btn btn-green'
