- meta title: t('.title')

%h1= t('.title')

- if @diagnoses.empty?
  %p= t('.no_diagnoses')
- else
  %table.ui.table
    %thead
      %tr
        %th= t('activerecord.attributes.company.name')
        %th= t('activerecord.attributes.visit.happened_on')
        %th
    %tbody
      - @diagnoses.each do |diagnosis|
        %tr
          %td= diagnosis.visit.company_name
          %td= I18n.l diagnosis.visit.happened_on
          %td= link_to t('.view'), action: 'diagnosis', diagnosis_id: diagnosis.id
