- meta title: t('.title')

%h2= t('.title')

- @relay_diagnoses.each do |relay, diagnoses|
  %table.ui.table
    %thead
      %tr
        %th
          = relay.territory.name
    %tbody
      - if diagnoses.empty?
        %tr
          %td
            = t('.no_diagnoses')
      - else
        - diagnoses.each do |diagnosis|
          %tr
            %td.selectable
              %a{ href: diagnosis_relays_path(diagnosis.id) }
                .ui.text.medium
                  = diagnosis.visit.company_description
                - date = diagnosis.visit.happened_on || diagnosis.visit.created_at.to_date
                .ui.text.small
                  %i.calendar.icon
                  = I18n.l date
                .ui.text.small
                  %i.user.icon
                  = diagnosis.visit.advisor
