:ruby
  mine = policy(feedback).creator?

.feedback{ id: "feedback-#{feedback.id}" }
  .author
    %span.icon{ class: (mine ? 'ri-chat-1-fill blue' : 'ri-chat-1-line'), 'aria-hidden': 'true' }
    %p
      %b{ class: (mine ? 'blue' : 'js-simple-tooltip blue'), "data-simpletooltip-content-id" => "tooltip-feedback-#{feedback.id}" }
        = feedback.user.full_name
    .date= I18n.l(feedback.created_at, format: :long)
    - if policy(feedback).destroy?
      = form_with(model: feedback, url: feedback_path(feedback), method: :delete, class: 'delete-form',
      data: { confirm: t('.delete') }, remote: true) do |f|
        = f.button :submit, name: :status, title: t('.delete_comment'), class: 'btn-unstyled', id: "delete-feedback-#{feedback.id}" do
          %span.ri-delete-bin-line.red{ 'aria-hidden': 'true' }
    .hidden{ id: "tooltip-feedback-#{feedback.id}" }
      = person_block(feedback.user)
  .content= simple_format(auto_link(feedback.description))
