:ruby
  for_me = policy(feedback).creator?

.event{ id: "feedback-#{feedback.id}" }
  .label
    %a{ href: "#feedback-#{feedback.id}", data: { turbo: 'false' } }
      %i.comment.outline.icon{ class: ('blue' if for_me) }
  .content
    .summary
      .user.popup-hover
        = feedback.user.full_name
      .ui.popup= person_block(feedback.user)
      .date= I18n.l(feedback.created_at, format: :long)
    .extra.text= simple_format(auto_link(feedback.description))
    - if policy(feedback).destroy?
      .meta= link_to(t('delete'),
        feedback_path(feedback),
          data: { confirm: t('.delete'), remote: true, method: :delete })
