= form_with model: feedback, id: "feedback-form-#{feedback.feedbackable_id}-#{Time.now.to_i}", data: { controller: "feedback-form" },
  class: "feedbacks-form feedback-form-#{feedback.feedbackable_id} #{'from_alert_box' if local_assigns[:from_alert_box].present?} " do |form|
  = form.hidden_field :feedbackable_id
  = form.hidden_field :feedbackable_type
  = form.hidden_field :category
  .fr-input-group
    - placeholder = local_assigns[:placeholder].presence || t("feedbacks.form.#{feedback.category.underscore}.placeholder")
    = form.label :description, t('.title'), class: 'fr-label', for: "feedback-text-#{feedback.feedbackable_id}"
    - if policy(feedback).prefill?
      .fr-my-1w
        %span.fr-mr-1w= t('.prefill')
        - I18n.t("prefill_feedbacks.#{feedback.category}").each_value do |prefill|
          %button.fr-btn.fr-btn--secondary.fr-btn--sm{ data: { content: prefill[:content], action: "feedback-form#prefill" } }
            = prefill[:label]
        %button.fr-link{ data: { action: "feedback-form#reset" } }
          %span.ri.ri-close-circle-line
          %span= t('.reset')
    = form.text_area :description, placeholder: placeholder, class: 'fr-input', rows: 2, required: true, id: "feedback-text-#{feedback.feedbackable_id}", data: { 'feedback-form-target': "prefilledField" }
    = form.button :submit, class: 'fr-btn btn-blue', id: "feedback-submit-#{feedback.feedbackable_id}" do
      = t('.submit')
