= form_with model: feedback, id: "feedback-form-#{feedback.feedbackable_id}-#{Time.now.to_i}", data: { controller: "feedback-form" },
  class: "feedbacks-form feedback-form-#{feedback.feedbackable_id} #{'from_alert_box' if local_assigns[:from_alert_box].present?} " do |form|
  = form.hidden_field :feedbackable_id
  = form.hidden_field :feedbackable_type
  = form.hidden_field :category
  .fr-input-group
    - placeholder = local_assigns[:placeholder].presence || t("feedbacks.form.#{feedback.category.underscore}.placeholder")
    = form.label :description, t('.title'), class: 'fr-label'
    - if policy(feedback).prefill?
      %span Préremplissage :
      - I18n.t("prefill_feedbacks.#{feedback.category}").values.each do |prefill|
        %button.fr-btn.fr-btn--secondary.fr-btn--sm{ data: { content: prefill[:content], action: "feedback-form#prefill" } }
          = prefill[:label]
    = form.text_area :description, placeholder: placeholder, class: 'fr-input', rows: 2, required: true, data: { 'feedback-form-target': "prefilledField" }
    = form.button :submit, class: 'fr-btn btn-blue' do
      = t('.submit')
