= form_with model: feedback, id: "feedback-form-#{feedback.feedbackable_id}", class: 'feedbacks-form' do |form|
  = form.hidden_field :feedbackable_id
  = form.hidden_field :feedbackable_type
  = form.hidden_field :category
  .rf-input-group
    = form.label :description, t('.title'), class: 'rf-label'
    = form.text_area :description, placeholder: t("feedbacks.form.#{feedback.category.underscore}.placeholder"),
      class: 'rf-input',
      rows: 2, required: true
    = form.button :submit, class: 'rf-btn btn-blue' do
      = t('.submit')
