var noComment = document.getElementById('no-comment')
if (noComment != null) { noComment.parentNode.removeChild(noComment) }

- feedback_html = render 'feedbacks/feedback', feedback: @feedback
var element = document.getElementById('display-feedbacks-#{@feedback.feedbackable_id}')
if (element != null) {
element.insertAdjacentHTML('beforeend', "#{j feedback_html}");
document.querySelector('.feedback-form-#{@feedback.feedbackable_id}').reset()
}

-# Si ça vient du formulaire de changement de statut d'un besoin
var form = document.getElementsByClassName('from_alert_box');
if (form.length > 0) {
form[0].insertAdjacentHTML('beforebegin', "#{j I18n.t('feedbacks.form.thank_you_html').html_safe}");
form[0].parentNode.removeChild(form[0]);
var orangeBox = document.getElementsByClassName('orange-box')
-# Si orangeBox est présent c'est que le besoin à été refusé
if (orangeBox.length > 0) {
text = document.getElementsByClassName('explanations');
text[0].innerHTML = "#{j I18n.t('needs.match_actions.need_canceled_short')}";
}
}
