- if !match.expert.deleted? || (match.expert.deleted? && policy(match.expert).show_deleted_experts?)
  .fr-grid-row.row-match{ id: "row-match-#{match.id}" }
    .fr-col-sm-1.fr-col-1.col-icon
      = expert_status_icon(match)
    .fr-col-sm-8.fr-col-11.col-expert-name
      %button.fr-tag.fr-icon-information-line.fr-tag--icon-left.custom-modal-tag.custom-modal-tag--blue{ 'aria-controls': "modal-expert-#{match.expert.id}", 'data-fr-opened': 'false', title: t('application.modal.see_expert_coordinates') }
        = match.expert.full_name
      = " - " + match.expert.antenne.name
      - if (defined? origin) && origin == 'reminders' && policy(match.expert.antenne).show_manager?
        = render 'application/person_modal', person: match.expert, managers_antenne: match.expert.antenne
      - else
        = render 'application/person_modal', person: match.expert

    .fr-col-sm-3.fr-col.col-label.match-admin-actions
      .status-label
        = status_label(match)
      - if policy(match).update_status?
        %ul.fr-btns-group.fr-btns-group--inline.fr-btns-group--sm
          %li
            %details.details--dropdown
              %summary.fr-btn.fr-btn--secondary{ title: t('.change_match_status') }
                %span.ri-edit-box-line{ 'aria-hidden': 'true' }
              .details--dropdown__content
                = admin_match_actions_buttons match
          %li
            = link_to quo_active_reminders_expert_path(match.expert), class: "fr-btn fr-btn--secondary fr-mb-0", title: t('.see_expert_inbox') do
              %span.ri-inbox-line{ 'aria-hidden': 'true' }
