- if !match.expert.deleted? || (match.expert.deleted? && policy(match.expert).show_deleted_experts?)
  .fr-grid-row.row-match{ id: "row-match-#{match.id}" }
    .fr-col-sm-1.fr-col-1.col-icon
      = expert_status_icon(match)
    .fr-col-sm-8.fr-col-11
      %p
        %b.blue.js-simple-tooltip{ "data-simpletooltip-content-id" => "tooltip-match-#{match.id}" }
          #{match.expert.full_name}
        = " - " + match.expert.antenne.name
      .hidden{ id: "tooltip-match-#{match.id}" }
        = person_block(match.expert)
        - if (defined? origin) && origin == 'reminders' && policy(match.expert.antenne).show_manager?
          = render 'antenne_manager', antenne: match.expert.antenne

    .fr-col-sm-2.fr-col.col-label
      = status_label(match)

    .fr-col-sm-1.fr-col.modify-match
      - if policy(match).update_status?
        %section.fr-accordion
          %h3.fr-accordion__title
            %button.fr-accordion__btn{ "aria-controls" => "fr-accordion-#{match.id}", "aria-expanded" => "false" }
              .ri-edit-box-line
          .fr-collapse{ id: "fr-accordion-#{match.id}" }
            = admin_match_actions_buttons match
