.ui.segment.assistance.shadow-less
  %h4.ui.header= assistance.title
  %p= assistance.institution.name
  - if assistance.description
    .toggle-div-wrapper.assistance-description-wrapper
      .toggle-show-button.clickable
        %strong
          = t('activerecord.attributes.assistance.description')
          = semantic_icon('caret right')
      .toggle-hide-button.clickable
        %strong
          = t('activerecord.attributes.assistance.description')
          = semantic_icon('caret down')
      .toggle-div
        %em= simple_format assistance.description
  - if assistance.has_experts?
    %h5= t('.contacts')
    .ui.cards
      - assistance.experts.each do |expert|
        .card.shadow-less
          .content
            .header= expert.full_name
            .meta= expert.role
          .extra.content
            %contact-modal{ 'visit-id' => visit.id, 'assistance-id' => assistance.id, 'expert-id' => expert.id}