.ui.segment.assistance.shadow-less
  %h4.ui.header= assistance.title
  %p= assistance.institution.name
  - if assistance.has_experts?
    - assistance.experts.each do |expert|
      %h5= t('.contact')
      %p
        = expert.full_name
        %br
        = expert.role
      - if visit.visitee && expert.email
        = expert_contact_button(visit: visit, question: question, assistance: assistance, expert: expert)
      - else
        = link_to t('assistance.assistance.contact_by_email'), edit_visitee_visit_path(visit, diagnosis_id: diagnosis_id), class: 'ui button green mini'
  - else
    - if visit.visitee
      = institution_contact_button(visit: visit, question: question, assistance: assistance)
    - else
      = link_to t('assistance.assistance.contact_institution_by_email'), edit_visitee_visit_path(visit, diagnosis_id: diagnosis_id), class: 'ui button green mini'
