.ui.info.message
  %p= t('.assitance_was_found')

%h3= t('.description')
%p= simple_format assistance.description

%h3= t('.contact')
- if assistance.user
  - contact = assistance.user
  %p= contact.full_name
  %p= "#{contact.role} - #{contact.institution}"
  - visit = Visit.of_advisor(current_user).last # TODO: Improve selection of visit
  = link_to t('.contact_by_email'), prepare_email_visit_path(visit), class: 'ui button green'