.ui.segment.assistance
  %h4.ui.header= assistance.title
  %p= assistance.company.name
  - if assistance.user
    %h5= t('.contact')
    - contact = assistance.user
    %p
      = contact.full_name
      %br
      = contact.role
    - expert_email = contact.email
    - mailto_text = t('.contact_by_email')
  - else
    - expert_email = assistance.company.email
    - mailto_text = t('.contact_institution_by_email')

  - visit = Visit.find params[:visit_id] # TODO: Improve selection of visit
  - if visit.visitee
    - email_body = render partial: 'visits/email_to_expert', locals: { visit_date: visit.happened_at_localized, visit_company: visit.company, advisor_user: current_user, company_user: visit.visitee, advice_type: question.label, offer: assistance.title, expert_institution: assistance.company.name }
    - email_body = strip_tags email_body
    = mail_to expert_email, mailto_text, bcc: ENV['APPLICATION_EMAIL'], body: email_body, subject: "#{t('app_name')} - #{t('.company_needs_you', company: visit.visitee.company )}", class: 'ui button green'
  - else
    = link_to mailto_text, edit_visitee_visit_path(visit, question_id: question.id), class: 'ui button green'