= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.intro_html', link_to_root: link_to(t('app_name'), root_url))

%p= t('.for_better_taking_care_html')

%ul
  %li= t('.treasury_html')
  %li= t('.recruitment_html')
  %li= t('.investment_html')

%p= t('.upon_receipt')

%p= t('mailers.thanks_for_your_trust')

%p= t('mailers.cordially')

= render 'mailers/solicitation_mailer/footer'
