= render 'mailers/header'

%p= t('mailers.hello')

%p= t('mailers.bad_quality.intro_html', subject_label: @subject_label, link_to_root: link_to(t('app_name'), root_url))

%p= t('mailers.bad_quality.for_better_taking_care')

%ul
  %li= t('.you_activity')
  %li= t('.the_goal')
  %li= t('.amount')
  %li= t('.bank_relation')

%p= t('mailers.bad_quality.upon_receipt')

%p= t('mailers.thanks_for_your_trust')

%p= t('mailers.cordially')

= render 'mailers/solicitation_mailer/footer'
