= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.intro_html', link_to_root: link_to(t('app_name'), root_url))

%p= t('.no_carsat_in_region_html')

%p= t('.useful_links')
%ul
  %li= t('.retirement_html')
  %li= t('.purchases_html')
  %li= t('.duerp_html')

%p= t('mailers.thanks_for_your_comprehension')

%p= t('mailers.cordially')

= render 'mailers/solicitation_mailer/footer'
