= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.intro_html', link_to_root: link_to(t('app_name'), root_url))

%p= t('.contact_dreets_html')

%p= t('.dreets_phone_number_html')

%p= t('.other_informations')

%ul
  %li= link_to 'https://www.service-public.fr/particuliers/vosdroits/N19806', 'https://www.service-public.fr/particuliers/vosdroits/N19806'
  %li= link_to 'https://code.travail.gouv.fr', 'https://code.travail.gouv.fr'

%p= t('mailers.hope_to_helped')

%p= t('mailers.best_regards')

= render 'mailers/solicitation_mailer/footer'
