= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.intro_html', link_to_root: link_to(t('app_name'), root_url))

%p= t('.no_tva_number')

%p= t('.sie_annuaire_html')

%p= t('.sie_on_impots_html')

%p= t('mailers.hope_to_helped')

%p= t('mailers.cordially')

= render 'mailers/solicitation_mailer/footer'
