= render 'mailers/header'

%p= t('mailers.hello')

%p= t('mailers.solicitation.base_intro_html', link_to_root: link_to(t('app_name'), root_url))

%p= t('.taking_care_by_experts')

%p= t('.quality_monitoring')

%p= t('.no_new_element')

%p= t('mailers.thanks_for_your_comprehension')

%p= t('mailers.best_regards')

= render 'mailers/solicitation_mailer/footer'
