= render 'mailers/header'

%p= t('mailers.hello')

%p= t('mailers.solicitation.base_intro_html', link_to_root: link_to(t('app_name'), root_url))

%p= t('.no_expert')

%p= t('.service_improvement_html')

%p= t('.useful_links')
%ul
  %li= t('.point_acces_droits_html')
  %li= t('.avocat_html')

%p= t('mailers.thanks_for_your_comprehension')

%p= t('mailers.best_regards')

= render 'mailers/solicitation_mailer/footer'
