= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.intro_html', link_to_root: link_to(t('app_name'), root_url))

%p= t('.calendar_html', link_to_calendar: link_to(comment_ca_marche_url, comment_ca_marche_url(anchor: 'calendrier')))

%p= t('.contact_cma_cci')
%ul
  %li= t('.cma_html')
  %li= t('.cci_html')

%p= t('.banque_de_france_html')

%p= t('.nl_subscription_html', link: link_to(t('.newsletter'), root_url(anchor: 'section-newsletter')))

%p= t('mailers.hope_to_helped')

%p= t('mailers.cordially')

= render 'mailers/solicitation_mailer/footer'
