= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.intro_html', link_to_root: link_to(t('app_name'), root_url))

%p= t('.interior_ministry_html')

%p= t('.phone_number_html')

%p= t('mailers.hope_to_helped')

= render 'mailers/solicitation_mailer/footer'
