= render 'mailers/header'

%p= t('mailers.hello')

%p= t('mailers.solicitation.base_intro_html', link_to_root: link_to(t('app_name'), root_url))

%p= t('.siret_error')

%p= t('.siret_infos_html')

%p= t('.commune_name_html')

%p= t('.solicitation_transmission')

%p= t('mailers.thanks_for_your_comprehension')

%p= t('mailers.cordially')

= render 'mailers/solicitation_mailer/footer'
