= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.intro_html', link_to_root: link_to(t('app_name'), root_url))

%p= t('.no_expert')

%p= t('.useful_links')
%ul
  %li= t('.tradespeople_html')
  %li= t('.artisans_html')
  %li= t('.liberal_professions_html')

%p= t('mailers.thanks_for_your_comprehension')

%p= t('mailers.cordially')

= render 'mailers/solicitation_mailer/footer'
