%p= t('.hello', full_name: @user.full_name)

- link_to_root = link_to t('app_name'), root_url
%p= t('.here_are_weekly_statistics_html', link_to_root: link_to_root, territory_name: @territory_name)

%p
  %strong= t('.created_diagnoses_count', count: @information_hash[:created_diagnoses][:count])
- if @information_hash[:created_diagnoses][:count].positive?
  %ul
    - @information_hash[:created_diagnoses][:items].each do |diagnosis|
      - description = t('.diagnosis_description',
      id: diagnosis.id,
      advisor_name: diagnosis.advisor.full_name,
      company_name: diagnosis.company.name)
      %li= description

%p
  %strong= t('.updated_diagnoses_count', count: @information_hash[:updated_diagnoses][:count])
- if @information_hash[:updated_diagnoses][:count].positive?
  %ul
    - @information_hash[:updated_diagnoses][:items].each do |diagnosis|
      - description = t('.diagnosis_description',
      id: diagnosis.id,
      advisor_name: diagnosis.advisor.full_name,
      company_name: diagnosis.company.name)
      %li= description

%p
  %strong= t('.completed_diagnoses_count', count: @information_hash[:completed_diagnoses][:count])
- if @information_hash[:completed_diagnoses][:count].positive?
  %ul
    - @information_hash[:completed_diagnoses][:items].each do |diagnosis|
      - description = t('.diagnosis_description',
      id: diagnosis.id,
      advisor_name: diagnosis.advisor.full_name,
      company_name: diagnosis.company.name)
      %li= description

%p
  %strong= t('.matches_count', count: @information_hash[:matches_count])

%p= t('.have_a_nice_week')
%p= t('.place_des_entreprises_team_html', link_to_root: link_to_root)
