%table.ui.definition.selectable.celled.table
  %thead
    %tr
      %th
      %th= Institution.human_attribute_name(:subjects)
      %th= Institution.human_attribute_name(:antennes)
      %th= Institution.human_attribute_name(:advisors)
  %tbody
    - institutions.each do |institution|
      %tr
        - url = url_for(institution)
        %td.selectable
          %a{ href: url }
            %h4.ui.image.header
              .ui.mini.image= institution_image institution.name
              .content
                = institution.name
        %td
          = link_to [institution, :subjects] do
            - institution.institutions_subjects.group_by(&:theme).each do |theme, institutions_subjects|
              %li #{theme.label} (#{institutions_subjects.size})
        %td
          = link_to [institution, :antennes] do
            = institution.antennes.human_count
        %td
          = link_to [institution, :advisors] do
            = institution.advisors.human_count
