.fr-table--c-annuaire
  %table
    %thead
      %tr
        %th{ scope: "col" }= Institution.model_name.human
        %th{ scope: "col" }= Institution.human_attribute_name(:subjects)
        %th{ scope: "col" }= Institution.human_attribute_name(:antennes)
        %th{ scope: "col" }= Institution.human_attribute_name(:advisors)
    %tbody
      - institutions.each do |institution|
        %tr
          %td.fr-enlarge-link
            = display_logo(name: institution.logo&.filename, path: "institutions/") if institution.logo.present?
            = link_to institution.name, institution_users_path(institution, region_id: params[:region_id].presence), class: 'fr-text--lg'
          %td.fr-enlarge-link
            = link_to [institution, :subjects] do
              %ul
                - institution.institutions_subjects.group_by(&:theme).each do |theme, institutions_subjects|
                  %li #{theme.label} (#{institutions_subjects.size})
          %td.fr-enlarge-link
            = link_to institution_antennes_path(institution, region_id: params[:region_id].presence) do
              = antennes_count_display(antennes_count, institution.id)
          %td.fr-enlarge-link
            = link_to institution_users_path(institution, region_id: params[:region_id].presence) do
              = users_count_display(users_count, institution.id)
