.fr-table--c-annuaire
  %table
    %thead
      %tr
        %th= Institution.model_name.human
        %th= Institution.human_attribute_name(:subjects)
        %th= Institution.human_attribute_name(:antennes)
        %th= Institution.human_attribute_name(:advisors)
    %tbody
      - institutions.preload(:logo).each do |institution|
        %tr
          %td.fr-enlarge-link
            = display_image(name: institution.logo&.filename, path: "institutions/") if institution.logo.present?
            = link_to institution.name, institution_users_path(institution, region_id: params[:region_id].presence), class: 'fr-text--lg'
          %td.fr-enlarge-link
            = link_to [institution, :subjects] do
              %ul
                - institution.institutions_subjects.group_by(&:theme).each do |theme, institutions_subjects|
                  %li #{theme.label} (#{institutions_subjects.size})
          %td.fr-enlarge-link
            = link_to [institution, :antennes] do
              = antennes_count(institution)
          %td.fr-enlarge-link
            = link_to [institution, :users] do
              = advisors_count(institution)
