- title = Institution.model_name.human.pluralize
- meta title: title
.fr-container.light-blue-bg.fr-p-3w
  %h1.fr-h2= t('annuaire.search.free_text_search')
  %div
    = render 'annuaire/search/form', subjects: @subjects


.fr-container.fr-mt-9w
  %h2= title
  .fr-mb-6w
    = render 'form', subjects: @subjects

  = render 'table', institutions: @institutions, antennes_count: @antennes_count, users_count: @users_count
