.fr-grid-row.fr-py-3w.fr-mb-3w.white-bg#stats-params
  .fr-col-12.fr-col-md-6.fr-col-offset-md-3
    = form_with url: public_index_path, method: :get, skip_enforcing_utf8: true, local: true do |f|
      .fr-select-group
        = f.label :territory, t('stats.stats_params.region'), class: 'fr-label'
        = f.collection_select :territory, Territory.regions.order(:name), :id, :name, { selected: params[:territory],
          include_blank: t('all.feminine') }, class: "fr-select"
      .fr-input-group
        = f.label :start_date, class: 'fr-label' do
          = t('stats.stats_params.start_date')
          %span.fr-hint-text= t('.datepicker_format')
        .fr-input-wrap
          = f.date_field :start_date, { value: stats.params.start_date, class: 'fr-input' }
      .fr-input-group
        = f.label :end_date, class: 'fr-label' do
          = t('stats.stats_params.end_date')
          %span.fr-hint-text= t('.datepicker_format')
        .fr-input-wrap
          = f.date_field :end_date, { value: stats.params.end_date, class: 'fr-input' }
      .fr-input-group
        = f.submit t('stats.stats_params.filter'), class: 'fr-btn'
        - if stats.params.table.count > 2
          = link_to t('stats.stats_params.clear_search'), request.fullpath.split('?').first, class: 'fr-btn fr-btn--secondary'
