.fr-grid-row.fr-py-3w.fr-mb-3w.white-bg#stats-params
  .fr-col-12.fr-col-md-6.fr-col-offset-md-3
    %h2= t('stats.stats_params.title')
    - path = { controller: "stats/public", action: "index" }
    = form_with url: path, method: :get, skip_enforcing_utf8: true, local: true do |f|
      = hidden_field_tag :anchor, 'stats-charts'
      .fr-select-group
        = f.label :territory, t('stats.stats_params.region'), class: 'fr-label'
        = f.collection_select :territory, Territory.regions.order(:name), :id, :name, { selected: params[:territory],
          include_blank: t('all.feminine') }, class: "fr-select"
      .fr-select-group
        = f.label :theme, t('stats.stats_params.theme'), class: 'fr-label'
        = f.collection_select :theme, Theme.for_interview.order(:label), :id, :label, { selected: params[:theme],
          include_blank: t('all.feminine') }, class: "fr-select"
      .fr-input-group
        = f.label :start_date, class: 'fr-label' do
          = t('stats.stats_params.start_date')
          %span.fr-hint-text= t('.datepicker_format')
        .fr-input-wrap
          = f.date_field :start_date, { value: (stats[:start_date] if stats.present?), class: 'fr-input' }
      .fr-input-group
        = f.label :end_date, class: 'fr-label' do
          = t('stats.stats_params.end_date')
          %span.fr-hint-text= t('.datepicker_format')
        .fr-input-wrap
          = f.date_field :end_date, { value: (stats[:end_date] if stats.present?), class: 'fr-input' }
      .fr-input-group
        = f.submit t('stats.stats_params.filter'), class: 'fr-btn'
        = link_to t('stats.stats_params.clear_search'), request.fullpath.split('?').first, class: 'fr-btn fr-btn--secondary'
