- meta title: t('.title'), description: t('.meta_description')
- content_for :head do
  - javascript_include_tag 'highcharts', data: { turbolinks_track: 'reload' }

%section.section.section-white.landing
  .container.container
    %h1= t('.title')

= render 'pages/breadcrumbs', title: t('.title')

%section.section.section-grey#section-stats
  - cache("stats_charts-#{@stats.params}", expires_in: 1.hour) do
    .main-stat
      = render 'stats/main_stats_chart', data: @main_stat, name: :exchange_with_expert_column
    .container.container-full
      = render 'stats/stats_params', stats: @stats, route: public_index_path
      #stats-charts
        - names = [:solicitations, :solicitations_in_deployed_regions, :solicitations_diagnoses, :exchange_with_expert, :themes, :companies_by_employees, :companies_by_naf_code]
        - names.each do |name|
          - data = @stats.send(name.to_sym)
          = render 'stats/stats_chart', data: data, name: name
