- meta title: t('.title')
- content_for :head do
  - javascript_include_tag 'highcharts', data: { turbo_track: 'reload' }

%section.section.section-white.landing
  .container.container
    %h1= t('.title')

= render 'pages/breadcrumbs', title: t('.title')

%section.section.section-grey#section-stats
  .container.container-full
    - cache("stats_charts-#{@stats.params}", expires_in: 1.hour) do
      = render 'stats/stats_params', stats: @stats, route: public_index_path
      #stats-charts
        - names = [:solicitations, :solicitations_in_deployed_regions, :solicitations_diagnoses, :exchange_with_expert, :taking_care, :themes, :companies_by_employees, :companies_by_naf_code]
        - names.each do |name|
          = render 'stats/stats_chart', stats: @stats, name: name
