%h2= t('.business_owners')
.fr-grid-row.fr-grid-row--gutters
  .fr-col-12.fr-col-md-4
    .content.white-bg.fr-p-3w
      %q= t('.testimonial_1_text_html')
      .fr-mt-4w
        .article__author= t('.testimonial_1_author_html')
  .fr-col-12.fr-col-md-4
    .content.white-bg.fr-p-3w
      %q= t('.testimonial_2_text_html')
      .fr-mt-4w
        .article__author= t('.testimonial_2_author_html')
  .fr-col-12.fr-col-md-4
    .content.white-bg.fr-p-3w
      %q= t('.testimonial_3_text_html')
      .fr-mt-4w
        .article__author= t('.testimonial_3_author_html')
