<% meta title: t('.title') %>
<section class="section section-white landing">
  <div class="container container">
    <h1>Place des Entreprises, comment ça marche ?</h1>
    <p class="subtitle">Porté par le Ministère de l’Économie et du Ministère du Travail, le service Place des Entreprises rassemble de nombreux partenaires publics et parapublics chargés d’accompagner les TPE & PME.</p>
  </div>
</section>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<section class="section section-white landing">
  <%= render 'pages/how_it_works' %>
</section>

<section class="section section-grey" id="liste-partenaires">
  <div class="container">
    <h2>Place des Entreprises vous met en relation avec le conseiller qui peut vous aider parmi plus de 50 partenaires publics et parapublics : </h2>
    <div class="logo-list">
      <%= all_institutions_images(session[:region]) %>
    </div>
    <div class="row partners-list">
      <% @institutions&.each do |institutions_column| %>
        <ul>
          <% institutions_column.each do |institution| %>
            <li><%= institution %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</section>

<section class="section section-color">
  <div class="container">
    <%= render 'stats/ministats' %>
  </div>
</section>

<section class="section section-grey" id="section-testimonials">
  <div class="container">
    <%= render 'index_testimonials'  %>
  </div>
</section>

<section class="section section-white" id="section-newsletter">
  <div class="container">
    <%= render 'pages/newsletter' %>
    <div class="notification error">
      <div class="container">
        <p>
          Le service est progressivement déployé dans les régions volontaires. <b>Il sera prochainement ouvert en Île-de-France.</b><br/>Si vous souhaitez être informé de l’ouverture du service dans votre région, n’hésitez pas à vous inscrire à la newsletter !
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section-grey" id="section-contact-us">
  <div class="container">
    <h2 class="section__title">
      <%= t('contact_us').titleize %>
    </h2>
    <p>
      <%= t('.contact_us_html', mailto_link: mailto_contact_us(ENV['APPLICATION_EMAIL'])) %>
    </p>
  </div>
</section>

