- meta title: t('.meta_title'), description: t('.meta_description')
.fr-container.fr-py-7w.fr-mt-3v
  %h1.fr-h2= t('.long_title')
  %p.fr-text--lg= t('.subtitle')

= render 'pages/breadcrumbs', title: t('.title')

= render 'pages/how_it_works_long'

.fr-container.fr-pb-5w
  = render 'pages/faq', faq: @faq, ld_json: @ld_json

.fr-container--fluid.section-grey.fr-py-7w#liste-partenaires
  .fr-container
    %h2.fr-h3= t('.partners')
    .logo-list
      = prefet_region_logo(session[:region_code])
      = region_logo(session[:region_code])
      = all_institutions_images
    .fr-grid-row
      - @institutions.each do |institutions_column|
        .fr-col-md-3.fr-col-sm-6.fr-col-12
          %ul.list-unstyled.partners-list
            - institutions_column.each do |institution|
              %li= institution

.fr-container--fluid.section-color
  .fr-container
    = render 'stats/ministats', stats: @stats

.fr-container--fluid.section-grey.fr-py-7w#section-testimonials
  .fr-container
    = render 'index_testimonials'

.fr-container--fluid.section-grey.fr-py-7w
  .fr-container
    .fr-grid-row
      .fr-col-12.fr-col-md-8.fr-col-offset-md-2
        .fr-content-media
          .fr-responsive-vid.youtube_player{ autoplay: "0", loading: "0", loop: "0", rel: "0", showinfo: "1", theme: "light", videoid: "QuCt9NvHBPU", title: [t('youtube_video'), t('.pde_testimonial')].join(' : ') }
          %h2.fr-content-media__caption= t('.pde_testimonial')

        .fr-transcription#transcription-testimonial
          %button.fr-transcription__btn{ 'aria-controls': 'fr-transcription-collapse-transcription-testimonial', 'aria-expanded': 'false', 'data-fr-js-collapse-button': 'false' }
            = t('.read_transcription')
          .fr-collapse.fr-collapse--expanded#fr-transcription-collapse-transcription-testimonial{ 'data-fr-js-collapse': 'false' }
            .fr-transcription__footer
              .fr-transcription__actions-group
                %button.fr-btn--fullscreen.fr-btn{ 'aria-controls': 'fr-transcription-modal-transcription-testimonial', 'aria-label': t('pages.navbar.extend'), 'data-fr-js-modal-button': 'false', 'data-fr-opened': 'false' }
                  = t('pages.navbar.extend')
            .fr-modal#fr-transcription-modal-transcription-testimonial{ 'aria-labelledby': 'fr-transcription-modal-transcription-testimonial-title', 'data-fr-js-modal': 'false' }
              .fr-container.fr-container--fluid.fr-container-md
                .fr-grid-row.fr-grid-row--center
                  .fr-col-12.fr-col-md-10.fr-col-lg-8
                    .fr-modal__body{ 'data-fr-js-modal-body': 'false' }
                      .fr-modal__header
                        %button.fr-btn--close.fr-btn{ 'aria-controls': 'fr-transcription-modal-transcription-testimonial', 'data-fr-js-modal-button': 'false', title: t('pages.navbar.close') }
                          = t('pages.navbar.close')
                      .fr-modal__content
                        = render 'transcription_pde_tutorial'
