- meta title: t('.meta_title'), description: t('.meta_description')
%section.section.section-white.landing
  .container.container
    %h1= t('.long_title')
    %p.subtitle= t('.subtitle')

= render 'pages/breadcrumbs', title: t('.title')

%section.section.section-white.landing
  = render 'pages/how_it_works'

%section.section.section-white
  .container
    = render 'pages/faq', faq: @faq, ld_json: @ld_json

%section.section.section-grey#liste-partenaires
  .container
    %h2 Place des Entreprises vous met en relation avec le conseiller qui peut vous aider parmi plus de 40 partenaires publics et parapublics :
    .logo-list
      = prefet_region_logo(session[:region_code])
      = region_logo(session[:region_code])
      = all_institutions_images
    .row.partners-list
      - @institutions.each do |institutions_column|
        %ul
          - institutions_column.each do |institution|
            %li= institution

.section.section-color
  .container
    = render 'stats/ministats'

%section.section.section-grey#section-testimonials
  .container
    = render 'index_testimonials'

%section.section-video
  .container-iframe
    .youtube_player{ autoplay: "0", height: "100%", loading: "0", loop: "0", rel: "0", showinfo: "1", theme: "light", videoid: "QuCt9NvHBPU", width: "100%" }


%section.section.section-grey#section-contact-us
  .container
    %h2.section__title= t('.join_us')
    %p= t('.contact_us_html', mailto_link: mailto_contact_us(ENV['APPLICATION_EMAIL']))
