- meta title: t('.meta_title'), description: t('.meta_description')
.fr-container.fr-py-7w.fr-mt-3v
  %h1.fr-h2= t('.long_title')
  %p.fr-text--lg= t('.subtitle')

= render 'pages/breadcrumbs', title: t('.title')

= render 'pages/how_it_works_long'

.fr-container.fr-pb-5w
  = render 'pages/faq', faq: @faq, ld_json: @ld_json

.fr-container--fluid.section-grey.fr-py-7w#liste-partenaires
  .fr-container
    %h2.fr-h3= t('.partners')
    .logo-list
      = prefet_region_logo(session[:region_code])
      = region_logo(session[:region_code])
      = all_institutions_images
    .fr-grid-row
      - @institutions.each do |institutions_column|
        .fr-col-md-3.fr-col-sm-6.fr-col-12
          %ul.list-unstyled.partners-list
            - institutions_column.each do |institution|
              %li= institution

.fr-container--fluid.section-color
  .fr-container
    = render 'stats/ministats', stats: @stats

.fr-container--fluid.section-grey.fr-py-7w#section-testimonials
  .fr-container
    = render 'index_testimonials'

.fr-container--fluid.section-grey.fr-py-7w
  .fr-container
    .fr-grid-row
      .fr-col-12.fr-col-md-8.fr-col-offset-md-2
        .fr-content-media
          .fr-responsive-vid.youtube_player{ autoplay: "0", loading: "0", loop: "0", rel: "0", showinfo: "1", theme: "light", videoid: "QuCt9NvHBPU", title: [t('youtube_video'), t('.pde_testimonial')].join(' : ') }
          %h2.fr-content-media__caption= t('.pde_testimonial')

        = render 'shared/transcription', key: 'testimonial'
