- meta title: t('.title')

.hero
  .hero__container
    %h1
      = t('.title')
    - mailto_link = mail_to ENV['APPLICATION_EMAIL'], ENV['APPLICATION_EMAIL'], target: :_blank
    %p= t('.contact_team_for_general_purpose_html', mailto_link: mailto_link)


%section.section.section-grey
  .container.container-medium
    = t('.explanation_html')


%section.section.section-white#qui-sommes-nous
  .container.container-medium
    %h2.section__title= t('.product_team')
    .grid
      - @product_team.each do |user|
        .card
          .card__content
            %h3= user.full_name
            %p= user.contact_page_role.html_safe
