- meta title: t('.title')

.hero.hero-color
  .hero__container
    %h1
      = t('.title')

%section.section.section-grey
  .container.container-medium
    = t('.top_1_html')
    = t('.top_2_html')
    = t('.top_3_html')
    = t('.top_4_html')
    = t('.top_5_html')

%section.section.section-white
  .container.container-medium
    %h3.section__title
      = t('.whats_your_question')
    %p.text-center
      = link_to root_path, class: 'button primary large' do
        = t('about.top_5.get_help')
