- meta title: t('.title')

.hero.hero-color
  .hero__container
    %h1
      = t('.title')

%section.section.section-grey
  .container.container-medium
    = t('.top_1_html')
    = t('.top_2_html')
    = t('.top_3_html')
    = t('.top_4_html')
    = t('.top_5_html')

= render 'contact_us'
