= render 'navbar'

.hero
  .hero__container
    %h1
      = t('.hero.title')
    %p
      = t('.hero.subtitle1')
      %br
      = t('.hero.subtitle2')
%section.section.section-white
  .container
    %h2.section__title
      = t('.institutions.title')
    .logo-list
      = all_institutions_images
%main#reso-main-contact
  = render 'form'

= render 'footer'
