= form_with url: annuaire_search_path, local: true, class: 'fr-mb-3w' do |f|
  .fr-grid-row
    .fr-col
      .fr-select-group.fr-pr-2v
        = f.label :by_institution, t('attributes.institution'), class: 'fr-label'
        = f.collection_select :by_institution, Institution.not_deleted.order(:name), :slug, :name, { selected: params[:institution_slug],
          prompt: t('.all_regions') }, required: true, class: "fr-select"
    .fr-col
      .fr-input-group
        = f.label :by_name, t('attributes.advisor'), class: 'fr-label'
        = f.text_field :by_name, value: params[:advisor_search], class: 'fr-input'
  .fr-grid-row.fr-mt-2w
    .fr-col-6
      .fr-select-group.fr-pr-2v
        = f.collection_select :region_id, Territory.regions.order(:name), :id, :name, { selected: params[:region_id],
          prompt: t('.all_regions') }, class: "fr-select"

  = f.submit t('.search'), class: 'fr-btn fr-mt-2w'
