%p= t('.hello', name: @resource.full_name)


%p= t('.description_html', link_to_root: link_to(t('app_name'), root_url))

%h3= t('.details_title')
%p= t('.details_html')

- someone_invited_you_html_params = { inviter: @resource.inviter.full_name,
  mail_to_inviter: mail_to(@resource.inviter.email),
  antenne_name: @resource.antenne.name }
%hp= t(".someone_invited_you_html", someone_invited_you_html_params)

%p
  .button
    %a{ href: accept_user_invitation_url(invitation_token: @token) }= t('.accept')

%p.text-grey= t(".ignore")
