= render 'mailers/header', institution_name: @resource.institution.name

%p= t('devise.mailer.hello', user_full_name: @resource.full_name)

%p= t('.description_html', link_to_root: link_to(t('app_name'), root_url), antenne: @resource.antenne.name)

%h2= t('.question_one')

%p= t('.answer_one', institution_name: @resource.institution.name)

%h2= t('.question_two')

%p= t('.answer_two_html')

%p= t('.discover_partners_html', link: link_to(t('link_to_partners'), comment_ca_marche_url(anchor: 'liste-partenaires')))
%p
  .button
    %a{ href: accept_user_invitation_url(invitation_token: @token) }= t('.accept')

%p= t('.training_html', link: link_to('https://app.livestorm.co/place-des-entreprises', 'https://app.livestorm.co/place-des-entreprises'))

%p= t('.looking_forward')

%p= t('mailers.place_des_entreprises_team_html', link_to_root: link_to(t('app_name'), root_url))

.info
  %p= t('.support_contact_label')
  = render 'mailers/expert_mailer/support_contacts'
