= render 'mailers/header', institution_logo_name: @resource.institution.logo&.filename

%p= t('devise.mailer.hello', user_full_name: @resource.full_name)

%p= t('.description_html', link_to_root: t('app_name'), antenne: @resource.antenne.name)

%h2= t('.question_one')

%p= t('.answer_one', institution_name: @resource.institution.name)

%h2= t('.question_two')

%p= t('.answer_two_html')

%h2= t('.accept_user_invitation_instruction')

.main-link
  %a{ href: accept_user_invitation_url(invitation_token: @token) }= t('.accept')

%p= t('.looking_forward')

%p= t('mailers.place_des_entreprises_team_html', link_to_root: link_to(t('app_name'), root_url))

.info
  %p= t('.support_contact_label')
  = render 'mailers/expert_mailer/support_contacts', antenne: @resource.antenne
