.logo-container
  .logos
    = institution_image @resource.institution.name
    = image_tag 'place-des-entreprises-logo.png', alt: ''

%p= t('devise.mailer.hello', user_full_name: @resource.full_name)

%p.bold= t('.description_html', link_to_root: link_to(t('app_name'), root_url), antenne: @resource.antenne.name)

%h3= t('.details_question')

%p= t('.details_answer_service')

%p= t('.details_answer')

%p= t('.insitution_engagment', institution: @resource.institution.name)

%p= t('.discover_partners_html', link: link_to(t('app_name'), comment_ca_marche_url(anchor: 'liste-partenaires')))
%p
  .button
    %a{ href: accept_user_invitation_url(invitation_token: @token) }= t('.accept')
