%p= t('devise.mailer.hello', user_full_name: @resource.full_name)

%p= t('.description_html', link_to_root: link_to(t('app_name'), root_url))

%h3= t('.details_title')

- if @resource.can_view_diagnoses_tab
  = render 'with_diagnoses', resource: @resource
- else
  = render 'without_diagnoses', resource: @resource

%p
  .button
    %a{ href: accept_user_invitation_url(invitation_token: @token) }= t('.accept')

%p.text-grey= t(".ignore")
