= render 'mailers/header', institution_name: @resource.institution.name

%p= t('devise.mailer.hello', user_full_name: @resource.full_name)

- if @resource.never_used_account?
  %p= t('.account_but_never_connected_html')
- else
  %p= t('.someone_has_requested_a_link_html', date: l(@resource.reset_password_sent_at, format: :long_sentence), email: @resource.email)

%p
  .button
    %a{ href: edit_password_url(@resource, reset_password_token: @token) }
      = @resource.never_used_account? ? t('.choose_my_password') : t('.change_my_password')

- if @resource.never_used_account?
  %p.text-grey= t('.once_connected')
- else
  %p.text-grey= t('.ignore')
