%p= t('devise.mailer.hello', user_first_name: @resource.first_name)
%p= t('.someone_has_requested_a_link')
%p= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token)
%p= t('.please_ignore_this_mail')
%p= t('.your_password_wont_change_for_now')
= render partial: 'emails_footer'
