= render 'mailers/header'

%p= t('mailers.hello')

- link_to_root = link_to t('app_name'), root_url

%p= t('.your_need_html', subject: @need.subject.label, link_to_root: link_to_root)

%p= t('.no_experts')

%p= t('.service_improvement')

%p= t('at_your_disposal')

%p= t('mailers.cordially')

%p= t('mailers.place_des_entreprises_team_html', link_to_root: link_to_root)
