= render 'mailers/header'

%p= t('mailers.hello')

- link_to_root = link_to t('app_name'), root_url(pk_campaign: 'retention', pk_kwd: 'sequence-mail-pde')

- if @solicitation.landing.iframe?
  %p= t('.content_for_iframe_html', website: @solicitation.landing.partner_url)
- else
  %p= t('.content_html')

= t('.informations_html')

%p= t('mailers.thank_you_to_used_our_service')

%p= t('mailers.nice_day')

%p= t('mailers.place_des_entreprises_team_html', link_to_root: link_to_root)
