= render 'mailers/header'

%p= t('mailers.hello')

- link_to_root = link_to t('app_name'), root_url(mtm_campaign: 'retention', mtm_kwd: 'sequence-mail-pde')

- if @solicitation.landing.iframe?
  %p= t('.content_for_iframe_html', website: @solicitation.landing.partner_url)
- else
  %p= t('.content_html')

%p
  %strong= @solicitation.landing_subject.title

= t('.informations_html')

%ul
  - @solicitation.landing_subject.solicitable_institutions_names.each do |institution_name|
    %li= institution_name

%p= t('mailers.thank_you_to_used_our_service')

%p= t('mailers.cordially')

%p= t('mailers.place_des_entreprises_team_html', link_to_root: link_to_root)
