- link_to_root = link_to t('app_name'), root_url(mtm_campaign: 'retention', mtm_kwd: 'mail-retention')

= render 'mailers/header'

%p= t('mailers.hello')

= raw @email_retention.first_paragraph

%p= t('.and_you')

.buttons-group
  - campaign = '?' + { mtm_campaign: 'rentention2', mtm_kwd: "rentention2-#{@email_retention.subject.label.parameterize}" }.to_query
  .button
    = link_to @email_retention.first_subject_label, new_solicitation_url(Landing.accueil, Landing.accueil.landing_subjects.joins(:subject).find_by(subject: @email_retention.first_subject)) + campaign
  .button
    = link_to @email_retention.second_subject_label, new_solicitation_url(Landing.accueil, Landing.accueil.landing_subjects.joins(:subject).find_by(subject: @email_retention.second_subject)) + campaign

%p= t('.why_this_message')

%p= t('.explanation_html')
