= render 'mailers/header'

%p= t('mailers.hello')

%p= t('mailers.company_mailer.intro_from_solicitation_html', company: @solicitation.diagnosis.company.name)

%p
  %strong= @solicitation.landing_subject.title

%p= t('.we_continue_to_follow_up_html')

%p= t('.holiday_delay')

%p= t('.thanks_for_your_patience')

%p= t('mailers.cordially')

%p= t('mailers.team_html', url: root_url(mtm_campaign: 'retention', mtm_kwd: 'sequence-mail-pde'))

%p= t('mailers.withdraw_request_html', mailto_link: mailto_contact_us(t('contact_us')))
