= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.intro_from_solicitation_html', company: @diagnosis.company.name, subject: @subject_title)

%p= t('.content_by_expert')

%p
  %strong #{@match.expert.institution} - #{@match.expert.antenne.name}

%p= t('.not_reachable_instructions')

%p= t('mailers.thank_you_to_used_our_service')

%p= t('mailers.cordially')

- link_to_root = link_to t('app_name'), root_url(mtm_campaign: 'retention', mtm_kwd: 'sequence-mail-pde')
%p= t('mailers.place_des_entreprises_team_html', link_to_root: link_to_root)

%p= t('mailers.withdraw_request_html', mailto_link: mailto_contact_us(t('contact_us')))
