- link_to_root = link_to t('app_name'), root_url(mtm_campaign: 'retention', mtm_kwd: 'mail-retention')

= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.intro_html', company: @need.diagnosis.company.name)

%p
  %strong= @need.subject.label

%p= t('.list_html')

- url = root_url(mtm_campaign: 'retention', mtm_kwd: 'mail-retention')
.btn-wrapper
  = link_to t('.send_solicitation'), url, class: 'response-btn'

%p= t('mailers.company_mailer.why_this_message_html')

%p= t('mailers.company_mailer.explanation_html')

%p= t('.outro')

%p= t('mailers.cordially')

%p= t('mailers.team_html', url: url)
