- link_to_root = link_to t('app_name'), root_url

= render 'mailers/header'

%p= t('mailers.hello')

= t('.intro_html', company: @need.diagnosis.company.name)

%blockquote
  %strong= @need.subject.label

%p= t('.remind')

%p= t('.list_html')

%p= t('.outro_html', link_to_root: link_to_root)

%p= t('mailers.thanks_for_your_trust')

%p= t('mailers.nice_day')

%p= t('mailers.place_des_entreprises_team_html', link_to_root: link_to_root)
