:css
  .response-button {
    padding: 0.25em 1em;
    color: #fff;
    margin: 0 0.6em;
    border-radius: 2px;
  }
  .no {
    background-color: #b92a1c;
  }
  .yes {
    background-color: rgb(0, 83, 179);
  }

= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.intro_html', company: @need.company.name)

%p
  %strong= @need.subject.label

%p= t('.question_one_html',
  link_yes: new_company_satisfactions_url(besoin: @need.id, token: @email_token, response: 'yes'),
  link_no: new_company_satisfactions_url(besoin: @need.id, token: @email_token, response: 'no'))

%p= t('.outro')

%p= t('.tank_you')

%p= t('mailers.cordially')

- link_to_root = link_to t('app_name'), root_url(mtm_campaign: 'retention', mtm_kwd: 'sequence-mail-pde')

%p= t('mailers.team_html', link_to_root: link_to_root)
