= render 'mailers/header'

%p= t('mailers.hello')

%p= t('.your_solicitation_html', subject: @solicitation.subject)

%p= t('.incomplete_step_explanation')

.btn-wrapper
  = t('.continue_button_html', redirect_link: redirect_to_solicitation_step_solicitation_url(@solicitation.uuid, relaunch: 'sollicitation-etape-description'))

%p= t('.service_explanation_html')

%p= t('mailers.best_regards')

%p= t('mailers.place_des_entreprises_team')
