.container.container-medium
  = form_with(model: @solicitation, url: solicitation_path, scope: 'solicitation', method: :post) do |f|
    - @solicitation.form_info.each do |k,v|
      = f.hidden_field "form_info[#{k}]", value: v
    .form__group
      = f.text_area 'description', placeholder: t('.description.placeholder'), rows: 6, required: true
    .form__group
      .form__group
        = f.label 'phone_number', t('.phone_number.label')
        = f.telephone_field 'phone_number', placeholder: t('.phone_number.placeholder'), required: true
      .form__group
        = f.label 'email', t('.email.label')
        = f.email_field 'email', placeholder: t('.email.placeholder'), required: true
    .form__group
      = render 'solicitations/flashes'
      .text-center
        %h3
          = f.button :submit, class: 'button' do
            = t('.button.title')
