:ruby
  main_title = landing_subject.meta_title.presence || landing_subject.title.presence || landing_subject.landing_theme.meta_title
  if defined? step_data
    secondary_title = [t("solicitations.creation_form.steps.#{step_data[:current_status]}"), t('step_number', actual: step_data[:current_step], total: step_data[:total_steps])].join(' - ')
  else
    secondary_title = t('solicitations.creation_form.form_complete')
  end
  meta title: [main_title, secondary_title].join(' - '),
    description: landing_subject.meta_description.presence || landing_subject.description.presence || landing_subject.landing_theme.meta_description

- unless in_iframe?
  .section-light-grey
    .fr-container.landing.fr-pt-8v.fr-pt-md-14v.fr-pb-2v.fr-pb-md-8v
      .fr-grid-row.fr-grid-row--center.landing-header
        .fr-col-12.fr-col-md-8.landing-header__description
          %h1.fr-h2= landing_subject&.form_title.presence || landing_subject.title
          - subject_subtitle = t(landing_subject.slug, scope: 'landing_subject_subtitle', default: t('default', scope: 'landing_subject_subtitle'))
          - count = number_with_delimiter(needs_count, locale: :fr, delimiter: ' ')
          %p.text-dark-grey.fr-text--lg= t('landings.landings.home.subtitle', count: count, subject: subject_subtitle)
        .fr-col-12.fr-col-md-4.landing-header__picture
          = image_tag('home.png', alt: "")

- if show_breadcrumbs?
  = render 'pages/breadcrumbs', landing: landing, landing_theme: landing_subject.landing_theme, landing_subject: landing_subject
