.container.container-medium
  %h3.section__title
    = t('.title')
  %h4.section__subtitle
    = t('.description')
  = form_with url: t('.call_url'), method: :get, local: true do |f|
    .text-center
      %h3
        = f.button :submit, class: 'button' do
          = t('.call_us')
