= form_with(model: @solicitation, url: search_company_solicitation_path(@solicitation.uuid), local: true, html: { honeypot: true }) do |f|
  - solicitation.company_step_required_fields.each do |field|
    .fr-mb-2w
      = label_tag "solicitation_query", t("solicitations.creation_form.find_my_facility"), class: 'fr-label'
      = text_field_tag :query, (params[:query] || solicitation.siret), required: true, placeholder: t("solicitations.creation_form.search_facility_placeholder"), class: 'fr-input white-bg'

    - if solicitation.errors.present?
      .fr-error-text= solicitation.errors.full_messages_for(field).to_sentence

  .submit-buttons
    = render 'previous_button', path: step_contact_solicitation_path(solicitation.uuid, anchor: 'section-formulaire')
    = button_tag(class: "fr-btn", data: { disable_with: t('solicitations.creation_form.submit_in_progress') }) do
      %span= t('solicitations.creation_form.buttons.search')
      %span.icon.ri-search-2-line
