.ui.segments.shadow-less.solicitation{ 'id': solicitation.id }
  .ui.segment.secondary
    .ui.header.grid.aligned
      .eight.wide.column
        #{solicitation.to_s} - #{solicitation.full_name}
        .sub.header= I18n.l(solicitation.created_at, format: :long)
      .ui.eight.wide.column.row-tags
        %div{ id: "solicitation-#{solicitation.id}-badges" }
          - solicitation.badges.each do |badge|
            = badge_label(badge)
        = form_with model: solicitation, url: update_badges_solicitation_path(solicitation), method: :post, class: 'hide', id: "solicitation-#{solicitation.id}-form-badges" do |f|
          = f.select(:badge_ids, options_from_collection_for_select(Badge.all, :id, :title, solicitation.badge_ids), {}, { multiple: true, class: 'clearable ui search selection dropdown badges' })

          = f.submit t('ok'), class: 'ui button green mini'
        %i.ui.icon.tags.modify-badges{ 'data-id': "#{solicitation.id}", title: t('.add_remove_badges') }
  .ui.segment
    .ui.list
      - if solicitation.siret.present?
        .item
          %strong= t('.siret')
          = link_to(solicitation.normalized_siret, company_path(solicitation.siret))
      .item
        %strong= t('.email')
        = mail_to(solicitation.email, solicitation.email, target: '_blank')
      - solicitation.display_attributes.each do |attribut|
        - if solicitation.send(attribut).present?
          .item
            %strong= Solicitation.human_attribute_name(attribut) + ' : '
            = solicitation.send(attribut)
      - if solicitation.landing_slug.present?
        .item
          %strong= t('.slug')
          = link_to(solicitation.landing_slug, solicitation.landing)
      - if solicitation.landing_options_slugs.present?
        .item
          %strong= t('.landing_options')
          - solicitation.landing_options_slugs.each do |option|
            .ui.small.label= option
      .item
        %strong= t('.description')
        %p= simple_format solicitation.description

  .ui.aligned.grid.segment
    .right.floated.right.aligned.column
      = link_to t('.create_diagnosis'), new_diagnosis_path(solicitation: solicitation.id), class: 'ui green button compact'
      - solicitation.allowed_new_statuses.each do |status|
        = status_action_link(solicitation, status, %w[ui button compact])
