.ui.segments.shadow-less.solicitation{ 'id': solicitation.id }
  .ui.segment.secondary
    .ui.header.grid.aligned
      .eight.wide.column
        #{solicitation.to_s} - #{solicitation.full_name}
        .sub.header= I18n.l(solicitation.created_at, format: :long)
      .ui.eight.wide.column.row-tags
        = render 'solicitation_badges', solicitation: solicitation
  .ui.segment
    .ui.list
      - if solicitation.siret.present?
        .item
          %strong= t('.siret')
          = link_to(solicitation.normalized_siret, company_path(solicitation.siret))
      .item
        %strong= t('.email')
        = mail_to(solicitation.email, solicitation.email, target: '_blank')
      - solicitation.display_attributes.each do |attribut|
        - if solicitation.send(attribut).present?
          .item
            %strong= Solicitation.human_attribute_name(attribut) + ' : '
            = solicitation.send(attribut)
      - if solicitation.landing_slug.present?
        .item
          %strong= t('.slug')
          = link_to(solicitation.landing_slug, solicitation.landing)
      - if solicitation.landing_options_slugs.present?
        .item
          %strong= t('.landing_options')
          - solicitation.landing_options_slugs.each do |option|
            .ui.small.label= option
      .item
        %strong= t('.description')
        %p= simple_format solicitation.description

  .ui.aligned.grid.segment
    .right.floated.right.aligned.column
      = render 'solicitation_actions', solicitation: solicitation
