.card-solicitation.fr-my-4w{ id: solicitation.id }
  .card__header
    .card__title
      %h2= [solicitation.to_s, solicitation.full_name].join(' - ')
      %span.subtitle= I18n.l(solicitation.created_at, format: :long)
    .card__badges
      = render 'solicitation_badges', solicitation: solicitation
  .fr-card__body
    .card__info
      .card__fields
        - if solicitation.siret.present?
          .item
            = t('.siret')
            %strong= link_to(solicitation.normalized_siret, company_path(solicitation.siret))
        .item
          = t('.email')
          %strong= mail_to(solicitation.email, solicitation.email, target: '_blank')
        - solicitation.display_attributes.each do |attribut|
          - if solicitation.send(attribut).present?
            .item
              = Solicitation.human_attribute_name(attribut) + ' : '
              %strong= solicitation.send(attribut)
        - if solicitation.landing.present?
          .item
            = t('.source')
            %strong= link_to solicitation.landing.slug, landing_path(solicitation.landing)

        - if solicitation.landing_subject.present?
          .item
            = t('.landing_subjects')
            = subject_tag(solicitation, "ui small label")

      .card__meta
        .meta__warnings
          - if solicitation.recent_matched_solicitations.any?
            %span{ title: t('.solicitation_relance_explanation') } R
          - if solicitation.doublon_solicitations.any?
            %span{ title: t('.solicitation_doublon_explanation') } D
          - if solicitation.from_banned_company?
            %span{ title: t('.solicitation_banned_facility_explanation') }
              %i.ri-flag-fill
        - if solicitation.same_facility_needs.with_siret.any?
          .meta__items
            .item= t('.needs_historic')
            - solicitation.same_facility_needs.with_siret.map{ |n| n.facility.siret }.uniq.each do |siret|
              = link_to siret, needs_company_path(siret)
        - if solicitation.institution.present?
          .logo-institution= institution_image(solicitation.institution.logo&.filename)
    .card__description
      .card__description__label= t('.description')
      .card__description__content= simple_format(solicitation.description)
    .card__feedbacks
      %div{ id: "display-feedbacks-#{solicitation.id}" }
        = render partial: 'feedbacks/feedback', collection: solicitation.feedbacks
      = render 'feedbacks/form', feedback: solicitation.feedbacks.new(category: :solicitation)
  .card__footer
    = render 'solicitation_actions', solicitation: solicitation
