.ui.compact.inverted.green.menu
  - diagnoses = solicitation.diagnoses
  - if diagnoses.blank?
    = link_to new_diagnosis_path(solicitation: solicitation.id), class: 'ui item' do
      = t('.create_diagnosis')
      %i.right.chevron.icon
  - elsif diagnoses.size == 1
    - diagnosis = diagnoses.first
    = link_to_diagnosis(diagnosis)
  - else
    .ui.item.dropdown
      = t('.view_diagnoses', count: diagnoses.size)
      %i.dropdown.icon
      .ui.menu
        - diagnoses.each do |diagnosis|
          = link_to_diagnosis(diagnosis)
  .ui.item.dropdown
    %i.settings.icon
    .ui.menu
      - solicitation.allowed_new_statuses.each do |status|
        = status_action_link(solicitation, status, %w[item])
      .item.show-feedbacks-form{ 'data-solicitation': "#{solicitation.id}" }= t('.add_feedback')
      - if diagnoses.present?
        = link_to new_diagnosis_path(solicitation: solicitation.id), class: 'item' do
          = t('.create_another_diagnosis')
