%section.section.section-color.steps
  .container
    %ul
      %li
        = image_tag 'landing/creer.svg'
        %h4= 1
        %p= t('.step1')
      %li
        = image_tag 'landing/gerer.svg'
        %h4= 2
        %p= t('.step2')
      %li
        = image_tag 'landing/collaborer.svg'
        %h4= 3
        %p= t('.step3')
