:ruby
  meta title: @solicitation.landing_subject.meta_title.presence || @solicitation.landing_subject.title.presence || @solicitation.landing_subject.landing_theme.meta_title,
    description: @solicitation.landing_subject.meta_description.presence || @solicitation.landing_subject.description.presence || @solicitation.landing_subject.landing_theme.meta_description

- content_for :header, render('solicitations/header', landing: @solicitation.landing, landing_subject: @solicitation.landing_subject)

- content_for :form_header do
  = render 'solicitations/steps', current_step: @solicitation.completion_step

= form_with(model: @solicitation, url: update_form_company_solicitations_path, local: true, html: { honeypot: true }) do |f|
  = f.hidden_field :completion_step

  .form__group
    - @solicitation.company_step_required_fields.each do |field|
      .form__group
        - help = t(".attributes.help.#{field}_html", default: [".attributes.help.#{field}".to_sym, ''])

        - if field == :siret
          = label_tag "solicitation_siret", t("solicitations.creation_form.find_my_facility")
          = f.text_field field, required: true, placeholder: '12345678900013', minlength: '14', maxlength: '14'
          %span= t('attributes.help.no_creation_html')
        - else
          = f.label field
          - if help.present?
            %span= help
          = f.text_field field,
            placeholder: t("solicitations.creation_form.placeholder.#{field}"),
            type: Solicitation::FIELD_TYPES[field],
            required: true

        .notification.error= @solicitation.errors.full_messages_for(field).to_sentence

  .form__group.submit-buttons
    = render 'previous_button', path: form_contact_solicitations_path(anchor: 'section-formulaire')
    = render 'next_button'

