- content_for :head do
  = render 'tags_conversion'

- content_for :header, render('solicitations/header', landing: @solicitation.landing, landing_subject: @landing_subject)

%section.section.section-grey#section-thankyou
  .container.container-medium
    - if in_iframe?
      .thank_you_iframe
        %h2.section__title= t('.title')

        .section__subtitle
          = t('.iframe_message_html')
        = image_tag 'logo-PDE.svg', alt: t('logos.pde')

        %section.section.section-grey
          .container
            %h2.section__subtitle= t('iframe.partners_logo')
            = render 'landings/landings/logos', landing_subject: @landing_subject

    - else
      %h2.section__title.text-left= t('.title')

      - if @solicitation.institution
        %p.section__subtitle
          = t('.message_with_institution', institution: @solicitation.institution.name)

        = render 'matomo_partner_contact'

      - else
        %p.section__subtitle.text-left
          = t('.message_html')

      - if @landing_subject.logos.present?
        = render 'landings/landings/logos', landing_subject: @landing_subject

- unless in_iframe?
  %section.section.section-white.container-newsletter
    .container
      = render 'newsletter', email: @solicitation.email

  %section.section.section-grey
    .container.section__title
      %a{ :href => "https://voxusagers.numerique.gouv.fr/Demarches/2666?&view-mode=formulaire-avis&nd_mode=en-ligne-enti%C3%A8rement&nd_source=button&key=217cc9ca5ab6c2999a02839fdd402d01", target: '_blank' }
        %img{ :alt => t('solicitations.creation_form.give_my_opinion_alt'), :src => "https://voxusagers.numerique.gouv.fr/static/bouton-blanc.svg", :title => t('solicitations.creation_form.give_my_opinion_title') }

= render 'solicitations/matomo_company_contact_success'
