- content_for :head do
  = render 'solicitations/matomo_events/tags_conversion'

- content_for :header, render('solicitations/header', landing: @solicitation.landing, landing_subject: @landing_subject)

.fr-container--fluid.section-grey.fr-py-4w#section-thankyou
  .fr-container
    .fr-grid-row
      .fr-col-12.fr-col-md-8.fr-col-offset-md-2
        .fr-my-4w
          - if in_iframe?
            .fr-alert.fr-alert--success.white-bg.fr-mb-4w
              %h1.fr-alert__title= t('.title')
              %p= t('.iframe_message_html')
            .thank_you_iframe.fr-mb-6w
              .logo-pde= image_tag 'logo-PDE.svg', alt: t('logos.pde')
          - else
            .fr-alert.fr-alert--success.white-bg.fr-mb-6w
              %h1.fr-alert__title= t('.title')

          .process_description.fr-mb-6w
            %h2= t('.process_description_title')
            %ul
              %li
                %span.icon.ri-arrow-right-line{ 'aria-hidden': 'true' }
                %span
                  - if in_iframe?
                    = t('.process_description_step_1_iframe_html')
                  - else
                    = t('.process_description_step_1_html')
              %li
                %span.icon.ri-arrow-right-line{ 'aria-hidden': 'true' }
                %span= t('.process_description_step_2_html')

          = render 'institutions_tiles_block', institutions: @displayable_institutions, subject: @landing_subject.subject, opco: @opco

- unless in_iframe?
  .fr-container.fr-py-4w.text-center.je-donne-mon-avis
    %a{ href: "https://voxusagers.numerique.gouv.fr/Demarches/2666?&view-mode=formulaire-avis&nd_mode=en-ligne-enti%C3%A8rement&nd_source=button&key=217cc9ca5ab6c2999a02839fdd402d01", target: '_blank' }
      %img{ alt: t('solicitations.creation_form.give_my_opinion_alt'), src: "https://voxusagers.numerique.gouv.fr/static/bouton-blanc.svg" }

= render 'solicitations/matomo_events/matomo_company_contact_success'
