- meta title: t('.meta.title'), description: t('.meta.description')

.hero.hero__background{ style: solicitation_background_style }
  .hero__container
    %p.text-center= t('.hero.pretitle_html')
    %h1= t('.hero.title')
    %h2= t('.hero.subtitle')

%section.section.section-white
  .container
    .row
      %p.text-center= t('.examples_1_html')
      %p.text-center= t('.examples_2_html')
      %p.text-center= t('.examples_3_html')
%section.section.section-grey
  .container
    %h2.section__title= t('.description')
  #solicitation-form= render 'form'

%section.section.section-white
  .container
    %h2.section__title
      = t('.institutions.title')
    .logo-list
      = all_institutions_images
