- meta title: t('.title')

%h1.ui.header
  = @solicitations.human_count

= render 'solicitations_tabs'

= paginate @solicitations#, remote: true
= page_entries_info @solicitations

= render partial: 'solicitations/solicitation', collection: @solicitations, cached: true
