- meta title: t('.title')

- content_for :header, render('header', title: t('.header', status: @status))
- content_for :menu, render('menu', count: @count_solicitations)

= form_with url: request.path, method: :get, skip_enforcing_utf8: true, class: 'ui large form' do
  - options = { include_blank: t('all_choices'), class: 'ui search selection dropdown clearable', onchange: 'this.form.submit();' }
  .two.fields
    .field
      = label_tag(t('.filter'))
      = select_tag(:territory,
        options_for_select(possible_territories_options, (params[:territory] || session[:territory])),
        options.dup)

%p= collection_count @solicitations

.ui.divider.hidden
= form_with url: request.fullpath, method: :get, local: true do |f|
  .ui.search.solicitation
    .ui.input.left.icon.fluid.action
      %i.search.icon
      = f.text_field :query, value: params[:query], class: 'prompt', placeholder: t('.search_placeholder')
      %button.ui.button.primary{ type: 'submit' }= t('.search')
    .results
  - if params[:query].present?
    = link_to t('.clear_search'), request.fullpath.split('?').first, id: 'clear-search'

= paginate @solicitations

- if @solicitations.present?
  = render(partial: 'solicitations/solicitation', collection: @solicitations, cached: -> (solicitation) { [solicitation, Badge.all] })
- elsif params[:query].present?
  .ui.divider.hidden
  = t('.no_result')
- else
  .ui.divider.hidden
  .ui.fluid.image= image_tag('no-solicitation.gif')

= paginate @solicitations

:javascript
  $(document).ready(function() {
    $('select.ui.selection.search.dropdown.badges').dropdown({
      fullTextSearch: 'exact',
      ignoreDiacritics: true,
      message: {
        noResults     : '#{link_to t('.manage_badges'), badges_path}'
      }
    })
    $('.modify-badges').click( function() {
      let solicitationId = $(this).data('id')
      let $div = $('#solicitation-' + solicitationId + '-badges')
      let $form = $('#solicitation-' + solicitationId + '-form-badges')
      $div.toggleClass('hide')
      $form.toggleClass('hide')
    })
    $('.ui.search').search({
      type: 'category',
      showNoResults: false,
      source: #{@category_content.to_json.html_safe}
    })
  })
