- meta title: t('.title')

= render 'solicitations_tabs'
%p= page_entries_info @solicitations
= paginate @solicitations


= render partial: 'solicitations/solicitation', collection: @solicitations, cached: true

= paginate @solicitations
