- meta title: t('.meta.title'), description: t('.meta.description')

.hero.hero__background{ style: solicitation_background_style }
  .hero__container
    %p.text-center= t('.hero.pretitle_html')
    %h1= t('.hero.title')
    %h2= t('.hero.subtitle')

%section.section.section-white
  .container
    .row
      %p.text-center= t('.examples_1_html')
      %p.text-center= t('.examples_2_html')
      %p.text-center= t('.examples_3_html')
%section.section.section-grey
  .container
    %h2.section__title= t('.description')
  #solicitation-form= render 'form'

%section.section.section-white#institutions
  .container
    %h2.section__title
      = t('.institutions.title')
    .logo-list
      = all_institutions_images

%section.section.section-grey#testimonials
  .container
    %h2.section__title
      Témoignages
    .grid
      .card
        .card__content
          %p.testimony
            Place des entreprises est très réactive et pratique ! Ils nous ont permis une mise en relation rapide avec les bonnes personnes quand nous en avions besoin.
            %br
            Nous avons donc pu clôturer notre dossier dans les délais.
        .card__extra
          .article__author
            Clément Francomme
            %br
            %strong CEO de UTOCAT
      .card
        .card__content
          %p.testimony
            J’ai découvert qu’il existait des partenaires publics experts de mes besoins d’entreprise. Ils m’ont accompagné sur des questions de ressources humaines, de développement commercial et de réglementation.
            %br
            Ils font un super job.
        .card__extra
          .article__author
            Christophe B.
            %br
            %strong Dirigeant de SOS Impact 02


