- meta title: t('.title')

= render 'solicitations_tabs'
%p= page_entries_info @solicitations
= paginate @solicitations

- max_badge_updated_at = Badge.maximum(:updated_at)
- if @solicitations.present?
  = render(partial: 'solicitations/solicitation', collection: @solicitations, cached: -> (solicitation) { [solicitation, max_badge_updated_at] })
- else
  .ui.fluid.image= image_tag('no-solicitation.gif')

= paginate @solicitations

:javascript
  $(document).ready(function() {
    $('select.ui.selection.search.dropdown.badges').dropdown({
      fullTextSearch: 'exact',
      ignoreDiacritics: true,
      message: {
        noResults     : '#{link_to t('.manage_badges'), badges_path}'
      }
    })
    $('.modify-badges').click( function() {
      let solicitationId = $(this).data('id')
      let $div = $('#solicitation-' + solicitationId + '-badges')
      let $form = $('#solicitation-' + solicitationId + '-form-badges')
      $div.toggleClass('hide')
      $form.toggleClass('hide')
    })
    let feedbackLinks = document.getElementsByClassName( 'show-feedbacks-form' );
    for ( let feedbackLink of feedbackLinks ) {
      feedbackLink.onclick = function() {
        let solicitationId = feedbackLink.dataset.solicitation
        let form = document.getElementById("feedback_form-Solicitation-" + solicitationId)
        form.style.display = 'block'
      }
    }
  })
