- meta title: t('.meta.title'), description: t('.meta.description')

.hero.hero__background{ style: solicitation_background_style }
  .hero__container
    %h1.hero__white-background
      = t('.hero.title')
    .container.container-medium
      %h4.text-center.hero__white-background
        = t('.hero.subtitle')

= render @alternative.to_s

%section.section.section-white
  .container
    %h2.section__title
      = t('.institutions.title')
    .logo-list
      = all_institutions_images
