.ui.grid.stackable
  .row.center.aligned
    .column
      %h1.ui.header
        .content #{@solicitation.id} - #{@solicitation.full_name}
        .sub.header= I18n.l(@solicitation.created_at, format: :long)
  .ui.divider
  .row.ui.two.column.centered.grid
    .column.ui.list
      - @solicitation.display_attributes.each do |attribut|
        - if @solicitation.send(attribut).present?
          .item
            %strong= t("activerecord.attributes.solicitation.#{attribut}") + ' : '
            = @solicitation.send(attribut)
    .column.solicitation-description
      %i.icon.small.quote.left.grey
      = @solicitation.description
      %i.icon.small.quote.right.grey
