:ruby
  meta title: @solicitation.landing_subject.meta_title.presence || @solicitation.landing_subject.title.presence || @solicitation.landing_subject.landing_theme.meta_title,
    description: @solicitation.landing_subject.meta_description.presence || @solicitation.landing_subject.description.presence || @solicitation.landing_subject.landing_theme.meta_description

- content_for :header, render('solicitations/header', landing: @solicitation.landing, landing_subject: @solicitation.landing_subject)

- content_for :form_header do
  = render 'solicitations/steps', current_status: :step_description

= form_with(model: @solicitation, url: update_step_description_solicitation_path(@solicitation.uuid), local: true, html: { honeypot: true }) do |f|
  = f.hidden_field :status

  .form__group
    = f.label 'description', t('solicitations.creation_form.description')
    - if @solicitation.landing_subject&.description_explanation.present?
      .explanation
        %div
          = image_tag('info-alert.png', alt: '')
          %span
            = t('solicitations.creation_form.better_taking_care')
        %div= h(@solicitation.landing_subject&.description_explanation&.html_safe)
    = f.text_area 'description', placeholder: t("solicitations.creation_form.placeholder.description"), rows: 6, required: true
    .notification.error= @solicitation.errors.full_messages_for(:description).to_sentence

  = f.fields_for :institution_filters, @solicitation.institution_filters do |ff|
    - key = ff.object.key
    .form__group.radios.additional_questions
      %legend= I18n.t(:label, scope: [:activerecord, :attributes, :additional_subject_questions, key])
      %span
        = ff.hidden_field :additional_subject_question_id
        = ff.radio_button :filter_value, true, required: true, checked: (params[:filter_value] == 'yes')
        = ff.label :filter_value, I18n.t(:answer_yes, scope: [:activerecord, :attributes, :additional_subject_questions, key], default: t('yes').titleize), value: true, class: 'label-inline'
        = ff.radio_button :filter_value, false, required: true, checked: (params[:filter_value] == 'no')
        = ff.label :filter_value, I18n.t(:answer_no, scope: [:activerecord, :attributes, :additional_subject_questions, key], default: t('no').titleize), value: false, class: 'label-inline'

  .form__group.submit-buttons
    = render 'previous_button', path: step_company_solicitation_path(@solicitation.uuid, anchor: 'section-formulaire')
    = f.submit t('solicitations.creation_form.buttons.send'), class: 'button large', data: { disable_with: t('solicitations.creation_form.submit_in_progress') }

- content_for :footer do
  = render 'iframe_footer', landing: @solicitation.landing
