- html = ''
- @solicitation.badges.each do |badge|
  - html += "#{badge_label(badge)}"

document.getElementById('solicitation-#{@solicitation.id}-badges').innerHTML = '#{html.html_safe}';

var $div = $('#solicitation-#{@solicitation.id}-badges')
var $form = $('#solicitation-#{@solicitation.id}-form-badges')
$div.removeClass('hide')
$form.addClass('hide')
