:ruby
  meta title: @landing_theme.meta_title.presence || @landing_theme.title,
    description: @landing_theme.meta_description.presence || @landing_theme.description

- cache_unless(flash.present?, [@landing_theme, @landing, @landing_subjects, query_params]) do

  - unless in_iframe?
    .fr-container.fr-py-7w.fr-mt-3v.landing-banner
      .fr-grid-row.fr-grid-row--gutters
        .fr-col-12.fr-col-md-8#col-text
          .title
            %h1.fr-h3= @landing_theme.page_title || @landing_theme.title
            %p.fr-text--lg.text-dark-grey= t('landings.landings.home.answer')
            .fr-grid-row#links
              .fr-col-12
                = render 'pages/cta_button'
        .fr-col-12.fr-col-md-4#col-image
          = image_tag('home.png', alt: "")

  - if show_breadcrumbs?
    = render 'pages/breadcrumbs', landing: @landing, landing_theme: @landing_theme

  - unless in_iframe?
    #scroll-section

  .fr-container--fluid.section-grey.fr-py-7w.landing
    .fr-container.landing-subject-section
      %h2.fr-h3.card-section-header= t('you_wish')
      .fr-grid-row.fr-grid-row--gutters
        = render partial: 'landings/landing_subjects/card', collection: @landing_subjects, as: :landing_subject, locals: { landing: @landing }

        - unless in_iframe?
          .text-center.fr-col-12.fr-mt-3w
            %b= t('.back_to_other_subjects_html')

  - unless in_iframe?
    .fr-container--fluid.section-light-grey
      = render 'pages/how_it_works'

    - if @landing_theme.landing_subjects.map{ |ls| ls.solicitable_institutions.with_logo }.any?
      .fr-container.fr-py-7w
        %h2.text-dark-grey.text-center.text-normal.fr-text--lead= t('logos.title')
        = render 'landings/landings/logos', landing_theme: @landing_theme

  - if in_iframe? && @landing.display_pde_partnership_mention?
    = render 'landings/landings/pde_partnership_mention'
