:ruby
  meta title: @landing_theme.meta_title.presence || @landing_theme.title,
    description: @landing_theme.meta_description.presence || @landing_theme.description

- cache_unless(flash.present?, [@landing_theme, @landing]) do

  - unless in_iframe?
    %section.section.section-white.landing.less-padding
      .container
        .row.landing-header
          .title
            .heading
              %h1= @landing_theme.page_title || @landing_theme.title
            %p.subtitle= t('landings.home.answer')
            .links
              = render 'pages/cta_button'
          .image
            = image_tag('home.png', alt: "")

  - if !in_iframe? || (in_iframe? && @landing.layout_multiple_steps?)
    = render 'pages/breadcrumbs', landing: @landing, landing_theme: @landing_theme

  - unless in_iframe?
    #scroll-section

  %section.section.section-grey#section-exemples
    .container
      %h2= t('you_wish')
      .landing-topics
        = render partial: 'landings/landing_subjects/card', collection: @landing_subjects, as: :landing_subject, locals: { landing: @landing }

      - unless in_iframe?
        .ui.text-center.other
          %b= t('.back_to_other_subjects_html')

  - unless in_iframe?
    %section.section.section-light-grey.landing
      = render 'pages/how_it_works'

    %section.section.section-white
      .container
        = render 'landings/institutions', item: @landing_theme
