%head
  = metamagic site: t('app_name'), title: %i[title site], separator: " | "
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  = csrf_meta_tags
  = csp_meta_tag
  = render 'dsfr_api'
  = tarteaucitron_script
  = tarteaucitron_script_application
  = stylesheet_pack_tag 'application', media: 'all', data: { 'turbo-track': 'reload' }
  = stylesheet_link_tag 'application', media: 'all', data: { 'turbo-track': 'reload' }
  = javascript_pack_tag 'gouvfr-module', type: 'module', data: { 'turbo-track': 'reload' }, nonce: true
  = javascript_pack_tag 'gouvfr-nomodule', type: 'text/javascript', nomodule: '', data: { 'turbo-track': 'reload' }, nonce: true
  = javascript_pack_tag 'application', data: { 'turbo-track': 'reload' }, nonce: true
  = javascript_include_tag 'application', data: { 'turbo-track': 'reload' }, nonce: true

  = render 'favicon'
  = yield :head
  = matomo_script
