%head
  = metamagic site: t('app_name'), title: %i[title site]
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_pack_tag 'application', media: 'all', data: { turbolinks_track: 'reload' }
  = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: 'reload' }
  = javascript_pack_tag 'gouvfr-module', type: 'module', data: { turbolinks_track: 'reload' }
  = javascript_pack_tag 'gouvfr-nomodule', type: 'nomodule', data: { turbolinks_track: 'reload' }
  = javascript_pack_tag 'application', data: { turbolinks_track: 'reload' }
  = javascript_include_tag 'application', data: { turbolinks_track: 'reload' }

  = javascript_include_tag 'https://browser.sentry-cdn.com/6.2.3/bundle.min.js', crossorigin: 'anonymous', integrity: "sha384-n6TNefxJMUTqJauZtoDyDhAs5Ng0VzcMTy0/afmyZoVZpaQ2clYR1LBa4SqhVySs"

  = render 'favicon'
  = yield :head
  = sentry_script
  = matomo_script
