%dialog.fr-modal{ id: "modal-#{key}", 'aria-labelledby': "modal-#{key}-title", role: 'dialog', data: { controller: 'modal', url: session_param_path } }
  .fr-container.fr-container--fluid.fr-container-md
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-8
        .fr-modal__body
          .fr-modal__header
            %button.fr-btn--close.fr-btn{ 'aria-controls': "modal-#{key}", title: t('navbar.close') }
              = t('navbar.close')
          .fr-modal__content
            %h1.fr-modal__title{ id: "modal-#{key}-title" }
              Place des Entreprises devient Conseillers-Entreprises
            = image_tag('encart-bascule.png', alt: '', style: "max-width: 100%")

            %p.fr-mt-2w Le service Place des Entreprises devient Conseillers-Entreprises et intègre la marque Service-Public.fr.
            %p 
              Lors du rappel de l’entreprise, nous vous invitons à contextualiser votre échange concernant son besoin 
              %b« déposé sur Service-Public.fr ».
            %p= link_to "Cliquez ici pour plus d’informations sur ce changement d’identité", service_public_fr_path
            %p
              Si vous avez des questions, n'hésitez pas à nous écrire sur 
              = mail_to 'contact@entreprises.service-public.fr'
          .fr-modal__footer 
            .fr-btns-group.fr-btns-group--right.fr-btns-group--inline-reverse.fr-btns-group--inline-lg.fr-btns-group--icon-left
              %button.fr-btn.fr-icon-checkbox-circle-line.fr-btn--icon-left{ 'aria-controls': "modal-#{key}", title: t('navbar.close') }
                J'ai bien pris connaissance
