%header.rf-header{ :role => "banner" }
  .rf-container
    - if user_signed_in?
      .rf-header__body.rf-header__body--hidden
        .rf-header__brand
        .rf-header__navbar
          .rf-service
            = link_to root_path, class: 'pde-logo', title: t('.root_path_title') do
              = image_tag 'logo-PDE.svg', style: 'width: 156px', alt: t('logos.pde')
        .rf-header__tools
          .rf-shortcuts
      %nav.rf-nav#header-navigation{ "aria-label": t(".aria_menu"), role: "navigation" }
        %ul.rf-nav__list
          %li.rf-nav__item
            = link_to root_path, class: 'pde-logo', title: t('.root_path_title') do
              = image_tag 'place-des-entreprises-logo.png', style: 'width: 56px', alt: t('logos.pde')
          - if current_user.experts.present?
            = active_link_to needs_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-nav__item', class_active: 'rf-nav__item--active' do
              %i.ri-inbox-fill.rf-mr-1w
              = t('needs.index.title')
              - cache([current_user, Need.all]) do
                - if current_user.needs_quo.exists?
                  .ui.orange.empty.circular.horizontal.label.rf-ml-1w
          - if policy(Diagnosis).index?
            = active_link_to diagnoses_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-nav__item', class_active: 'rf-nav__item--active' do
              %i.tasks.icon.rf-mr-1w
              = t('.diagnoses')
          - if current_user.is_admin?
            = active_link_to solicitations_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-nav__item', class_active: 'rf-nav__item--active' do
              %i.comment.dots.outline.icon
              = t('solicitations.index.title')
            = active_link_to reminders_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-nav__item', class_active: 'rf-nav__item--active' do
              %i.ambulance.icon
              = t('reminders.index.title')
        %ul.rf-nav__list
          = active_link_to tutoriels_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-nav__item', class_active: 'rf-nav__item--active' do
            %i.tools.icon.rf-mr-1w
            = t('user_pages.tutoriels.title')
          %li.rf-nav__item
            %button.rf-btn{ "aria-controls" => "rf-nav-item-3", "aria-expanded" => "false" }
              = t('.account')
            .rf-menu.rf-collapse#rf-nav-item-3
              %ul.rf-menu__list
                - if current_user.is_admin?
                  = active_link_to admin_root_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-menu__item', class_active: 'rf-menu__item--active' do
                    %i.gavel.icon
                    = t('.admin')
                  = active_link_to institutions_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-menu__item', class_active: 'rf-menu__item--active' do
                    %i.landmark.icon
                    = t('.annuaire')
                  = active_link_to badges_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-menu__item', class_active: 'rf-menu__item--active' do
                    %i.tags.icon
                    = t('.badges')
                  = active_link_to inserts_partner_tools_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-menu__item', class_active: 'rf-menu__item--active' do
                    %i.wrench.icon
                    = t('.partner_tools')
                  = active_link_to new_user_invitation_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-menu__item', class_active: 'rf-menu__item--active' do
                    %i.gift.icon
                    = t('.invite')
                = active_link_to user_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-menu__item', class_active: 'rf-menu__item--active' do
                  %i.user.circle.icon
                  = t('.profile')
                = active_link_to destroy_user_session_path, method: :delete, rel: :nofollow, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-menu__item', class_active: 'rf-menu__item--active' do
                  %i.sign.out.icon
                  = t('.sign_out')

    - else
      .rf-header__body.rf-header__body--displayed
        .rf-header__brand
          = link_to root_path, class: 'rf-logo', title: t('.root_path_title') do
            %span.rf-logo__title
              République
              %br/
              française
        .rf-header__navbar
          .rf-service
            = link_to root_path, class: 'pde-logo', title: t('.root_path_title') do
              = image_tag 'logo-PDE.svg', style: 'width: 156px', alt: t('logos.pde')
        .rf-header__tools
          .rf-shortcuts
            %ul.rf-shortcuts__list
              %li.rf-shortcuts__item
                = active_link_to comment_ca_marche_path, class: 'rf-link' do
                  %i.subject.icon
                  = t('about.comment_ca_marche.title')
              %li.rf-shortcuts__item
                = link_to root_path, class: 'rf-link' do
                  %i.hand.point.right.outline.icon
                  = t('company_contact')
              = active_link_to tutoriels_path, class: 'rf-link', wrap_tag: :li, wrap_class: 'rf-shortcuts__item', class_active: 'rf-shortcuts__item--active' do
                %i.tools.icon.rf-mr-1w
                = t('user_pages.tutoriels.title')
              = active_link_to new_user_session_path, class: 'rf-link rf-fi-account-line rf-link--icon-left', wrap_tag: :li, wrap_class: 'rf-shortcuts__item', class_active: 'rf-shortcuts__item--active' do
                = t('sign_in')
