.ui.top.stackable.menu
  .ui.container
    = link_to root_path, class: 'item' do
      = image_tag 'place-des-entreprises-logo.png', style: 'width: 24px'
    - if user_signed_in?
      - if current_user.experts.present?
        = active_link_to needs_path, class: 'item' do
          %i.inbox.icon
          = t('needs.index.title')
          - cache([current_user, Need.all]) do
            - if current_user.needs_quo.exists?
              .ui.orange.empty.circular.horizontal.label
      - if policy(Diagnosis).index?
        = active_link_to diagnoses_path, class: 'item' do
          %i.tasks.icon
          = t('.diagnoses')
      - if current_user.is_admin?
        .ui.simple.dropdown.item
          = active_link_to solicitations_path do
            %i.comment.dots.outline.icon
            = t('solicitations.index.title')
          .menu
            = active_link_to badges_path, class: 'item' do
              %i.tags.icon
              = t('.badges')
        = active_link_to reminders_path, class: 'item' do
          %i.ambulance.icon
          = t('reminders.index.title')

      = active_link_to tutoriels_path, class: 'item' do
        %i.tools.icon
        = t('user_pages.tutoriels.title')

    - else # not signed in
      = active_link_to comment_ca_marche_path, class: 'item' do
        %i.subject.icon
        = t('about.comment_ca_marche.title')
      = link_to root_path, class: 'item' do
        %i.hand.point.right.outline.icon
        = t('company_contact')

    - if user_signed_in?
      .ui.simple.dropdown.right.item
        %i.user.outline.icon
        = t('.account')
        .menu
          - if user_signed_in?
            - if current_user.is_admin?
              = active_link_to admin_root_path, class: 'item' do
                %i.gavel.icon
                = t('.admin')
              = active_link_to institutions_path, class: 'item' do
                %i.landmark.icon
                = t('.annuaire')
              = active_link_to inserts_partner_tools_path, class: 'item' do
                %i.wrench.icon
                = t('.partner_tools')
              = active_link_to new_user_invitation_path, class: 'item' do
                %i.gift.icon
                = t('.invite')
            = active_link_to user_path, class: 'item' do
              %i.user.circle.icon
              = t('.profile')
            = link_to destroy_user_session_path, method: :delete, rel: :nofollow, class: 'item' do
              %i.sign.out.icon
              = t('.sign_out')

    - else # not signed in
      .right.menu
        = active_link_to tutoriels_path, class: 'item' do
          %i.tools.icon
          = t('user_pages.tutoriels.title')
        = active_link_to new_user_session_path, class: 'item' do
          %i.sign.in.icon
          = t('sign_in')
