- if user_signed_in?
  %header.fr-header{ role: "banner" }
    .fr-header__body.fr-header--hidden
      .fr-container
        .fr-header__body-row
          .fr-header__brand.fr-enlarge-link
            .fr-header__brand-top
              .fr-header__logo
                %p.fr-logo
                  République
                  %br/
                  française
              .fr-header__operator
                = link_to root_path, class: 'pde-logo', title: t('.root_path_title') do
                  = image_tag 'logo-PDE.svg', alt: t('logos.pde')
              .fr-header__navbar
                %button.fr-btn--menu.fr-btn#button-menu{ 'aria-controls': "modal-header-menu", 'aria-haspopup': "menu", title: t(".menu"), data: { 'fr-opened': false, controller: 'fr-header', action: 'click->fr-header#open' } }
                  = t(".menu")
          .fr-header__tools
            .fr-header__tools-links
              %ul.fr-links-group
    .fr-header__menu.fr-modal#modal-header-menu{ 'aria-labelledby': "button-menu" }
      .fr-container
        %button.fr-link--close.fr-link{ 'aria-controls': "modal-header-menu", data: { controller: 'fr-header', action: 'click->fr-header#close' } }
          = t(".close")
        .fr-header__menu-links
        %nav.fr-nav{ 'aria-label': t(".main_menu"), role: "navigation" }
          %ul.fr-nav__list
            %li.fr-nav__item
              = link_to root_path, class: 'pde-logo-sm', title: t('.root_path_title') do
                = image_tag 'place-des-entreprises-logo.png', alt: t('logos.pde')
            - if current_user.experts.present?
              = active_link_to needs_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active' do
                %span.ri-inbox-fill.fr-mr-1w
                = t('needs.index.title')
                - cache([current_user, Need.all]) do
                  - if current_user.needs_quo.exists?
                    .ui.orange.empty.circular.horizontal.label.fr-ml-1w
            - if policy(Diagnosis).index?
              = active_link_to diagnoses_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active' do
                %span.ri-list-check.fr-mr-1w
                = t('.diagnoses')
            - if current_user.is_admin?
              = active_link_to solicitations_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active' do
                %span.ri-message-2-line.fr-mr-1w
                = t('solicitations.index.title')
              = active_link_to reminders_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active' do
                %span.ri-feedback-line.fr-mr-1w
                = t('reminders.index.title')
          %ul.fr-nav__list
            = active_link_to tutoriels_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active' do
              %span.ri-tools-line.fr-mr-1w
              = t('user_pages.tutoriels.title')
            %li.fr-nav__item.fr-nav__item--align-right
              %button.fr-nav__btn{ 'aria-controls': "fr-nav-item-account", 'aria-expanded': "false", data: { controller: 'fr-dropdown', action: 'click->fr-dropdown#collapse' } }
                = t('.account')
              .fr-menu.fr-collapse#fr-nav-item-account
                %ul.fr-menu__list
                  - if current_user.is_admin?
                    = active_link_to admin_root_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                      %span.ri-auction-line.fr-mr-1w
                      = t('.admin')
                    = active_link_to institutions_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                      %span.ri-government-line.fr-mr-1w
                      = t('.annuaire')
                    = active_link_to badges_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                      %span.ri-price-tag-3-line.fr-mr-1w
                      = t('.badges')
                    = active_link_to inserts_partner_tools_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                      %span.ri-pencil-ruler-2-line.fr-mr-1w
                      = t('.partner_tools')
                    = active_link_to new_user_invitation_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                      %span.ri-user-add-line.fr-mr-1w
                      = t('.invite')
                  = active_link_to user_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                    %span.ri-user-line.fr-mr-1w
                    = t('.profile')
                  = active_link_to destroy_user_session_path, method: :delete, rel: :nofollow, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                    %span.ri-logout-box-r-line.fr-mr-1w
                    = t('.sign_out')

- else
  = render 'navbar_signin'
