%header.fr-header#header-navigation{ role: "banner" }
  .fr-header__body
    .fr-container
      .fr-header__body-row
        .fr-header__brand.fr-enlarge-link
          .fr-header__brand-top
            .fr-header__logo
              %p.fr-logo
                République
                %br/
                française
            .fr-header__operator
              = link_to root_path, class: 'pde-logo', title: t('application.navbar.root_path_title') do
                = image_tag 'logo-PDE.svg', alt: t('logos.pde'), class: 'logo-sign-in'
            .fr-header__navbar
              %button.fr-btn--menu.fr-btn#fr-btn-menu-mobile-2{ 'aria-controls': 'modal-870', 'aria-haspopup': 'menu', 'data-fr-opened': 'false', title: t("application.navbar.menu") }
                = t("application.navbar.menu")
        .fr-header__tools
          %nav.fr-header__tools-links{ role: 'navigation' }
            %ul.fr-links-group
              %li
                = active_link_to comment_ca_marche_path, class: 'fr-link' do
                  = t('about.comment_ca_marche.title')
              %li
                = link_to root_path, class: 'fr-link' do
                  = t('company_contact')
              %li
                = active_link_to tutoriels_path, class: 'fr-link' do
                  %span.ri-tools-line.fr-mr-1w{ 'aria-hidden': 'true' }
                  = t('user_pages.tutoriels.title')
              %li
                = link_to new_user_session_path, class: 'fr-link' do
                  %span.ri-tools-line.fr-mr-1w{ 'aria-hidden': 'true' }
                  = t('sign_in')
  / Navigation principale - à garder pour éviter erreurs js sur mobile
  .fr-header__menu.fr-modal#modal-870{ 'aria-labelledby': 'fr-btn-menu-mobile-2' }
    .fr-container
      %button.fr-link--close.fr-link{ 'aria-controls': 'modal-870' }= t("application.navbar.close")
      %nav.fr-header__menu-links{ role: 'navigation' }

