- if user_signed_in?
  %header.fr-header#header-navigation{ role: "banner" }
    .fr-header__body.fr-header--hidden
      .fr-container
        .fr-header__body-row
          .fr-header__brand.fr-enlarge-link
            .fr-header__brand-top
              .fr-header__logo
                %p.fr-logo
                  République
                  %br/
                  française
              .fr-header__operator
                = link_to root_path, class: 'pde-logo', title: t('.root_path_title') do
                  = image_tag 'logo-PDE.svg', alt: t('logos.pde')
              .fr-header__navbar
                %button.fr-btn--menu.fr-btn#fr-btn-menu-mobile-2{ 'aria-controls': 'modal-870', 'aria-haspopup': 'menu', 'data-fr-opened': 'false', title: t('.menu') }
                  = t(".menu")
    .fr-header__menu.fr-modal#modal-870{ 'aria-labelledby': 'fr-btn-menu-mobile-2' }
      .fr-container
        %button.fr-btn--close.fr-btn{ 'aria-controls': 'modal-870', title: t('.close') }= t('.close')
        .fr-header__menu-links
        %nav.fr-nav{ 'aria-label': t(".main_menu"), role: 'navigation' }
          %ul.fr-nav__list
            %li.fr-nav__item
              = link_to root_path, class: 'pde-logo-sm', title: t('.root_path_title') do
                = image_tag 'place-des-entreprises-logo.png', alt: t('logos.pde')
            - if current_user.experts.present?
              = active_link_to needs_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active' do
                %span.ri-inbox-fill.fr-mr-1w{ 'aria-hidden': 'true' }
                = t('needs.index.title')
                - cache([current_user, current_user.needs_quo_active.size]) do
                  - if current_user.needs_quo_active.size > 0
                    %span.ri-mail-unread-fill.orange.fr-ml-1w
            - if policy(User).manager?
              = active_link_to manager_needs_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active' do
                %span.ri-inbox-fill.fr-mr-1w{ 'aria-hidden': 'true' }
                = current_user.managed_antennes.many? ? t('.antennes_needs') : t('.antenne_needs')
              = active_link_to manager_stats_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active' do
                %span.ri-line-chart-line.fr-mr-1w{ 'aria-hidden': 'true' }
                = t('.stats')
            - if policy(:report).show_navbar?
              = active_link_to reports_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active' do
                %span.ri-file-text-line.fr-mr-1w{ 'aria-hidden': 'true' }
                = t('.reports')
            - if policy(User).admin?
              = active_link_to conseiller_solicitations_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active', data: { turbo: false } do
                %span.ri-message-2-line.fr-mr-1w{ 'aria-hidden': 'true' }
                = t('solicitations.index.title')
              = active_link_to reminders_needs_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active', data: { turbo: false } do
                %span.ri-feedback-line.fr-mr-1w{ 'aria-hidden': 'true' }
                = t('reminders.needs.navbar.title')
              = active_link_to inputs_reminders_experts_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active', data: { turbo: false } do
                %span.ri-award-fill.fr-mr-1w{ 'aria-hidden': 'true' }
                = t('reminders.experts.navbar.title')
          %ul.fr-nav__list
            = active_link_to tutoriels_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-nav__item', class_active: 'fr-nav__item--active' do
              %span.ri-tools-line.fr-mr-1w{ 'aria-hidden': 'true' }
              = t('user_pages.tutoriels.title')
            %li.fr-nav__item.fr-nav__item--align-right
              %button.fr-nav__btn{ 'aria-controls': "fr-nav-item-account", 'aria-expanded': "false" }
                = t('.account')
              .fr-menu.fr-collapse#fr-nav-item-account
                %ul.fr-menu__list
                  - if policy(User).admin?
                    = active_link_to admin_root_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                      %span.ri-auction-line.fr-mr-1w{ 'aria-hidden': 'true' }
                      = t('.admin')
                    = active_link_to institutions_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                      %span.ri-government-line.fr-mr-1w{ 'aria-hidden': 'true' }
                      = t('.annuaire')
                    = active_link_to badges_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                      %span.ri-price-tag-3-line.fr-mr-1w{ 'aria-hidden': 'true' }
                      = t('.badges')
                    = active_link_to conseiller_csv_exports_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                      %span.ri-folder-download-line.fr-mr-1w{ 'aria-hidden': 'true' }
                      = t('.csv_exports')
                    = active_link_to new_user_invitation_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                      %span.ri-user-add-line.fr-mr-1w{ 'aria-hidden': 'true' }
                      = t('.invite')
                  = active_link_to user_path, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                    %span.ri-user-line.fr-mr-1w{ 'aria-hidden': 'true' }
                    = t('.profile')
                  = button_to destroy_user_session_path, method: :delete, data: { turbo: false }, local: true, rel: :nofollow, class: 'fr-nav__link', wrap_tag: :li, wrap_class: 'fr-menu__item', class_active: 'fr-menu__item--active' do
                    %span.ri-logout-box-r-line.fr-mr-1w{ 'aria-hidden': 'true' }
                    = t('.sign_out')

- else
  = render 'navbar_signin'
