%header.fr-header#header-navigation{ role: "banner" }
  .fr-header__body
    .fr-container
      .fr-header__body-row
        .fr-header__brand.fr-enlarge-link
          .fr-header__brand-top
            .fr-header__logo
              %p.fr-logo
                = t('republique_francaise_html')
            .fr-header__navbar
              %button.fr-btn--menu.fr-btn#fr-btn-menu-mobile-2{ 'aria-controls': 'modal-mobile', 'aria-haspopup': 'menu', 'data-fr-opened': 'false', title: t("navbar.root_path_title") }
                = t("navbar.menu")
          .fr-header__service
            = link_to root_path do
              = image_tag 'logo-ce.png', alt: t('navbar.service_alt'), width: '320px'
        .fr-header__tools
          .fr-header__tools-links{ role: 'navigation' }
            %ul.fr-btns-group
              - if user_signed_in?
                %li
                  = link_to user_path, class: 'fr-btn' do
                    %span.ri-user-line.fr-mr-1w{ 'aria-hidden': 'true' }
                    = t('.profile')
                %li
                  = button_to destroy_user_session_path, method: :delete, data: { turbo: false }, rel: :nofollow, class: 'fr-btn' do
                    %span.ri-logout-box-r-line.fr-mr-1w{ 'aria-hidden': 'true' }
                    = t('.sign_out')
              - else
                %li
                  = link_to t('experts_login'), new_user_session_path, class: 'fr-btn fr-icon-lock-line'

  .fr-header__menu.fr-modal#modal-mobile{ 'aria-labelledby': 'fr-btn-menu-mobile-2' }
    .fr-container
      %button.fr-btn--close.fr-btn{ 'aria-controls': 'modal-mobile' }= t('navbar.close')
      .fr-header__menu-links{ 'aria-label': t('navbar.main_menu') }
      %nav.fr-nav{ 'aria-label': t("navbar.main_menu"), role: 'navigation' }
        - if user_signed_in?
          - if current_user.is_admin?
            = render "application/navbar/admin"
          - else
            = render "application/navbar/app"
        - else
          = render "application/navbar/public"
