.block-infos{ class: "#{'compact' if defined?(compact)}" }
  %ul.list-unstyled.fr-pl-1v
    - if prefix.present?
      %li.blue-pde
        %b= prefix
    %li.name
      %b= name.presence
    - if suffix.present?
      %li= suffix
    - if job.present?
      %li
        %span.picto.ri-contacts-book-line
        = job
    - if phone_number.present?
      %li
        %span.picto.ri-phone-line
        = link_to(phone_number, "tel:#{phone_number}")
    - if email.present?
      %li
        %span.picto.ri-mail-line
        = mail_to email, email
