.rf-col.block-infos
  %ul.list-unstyled.rf-pl-1v
    - if prefix.present?
      %li.blue
        %b= prefix
    %li.name
      %b= name.presence
    - if suffix.present?
      %li= suffix
    - if role.present?
      %li
        %span.picto.ri-contacts-book-line
        = role
    - if email.present?
      %li
        %span.picto.ri-mail-line
        = mail_to email
    - if phone_number.present?
      %li
        %span.picto.ri-phone-line
        = phone_number
