.block-infos{ class: "break-word#{' compact' if defined?(compact)}" }
  %ul.list-unstyled.fr-pl-1v
    - if prefix.present?
      %li.blue
        %b= prefix
    - unless defined?(name_outside)
      %li.name
        %b= name.presence
    - if suffix.present?
      %li= suffix
    - if job.present?
      %li
        %span.picto.ri-contacts-book-line{ 'aria-hidden': 'true' }
        = job
    - if phone_number.present?
      %li.li--marker.li--phone-line
        = link_to(phone_number, "tel:#{ERB::Util.url_encode(phone_number)}", class: 'fr-link')
    - if email.present?
      %li.li--marker.li--mail-line
        = mail_to email, email, class: 'fr-link'
