- chart_name = "chart-#{name}"

.fr-container.main-stat{ data: { controller: 'stats-charts' } }
  .header
    %h2.incipit
      %span.ri-award-fill{ 'aria-hidden': 'true' }
      = t('.title')
    - if data.count.present?
      %p.header_content
        %span.highlight= number_with_delimiter(data.count, locale: :fr, delimiter: ' ')
        = t("stats.series.#{name}.title")

    = I18n.t("stats.series.#{name}.subtitle_html").html_safe

  %p{ id: chart_name,
    'data-stats-charts-target': 'graph',
    'data-type': data.chart,
    'data-chart': data.chart,
    'data-months': data.all_months.map{ |d| I18n.l(d, format: :month) }.to_json.html_safe,
    'data-max-value': data.max_value,
    'data-series': data.series.to_json.html_safe,
    'data-format': data.format.to_json.html_safe,
    'data-subtitle': data.subtitle.to_json.html_safe,
    'data-colors': data.colors.to_json.html_safe }

  %section.fr-accordion
    %h3.fr-accordion__title
      %button.fr-accordion__btn{ 'aria-expanded': "false", 'aria-controls': 'accordion-main-stat' } Description détaillée
    .fr-collapse#accordion-main-stat
      .fr-table
        %table
          %caption= t("stats.series.#{name}.title_table")
          %thead
            %tr
              %th{ scope: "row", id: "#{chart_name}-#{t('stats.stats_chart.months')}" }= t('stats.stats_chart.months')
              - months = []
              - data.all_months.each do |month|
                - month_formated = I18n.l(month, format: :month)
                - months << month_formated
                %th{ scope: "col", id: "#{chart_name}-#{month_formated.parameterize}" }= month_formated
          %tbody
            - data.series.each do |serie|
              %tr
                %th{ scope: 'row', id: "#{chart_name}-#{serie[:name].parameterize}" }= serie[:name]
                - serie[:data].each_with_index do |data, index|
                  - next if months[index].nil?
                  %th{ headers: "#{chart_name}-#{serie[:name].parameterize} #{chart_name}-#{months[index]&.parameterize}" }= data
