.row
  - stats = Stats::Stats.new
  .stats-item
    %div
      = stats.companies.count
    .text
      = t('stats.series.companies')
  .stats-item
    %div
      = stats.needs.count
    .text
      = t('stats.series.needs.title')
  .stats-item
    %div
      = stats.advisors.count
    .text
      = t('stats.series.advisors.title')
