.row
  - stats = Stats::Mini::All.new
  .stats-item
    %div
      = stats.companies_by_employees.count
    .text
      = t('stats.series.companies_by_employees.ministats')
  .stats-item
    %div
      = stats.needs.count
    .text
      = t('stats.series.needs.title')
  .stats-item
    %div
      = stats.advisors.count
    .text
      = t('stats.series.advisors.title')
