.fr-grid-row.fr-py-17v
  - stats = Stats::Mini::All.new
  .fr-col-12.fr-col-md-4.text-center.stats-item
    %p.fr-m-md-0
      = stats.companies_by_employees
      %span.bold.fr-mt-2v
        = t('stats.series.companies_by_employees.ministats')
  .fr-col-12.fr-col-md-4.text-center.stats-item
    %p.fr-m-md-0
      = stats.needs
      %span.bold.fr-mt-2v
        = t('stats.series.needs.title')
  .fr-col-12.fr-col-md-4.text-center.stats-item
    %p.fr-m-md-0
      = stats.advisors
      %span.bold.fr-mt-2v
        = t('stats.series.advisors.title')
