.row
  - stats = Stats::Mini::All.new
  .stats-item
    %div
      = stats.companies_by_employees
    .text
      = t('stats.series.companies_by_employees.ministats')
  .stats-item
    %div
      = stats.needs
    .text
      = t('stats.series.needs.title')
  .stats-item
    %div
      = stats.advisors
    .text
      = t('stats.series.advisors.title')
