.fr-grid-row.fr-py-17v
  .fr-col-12.fr-col-md-4.text-center.stats-item
    %p.fr-m-md-0
      = number_with_delimiter(stats[:companies_by_employees], locale: :fr, delimiter: ' ')
      %span.bold.fr-mt-2v
        = t('stats.series.companies_by_employees.ministats')
  .fr-col-12.fr-col-md-4.text-center.stats-item
    %p.fr-m-md-0
      = number_with_delimiter(stats[:needs], locale: :fr, delimiter: ' ')
      %span.bold.fr-mt-2v
        = t('stats.series.needs.title')
  .fr-col-12.fr-col-md-4.text-center.stats-item
    %p.fr-m-md-0
      = number_with_delimiter(stats[:users], locale: :fr, delimiter: ' ')
      %span.bold.fr-mt-2v
        = t('stats.series.advisors.title')
