- data = stats.send(name.to_sym)
- chart_name = "chart-#{name}"

.card.stats
  .card__content
    %h3
      %span= data.count
      %span= t("stats.series.#{name}")
    %p{ id: chart_name }

:javascript
  (function() {
    var container = "#{chart_name}"
    var months = #{ data.all_months.map{ |d| I18n.l(d, format: :month) }.to_json.html_safe }
    var max_value = #{ data.max_value }
    var series = #{ data.series.to_json.html_safe }
    var colors = #{ data.colors.to_json.html_safe }

    stats_charts(container, months, max_value, series, colors);
  })()
