- chart_name = "chart-#{name}"

.fr-col-12.card.stats
  .card__content.white-bg.fr-p-3w
    %h2
      - if data.count.present?
        %span= number_with_delimiter(data.count, locale: :fr)
      = t("stats.series.#{name}.title")

    %p.fr-m-0{ id: chart_name,
      'data-chart': data.chart,
      'data-months': data.all_months.map{ |d| I18n.l(d, format: :month) }.to_json.html_safe,
      'data-max-value': data.max_value,
      'data-series': data.series.to_json.html_safe,
      'data-format': data.format.to_json.html_safe,
      'data-subtitle': data.subtitle.to_json.html_safe,
      'data-colors': data.colors.to_json.html_safe }

    %section.fr-accordion
      %h3.fr-accordion__title
        %button.fr-accordion__btn{ 'aria-expanded': "false", 'aria-controls': "accordion-#{name}" }= t('.detailed_description')
      .fr-collapse{ id: "accordion-#{name}" }
        .fr-table
          %table
            %caption= t("stats.series.#{name}.title_table")
            %thead
              %tr
                %th{ scope: "row", id: "#{chart_name}-#{t('.months')}" }= t('.months')
                - months = []
                - data.all_months.each do |month|
                  - month_formated = I18n.l(month, format: :month)
                  - months << month_formated
                  %th{ scope: "col", id: "#{chart_name}-#{month_formated.parameterize}" }= month_formated
                - total_col_id = "#{chart_name}-#{t('.sum')}"
                %th{ scope: "col", id: total_col_id }= t('.sum')
            %tbody
              - data.series.each do |serie|
                %tr
                  - row_id = "#{chart_name}-#{serie[:name].parameterize}"
                  %th{ scope: 'row', id: row_id }= serie[:name]
                  - serie[:data].each_with_index do |data, index|
                    - next if months[index].nil?
                    %th{ headers: "#{row_id} #{chart_name}-#{months[index]&.parameterize}" }
                      = data
                  %th{ headers: "#{row_id} #{total_col_id}" }= serie[:data].sum
