- cache("stats_params-#{stats.params}", expires_in: 1.hour) do
  .panel#stats-params
    = form_with url: stats_path, method: :get, skip_enforcing_utf8: true do
      .row.form__group
        - options = { include_blank: t('all_choices'), onchange: 'this.form.submit();' }
        %div
          = label_tag(t('activerecord.models.territory.one'))
          = select_tag(:territory,
            options_from_collection_for_select(Territory.bassins_emploi.order(:name), :id, :name, stats.params.territory),
            options.dup)
        %div
          = label_tag(t('activerecord.models.institution.one'))
          = select_tag(:institution,
            options_from_collection_for_select(Institution.all.order(:name), :id, :name, stats.params.institution),
            options.dup)
