.fr-grid-row.fr-py-3w.fr-mb-3w.white-bg#stats-params
  .fr-col-12.fr-col-md-6.fr-col-offset-md-3
    = form_with url: route, method: :get, skip_enforcing_utf8: true, local: true do |f|
      .fr-select-group
        - options = { include_blank: t('all_choices'), class: 'fr-select' }
        = f.label :territory, t('.region'), class: 'fr-label'
        = f.select :territory,
        options_from_collection_for_select(Territory.regions.order(:name), :id, :name, stats.params.territory), {},
        options.dup

      - if policy(Stats::All).team?
        .fr-select-group
          = f.label :institution, t('activerecord.models.institution.one'), class: 'fr-label'
          = f.select :institution,
            options_from_collection_for_select(Institution.not_deleted.order(:name), :id, :name, stats.params.institution), {},
            options.dup
        .fr-select-group
          = f.label :iframe, t('.iframes'), class: 'fr-label'
          = f.select :iframe,
            options_from_collection_for_select(Landing.not_archived.iframes.order(:title), :id, :title, stats.params.iframe), {},
            options.dup
        .fr-input-group
          = f.label :pk_campaign, t('.campaign'), class: 'fr-label'
          = f.text_field :pk_campaign, value: stats.params.pk_campaign, class: 'fr-input'
        .fr-input-group
          = f.label :pk_kwd, t('.keywords'), class: 'fr-label'
          = f.text_field :pk_kwd, value: stats.params.pk_kwd, class: 'fr-input'
      -# TODO les datepicker ne fonctionnent pas
      .fr-input-group
        = f.label :start_date, t('.start_date'), class: 'fr-label'
        .fr-input-wrap.fr-fi-calendar-line
          = f.date_field :start_date, { value: stats.params.start_date, class: 'fr-input' }
      .fr-input-group
        = f.label :end_date, t('.end_date'), class: 'fr-label'
        .fr-input-wrap.fr-fi-calendar-line
          = f.date_field :end_date, { value: stats.params.end_date, class: 'fr-input' }
      .fr-input-group
        = f.submit t('.search'), class: 'fr-btn'
        - if stats.params.table.count > 2
          = link_to t('.clear_search'), request.fullpath.split('?').first, class: 'fr-btn fr-btn--secondary'
