- meta title: t('.title')
- content_for :head do
  - javascript_include_tag 'highcharts', data: { turbolinks_track: 'reload' }

.hero
  .hero__container
    %h1.hero__white-background
      = t('.title')
    = form_with(url: stats_path, method: :get) do
      .row
        %div
          %h3= label_tag(t('activerecord.models.territory.one'), nil, class: 'hero__white-background')
          = collection_select(:stats,
            :territory, Territory.bassins_emploi.order(:name), :id, :name,
            { include_blank: t('.all') },
            { class: 'ui dropdown', onchange: 'this.form.submit();' })
        %div
          %h3= label_tag(t('activerecord.models.institution.one'), nil, class: 'hero__white-background')
          = collection_select(:stats,
            :institution, Institution.all.order(:name), :id, :name,
            { include_blank: t('.all') },
            { class: 'ui dropdown', onchange: 'this.form.submit();' })

%section.section.section-grey
  .container.container-full
    - names = [:companies, :needs, :matches, :advisors, :experts]
    .grid
      - names.each do |name|
        = render partial: 'stats_chart', locals: { stats: @stats, name: name }
