- meta title: t('.title')
- content_for :head do
  - javascript_include_tag 'highcharts', data: { turbolinks_track: 'reload' }

%section.section.section-white.landing
  .container.container
    %h1= t('.title')

= render 'pages/breadcrumbs', title: t('.title')

%section.section.section-grey#section-stats
  .container.container-full
    - cache("stats_charts-#{@stats.params}", expires_in: 1.hour) do
      = render 'stats_params', stats: @stats, route: stats_path
      #stats-charts
        - names = [:companies, :taking_care]
        - names.each do |name|
          = render 'stats_chart', stats: @stats, name: name
