- meta title: t('.title')
- content_for :head do
  - javascript_include_tag 'highcharts'


.ui.text.container
  %h1.ui.header= t('.title')
  .ui.form
    = form_with(url: stats_path, method: :get) do
      .ui.fields
        .ui.field
          = label_tag t('activerecord.models.territory.one')
          = collection_select(:stats,
            :territory, Territory.bassins_emploi.order(:name), :id, :name,
            { include_blank: t('.all') },
            { class: 'ui dropdown', onchange: 'this.form.submit();' })
        .ui.field
          = label_tag t('activerecord.models.institution.one')
          = collection_select(:stats,
            :institution, Institution.all.order(:name), :id, :name,
            { include_blank: t('.all') },
            { class: 'ui dropdown', onchange: 'this.form.submit();' })


- names = [:diagnosed_needs, :transmitted_needs, :companies, :matches, :advisors, :experts]
.ui.container
  .ui.two.column.stackable.grid
    - names.each do |name|
      .ui.column
        = render partial: 'stats_chart', locals: { stats: @stats, name: name }
