- meta title: t('.title')

%section.section.section-white.landing
  .container.container
    %h1= t('.title')

= render 'pages/breadcrumbs', title: t('.title')

%section.section
  .container.container-full
    %h2.section__title= t('.users_stats')
    %h4.section__subtitle= link_to t('.download'), users_stats_path(format: 'csv')
    %p
    = render partial: 'stats_table', locals: { stats: @users_stats }

%section.section
  .container.container-full
    %h2.section__title= t('.activity_stats')
    %h4.section__subtitle= link_to t('.download'), activity_stats_path(format: 'csv')
    %p
    = render partial: 'stats_table', locals: { stats: @activity_stats }

%section.section
  .container.container-full
    %h2.section__title= t('.cohorts_stats')
    %h4.section__subtitle= link_to t('.download'), cohorts_stats_path(format: 'csv')
    %p
    = render partial: 'stats_table', locals: { stats: @cohorts_stats }
