- meta title: t('.title')
- content_for :header, render('header', title: t('.title'), antennes: @antennes)
- content_for :menu, render('menu', antennes: @antennes, current_antenne: @antenne)

.fr-container.reports
  - if @quarters.present?
    - @quarters.each do |quarter|
      %section.fr-mt-6w
      %h2= t('.interval', start_month: I18n.l(quarter.first, format: :month_name), end_month: I18n.l(quarter.last, format: :month_name), year: quarter.last.year).capitalize
      - matches_report = @antenne.quarterly_reports.category_matches.find_by(start_date: quarter.first)
      - stats_report = @antenne.quarterly_reports.category_stats.find_by(start_date: quarter.first)
      - if matches_report.present?
        .fr-tile.fr-enlarge-link.fr-tile--horizontal.fr-mt-2w
          .fr-tile__body
            %h2.fr-h4.fr-tile__title
              = link_to download_report_path(matches_report, antenne_id: @antenne.id, format: :xlsx), class: 'fr-tile__link' do
                = matches_report.file.filename
          .fr-tile__img
            %span.ri-file-download-line
      - if stats_report.present?
        .fr-tile.fr-enlarge-link.fr-tile--horizontal.fr-mt-2w
          .fr-tile__body
            %h2.fr-h4.fr-tile__title
              = link_to download_report_path(stats_report, format: :xlsx), class: 'fr-tile__link' do
                = stats_report.file.filename
          .fr-tile__img
            %span.ri-file-download-line
  - else
    .fr-alert.fr-alert--info
      %p.fr-alert__title= t('.no_export_available')
