.fr-container.reports
  %h1= t('.title')
  .fr-text--lead.fr-mb-8w= t('.sub_title', name: current_user.antenne.name)
  - if @antenne.quarterly_reports.present?
    - @antenne.quarterly_reports.each do |quarterly_report|
      .fr-tile.fr-enlarge-link.fr-tile--horizontal.fr-mt-4w
        .fr-tile__body
          %h2.fr-h4.fr-tile__title
            = link_to download_matches_report_path(quarterly_report, format: :xlsx), class: 'fr-tile__link' do
              = t('.interval', start_month: I18n.l(quarterly_report.start_date, format: :month_name), end_month: I18n.l(quarterly_report.end_date, format: :month_name), year: quarterly_report.end_date.year)
        .fr-tile__img
          %span.ri-file-download-line
      -# = link_to download_antenne_stats_reports_path(start_date: quarter.first, end_date: quarter.last, format: :xlsx), class: '' do
      -#   = t('reports.download_antenne_stats.xslx_filename', antenne: current_user.antenne.name.parameterize, number: TimeDurationService.find_quarter(quarter.first.month, 'to_number'), year: quarter.last.year)
  - else
    .fr-alert.fr-alert--info
      %p.fr-alert__title= t('.no_export_available')
