- title = t('.title', antenne: @antenne.name)
- meta title: title
- content_for :header, render('header', base: t('application.navbar.reports'), title: title)
- content_for :menu, render('menu', antenne_id: @antenne.id)
- content_for :search, render('search', filters: @filters, antenne: @antenne)

- if @quarters.present?
  .fr-table.fr-table--beige-gris-galet.fr-accordions-group
    - @quarters.each_with_index do |quarter, index|
      - stats_report = @antenne.activity_reports.category_stats.find_by(start_date: quarter.first)
      - if stats_report.present?
        %section.fr-accordion
          %h3.fr-accordion__title
            %button.fr-accordion__btn{ 'aria-controls': "accordion-quarter-#{index}", 'aria-expanded': index == 0 ? 'true' : 'false' }
              #{t('.interval', start_month: I18n.l(quarter.first, format: :month_name), end_month: I18n.l(quarter.last, format: :month_name), year: quarter.last.year).capitalize}
          .fr-collapse{ id: "accordion-quarter-#{index}" }
            .fr-card.fr-enlarge-link.fr-card--download
              .fr-card__body
                .fr-card__content
                  %h4.fr-card__title
                    = link_to download_report_path(stats_report, format: :xlsx), class: 'fr-download__link' do
                      = t('.download')
                  .fr-card__end
                    %p.fr-card__detail
                      = t('.file_infos', weight: stats_report.file.byte_size / 1000) if stats_report.file.present? # Pour les tests

- else
  .fr-my-4v
    .fr-alert.fr-alert--info{ role: "alert" }
      %p.fr-alert__title= t('.no_export_available')
