.actions.dropdown.success-main-525-bg
  %button.button
    = t('.prepare_diagnosis_retry')
    %span.ri-arrow-down-s-line.fr-ml-1w{ 'aria-hidden': 'true' }
  %ul.dropdown-content.fr-menu__list
    %li.fr-menu__item
      = link_to prepare_diagnosis_conseiller_solicitation_path(solicitation), class: 'fr-nav__link', method: :post, 'data-turbo': false do
        = t('.start_auto_diagnosis')
        %span.ri-arrow-right-s-line.fr-ml-1w{ 'aria-hidden': 'true' }
    %li.fr-menu__item
      - manual_diagnosis_path = solicitation.has_valid_siret? ? show_with_siret_companies_path(solicitation.siret, solicitation: solicitation.id) : new_conseiller_diagnosis_path(solicitation: solicitation.id)
      = link_to manual_diagnosis_path, class: 'fr-nav__link', 'data-turbo': false do
        = t('.start_manual_diagnosis')
        %span.ri-arrow-right-s-line.fr-ml-1w{ 'aria-hidden': 'true' }
