.ui.compact.inverted.menu
  - if solicitation.diagnosis.nil?
    - if solicitation.may_prepare_diagnosis?
      - if solicitation.prepare_diagnosis_errors.present?
        - error_text = solicitation.prepare_diagnosis_errors.full_messages.to_sentence
        .ui.item.error-425-bg{ title: error_text }
          .ui.icon
            %span.ri-error-warning-line{ 'aria-hidden': 'true' }
            = t('.prepare_diagnosis_errors', count: solicitation.prepare_diagnosis_errors.count)
        .ui.item.dropdown.success-main-525-bg
          = t('.prepare_diagnosis_retry')
          %span.ri-arrow-down-s-line.fr-ml-1w{ 'aria-hidden': 'true' }
          .ui.menu
            = link_to prepare_diagnosis_conseiller_solicitation_path(solicitation), class: 'item', method: :post do
              = t('.start_auto_diagnosis')
              %span.ri-arrow-right-s-line.fr-ml-1w{ 'aria-hidden': 'true' }
            = link_to new_diagnosis_path(solicitation: solicitation.id), class: 'item' do
              = t('.start_manual_diagnosis')
              %span.ri-arrow-right-s-line.fr-ml-1w{ 'aria-hidden': 'true' }
      - else
        .ui.item.success-main-525-bg.fr-p-0.fr-px-1w
          = link_to prepare_diagnosis_conseiller_solicitation_path(solicitation), class: 'ui item', method: :post do
            %span.ri-rocket-2-fill.fr-mr-1w{ 'aria-hidden': 'true' }
            = t('.start_auto_diagnosis')
            %span.ri-arrow-right-s-line.fr-ml-1w{ 'aria-hidden': 'true' }
    - else
      .ui.item.success-main-525-bg.fr-p-0.fr-px-1w
        = link_to new_diagnosis_path(solicitation: solicitation.id), class: 'ui item' do
          = t('.start_diagnosis')
          %span.ri-arrow-right-s-line.fr-ml-1w{ 'aria-hidden': 'true' }
  - else
    .ui.item.success-main-525-bg.fr-p-0.fr-px-1w
      = link_to_diagnosis(solicitation.diagnosis)

  .ui.item.dropdown.warning-main-525-bg#generic-emails
    = t('.send_email')
    %span.ri-mail-add-fill.fr-ml-1w{ 'aria-hidden': 'true' }
    .ui.menu
      - emails_types = Solicitation::GENERIC_EMAILS_TYPES
      - emails_types.each do |email_type|
        = link_to t(email_type, scope: 'solicitations.solicitation_actions.emails'),
          emails_solicitation_generic_path(email_type: email_type, id: solicitation.id, query: params[:query]),
          method: :post, class: 'item'

  .ui.item.dropdown.grey-medium-bg
    %span.ri-list-settings-fill{ 'aria-hidden': 'true' }
    .ui.menu
      = status_action_link(solicitation, 'canceled', %w[item]) if solicitation.may_cancel?
      .item.show-feedbacks-form{ 'data-feedbackable': "#{solicitation.id}" }= t('feedbacks.add')
