%ul
  - if solicitation.campaign.present?
    %li #{t('activerecord.attributes.solicitation.mtm_campaign')} : #{link_to_tracked_campaign(solicitation)}
  - if solicitation.provenance_detail.present?
    %li #{t('activerecord.attributes.solicitation.mtm_kwd')} : « #{link_to_tracked_ad(solicitation)} »
  - if solicitation.api_calling_url.present?
    %li #{t('activerecord.attributes.solicitation.api_calling_url')} : « #{link_to solicitation.api_calling_url} »
  - if solicitation.from_relaunch?
    %li #{t('activerecord.attributes.solicitation.relaunch')} : #{solicitation.relaunch}
