.footer-home
  .footer-inner-content
    %ul.footer-columns
      %li.footer-column
        %ul.footer-logos
          %li
            = link_to 'http://www.gouvernement.fr' do
              = image_tag 'logo-marianne.svg', class: 'footer-logo footer-logo-marianne'
          %li
            = link_to 'https://beta.gouv.fr' do
              = image_tag 'betagouvfr.svg', class: 'footer-logo footer-betagouvfr'

      %li.footer-column
        %ul.footer-links
          %li.footer-link
            = link_to 'DINSIC', 'http://www.modernisation.gouv.fr', class: 'footer-link'
          %li.footer-link
            = link_to t('.know_more'), about_home_index_path

      %li.footer-column
        %ul.footer-links
          %li.footer-link
            = link_to 'CGU', cgu_home_index_path, class: 'footer-link'
          %li.footer-link
            = link_to t('contact_us'), team_home_index_path, class: 'footer-link'
