.footer-home
  .footer-inner-content
    %ul.footer-columns
      %li.footer-column
        %ul.footer-logos
          %li
            = link_to 'http://www.gouvernement.fr' do
              = image_tag 'logo-marianne.svg', class: 'footer-logo footer-logo-marianne'
          %li
            = link_to 'https://beta.gouv.fr' do
              = image_tag 'betagouvfr.svg', class: 'footer-logo footer-betagouvfr'

      %li.footer-column
        %ul.footer-links
          %li.footer-link
            = link_to 'DINSIC', 'http://www.modernisation.gouv.fr', class: 'footer-link'
          %li.footer-link
            = link_to t('find_out_more'), a_propos_path

      %li.footer-column
        %ul.footer-links
          %li.footer-link
            = link_to t('cgu'), cgu_a_propos_path, class: 'footer-link'
          %li.footer-link
            = link_to t('contact_us'), qui_sommes_nous_a_propos_path, class: 'footer-link'
          %li.footer-link
            = link_to t('usage_stats'), stats_path, class: 'footer-link'
