%header.ui.menu.large.responsive-top-fixed
  .ui.container
    %a.item{ href: root_path }
      = image_tag 'reso-logo-simple-dark.png', style: 'width: 60px'
    - if user_signed_in?
      %a.item{ href: diagnoses_path }
        %i.tasks.icon
        = t('.diagnoses')
      - if current_user.relays.present? || current_user.experts.present?
        %a.item{ href: besoins_path }
          %i.bullseye.icon
          = t('needs.index.title')
    - else # not signed in
      %a.item{ href: about_home_index_path }
        %i.question.icon
        = t('.know_more')
    %a.item{ href: '/ManuelRESO.pdf' }
      %i.clipboard.outline.icon
      = t('.interview_guide')
    - if user_signed_in?
      .ui.simple.dropdown.right.item#nav-menu
        %i.user.outline.icon
        = t('.account')
        .menu
          - if user_signed_in?
            - if current_user.is_admin?
              %a.item{ href: admin_root_path }
                %i.gavel.icon
                = t('.admin')
            %a.item{ href: profile_path }
              %i.user.circle.icon
              = t('.profile')
            %a.item{ href: destroy_user_session_path, 'data-method': :delete, rel: :nofollow }
              %i.sign.out.icon
              = t('.sign_out')
    - else # not signed in
      .right.menu
        %a.item{ href: new_user_registration_path }
          %i.handshake.outline.icon
          = t('sign_up')
        %a.right.item{ href: new_user_session_path }
          %i.sign.in.icon
          = t('sign_in')
