.ui.fixed.menu
  .ui.container
    = active_link_to conseillers_path, class: 'item' do
      = image_tag 'place-des-entreprises-logo.png', style: 'width: 24px'
    - if user_signed_in?
      = active_link_to diagnoses_path, class: 'item' do
        %i.tasks.icon
        = t('.diagnoses')
      - if current_user.experts.present?
        = active_link_to needs_path, class: 'item' do
          %i.bullseye.icon
          = t('needs.index.title')
      - if current_user.is_admin?
        = active_link_to reminders_path, class: 'item' do
          %i.ambulance.icon
          = t('reminders.index.title')

    - else # not signed in
      = active_link_to qui_sommes_nous_path, class: 'item' do
        %i.subject.icon
        = t('about.qui_sommes_nous.title')
    = link_to '/Guide_entretien_Place_des_entreprises.pdf', class: 'item' do
      %i.clipboard.outline.icon
      = t('.interview_guide')

    - if user_signed_in?
      .ui.simple.dropdown.right.item#nav-menu
        %i.user.outline.icon
        = t('.account')
        .menu
          - if user_signed_in?
            - if current_user.is_admin?
              = active_link_to admin_root_path, class: 'item' do
                %i.gavel.icon
                = t('.admin')
              = active_link_to new_user_invitation_path, class: 'item' do
                %i.gift.icon
                = t('.invite')
            = active_link_to profile_path, class: 'item' do
              %i.user.circle.icon
              = t('.profile')
            = link_to destroy_user_session_path, method: :delete, rel: :nofollow, class: 'item' do
              %i.sign.out.icon
              = t('.sign_out')

    - else # not signed in
      .right.menu
        = link_to root_path, class: 'item' do
          %i.hand.point.right.outline.icon
          = t('company_contact')
        = active_link_to new_user_session_path, class: 'item' do
          %i.sign.in.icon
          = t('sign_in')
