%header.ui.stackable.menu.responsive-top-fixed
  .ui.container
    .header.item
      = link_to root_path do
        = image_tag 'reso-logo-simple.png', style: 'width: 60px'
    - if user_signed_in?
      .item
        = link_to diagnoses_path do
          = semantic_icon('tasks')
          = t('.diagnoses')
      - if current_user.relays.present?
        .item
          = link_to diagnoses_relays_path do
            = semantic_icon('dashboard')
            = t('.relay_dashboard')
    - else
      .item
        = link_to about_home_index_path do
          = semantic_icon('question mark')
          = t('.know_more')
    .right.menu
      - if !user_signed_in?
        .item
          = link_to new_user_session_path do
            = semantic_icon('sign in')
            = t('sign_in')
        .item
          = link_to new_user_registration_path do
            = semantic_icon('sign in')
            = t('sign_up')
      - if user_signed_in?
        - if current_user.is_admin?
          .item
            = link_to admin_dashboard_path do
              = semantic_icon('dashboard')
              = t('.dashboard')
        .item
          = link_to profile_path do
            = semantic_icon('user')
            = t('.profile')
        .item
          = link_to destroy_user_session_path, method: :delete do
            = semantic_icon('sign out')
            = t('.sign_out')
