%header.ui.top.fixed.menu
  .ui.container
    .header.item
      = link_to root_path do
        = semantic_icon('home')
        = t('.home')
    .header.item
      = link_to companies_path do
        = semantic_icon('building outline')
        = t('.search')