.ui.top.fixed.menu#visit-subnavbar
  .ui.container
    .header.item
      = link_to @visit, visit_path(@visit)
    .item
      = link_to company_visit_path(@visit) do
        = semantic_icon('building outline')
        = t('visits.index.company_info')
    .item
      = link_to new_visit_diagnosis_path(visit_id: @visit.id) do
        = semantic_icon('sitemap')
        = t('visits.index.analysis_tool')
