!!!
%html
  = render 'head'

  %body
    = render 'navbar'
    = render 'environment_ribbon'

    - if current_staff_user
      = render 'user_impersonate'

    %main
      .ui.main.text.container
        = render 'flashes'
        = yield

    = render 'footer'
