!!!
%html
  %head
    = metamagic site: t('app_name'), title: [:title, :site]
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', data: {turbolinks_track: 'reload'}
    = javascript_include_tag 'application', data: {turbolinks_track: 'reload'}
    = yield :head
  %body
    = render partial: 'layouts/navbar'
    = render partial: 'layouts/environment_ribbon'

    %main.site-content
      .ui.main.text.container
        = render partial: 'layouts/flashes'
        = yield

    = render partial: 'layouts/footer'

    = yield :body_bottom
