-# See also auto_full_screen_layout.rb
!!!
%html
  = render 'head'

  %body
    = render 'environment_ribbon'
    = render 'user_impersonate'

    -# By default, link_to uses the current request path; we just remove the fullscreen param.
    = link_to({}, class: 'button-exit-fullscreen') do
      .ui.small.circular.icon.button
        %i.ri-close-line.icon{ title: t('exit_fullscreen') }
    %main.application_fullscreen
      = yield
