!!!
%html{ "data-fr-reset" => "", :lang => "fr" }
  = render 'head'

  %body
    = render 'navbar'
    = render 'environment_ribbon'
    = render 'user_impersonate'

    %main.fr-py-6w
      = render 'flashes'

      = content_for?(:content) ? yield(:content) : yield # :content is used by sub-layouts (e.g. side_menu)

    = render 'footer'
