!!!
%html{ "data-fr-reset" => "", :lang => "fr" }
  = render 'head'

  %body
    = render 'navbar'
    = render 'bandeau_info'
    = render 'environment_ribbon'
    = render 'user_impersonate'

    %main.fr-py-5w{ role: 'main' }
      = render 'shared/flashes'

      = content_for?(:content) ? yield(:content) : yield # :content is used by sub-layouts (e.g. side_menu)

    = render 'footer'
