!!!
%html
  = render partial: 'layouts/head'

  %body
    = render partial: 'layouts/navbar'
    = render partial: 'layouts/environment_ribbon'

    - if current_staff_user
      = render 'user_impersonate/header'

    - unless Rails.env.test?
      = javascript_pack_tag 'common/babel-polyfill'
    %main
      .ui.main.text.container
        = render partial: 'layouts/flashes'
        = yield

    = render partial: 'layouts/footer'
