!!!
%html
  = render partial: 'layouts/head'

  %body
    = render partial: 'layouts/navbar'
    = render partial: 'layouts/environment_ribbon'

    %main
      .ui.main.text.container
        = render partial: 'layouts/flashes'
        = yield

    = render partial: 'layouts/footer'
    = yield :body_bottom
