!!!
%html{ "data-fr-reset" => "", :lang => "fr" }
  = render 'head'

  %body
    = render 'shared/skiplinks'
    = render 'navbar'
    = render 'bandeau_info'
    = render 'environment_ribbon'
    = render 'user_impersonate'

    %main.fr-py-5w#content{ role: 'main' }
      -# ajout d'un id pour turbo_stream
      #flash
        = render 'shared/flashes'

      = content_for?(:content) ? yield(:content) : yield # :content is used by sub-layouts (e.g. side_menu)
  - if user_signed_in?
    = render 'footer'
  - else
    = render 'pages/footer', footer_landing_themes: @footer_landing_themes, footer_landing: @footer_landing unless in_iframe?
