!!!
%html
  %head
    = metamagic site: t('app_name'), title: [:title, :site]
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', data: {turbolinks_track: 'reload'}
    = javascript_include_tag 'application', data: {turbolinks_track: 'reload'}
  %body
    = render 'layouts/navbar'
    .ui.main.text.container
      = render 'layouts/flashes'
      = yield