!!!
%html{ "data-rf-reset" => "", :lang => "fr" }
  = render 'head'

  %body
    = render 'navbar'
    = render 'environment_ribbon'
    = render 'user_impersonate'

    %main.rf-py-6w{ class: @wide_layout ? 'wide-container' : '' }
      -# TODO: @wide_layout is a bit of a hack.

      = render 'flashes'

      = content_for?(:content) ? yield(:content) : yield # :content is used by sub-layouts (e.g. side_menu)

    = render 'footer'
