!!!
%html
  %head
    %title= t('app_name')
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', data: {turbolinks_track: 'reload'}
    = javascript_include_tag 'application', data: {turbolinks_track: 'reload'}
  %body
    = render partial: 'layouts/navbar'
    = render partial: 'layouts/environment_ribbon'

    %main.site-content
      .ui.main.container
        = render partial: 'layouts/flashes'
        = yield

    = render partial: 'layouts/footer'