!!!
%html
  = render partial: 'layouts/head'

  %body
    %header.ui.top.fixed.menu
      .ui.container
        .header.item
          = image_tag 'reso-logo-simple.png', style: 'width: 60px'

    = render partial: 'layouts/environment_ribbon'

    %main
      .ui.main.text.container
        = render partial: 'layouts/flashes'
        = yield

    %footer.ui.container
