!!!
%html
  = render partial: 'layouts/head'

  %body
    = render partial: 'layouts/navbar'
    = render partial: 'layouts/environment_ribbon'

    - if current_staff_user
      = render 'user_impersonate/header'

    %main
      .ui.main.home-layout
        .ui.container
          = render partial: 'layouts/flashes'
        = yield

    = render partial: 'layouts/footer_home'
