!!!
%html{ lang: 'fr' }
  %head
    - if request.path == root_path
      = metamagic
    - else
      = metamagic site: t('app_name'), title: %i[title site], separator: ' | '
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = canonical_tags
    = csrf_meta_tags
    = csp_meta_tag
    = tarteaucitron_script
    = tarteaucitron_script_pages
    = stylesheet_link_tag 'pages', data: { 'turbo-track': 'reload' }
    %link{ rel: 'stylesheet', media: 'all', href: '/assets/@gouvfr/dsfr/dist/dsfr.min.css' }
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css'
    = javascript_include_tag 'gouvfr-module', type: 'module', data: { 'turbo-track': 'reload' }, nonce: true
    = javascript_include_tag 'gouvfr-nomodule', type: 'text/javascript', nomodule: '', data: { 'turbo-track': 'reload' }, nonce: true
    = javascript_include_tag 'pages', data: { 'turbo-track': 'reload' }, type: "module", nonce: true
    = javascript_include_tag 'https://browser.sentry-cdn.com/7.35.0/bundle.min.js', crossorigin: 'anonymous', integrity: "sha384-uwCOEtT/vtuzGz5QiQB6J1L3YFYSbznHZGi3B5Vc6+bnyGS3O9nnDfh6dCvLrQ7X", data: { 'turbo-track': 'reload' }, nonce: true
    - if in_iframe?
      %meta{ name: 'robots', content: 'noindex' }
      = render 'shared/iframe_resizer'
      - if defined?(@landing) && @landing.present?
        %style= @landing.custom_css

    = render 'favicon'
    = yield :head
    = sentry_script
    = matomo_script

  %body
    = render 'shared/skiplinks'
    = render 'pages/navbar' unless in_iframe?
    = render 'environment_ribbon'
    = render 'user_impersonate'
    = render 'shared/flashes'
    %main#content{ role: 'main' }
      = content_for?(:content) ? yield(:content) : yield # :content is used by sub-layouts

    = render 'pages/footer' unless in_iframe?
