!!!
%html{ lang: 'fr' }
  %head
    - if request.path == root_path
      = metamagic
    - else
      = metamagic site: t('app_name'), title: %i[title site], separator: ' | '
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ content: 'ubw64jnbovi5zrxx26iycursr1b0jf', name: 'facebook-domain-verification' }
    = canonical_tags
    = csrf_meta_tags
    = csp_meta_tag
    = tarteaucitron_script
    = stylesheet_link_tag 'pages'
    = stylesheet_pack_tag 'pages', media: 'all'
    = javascript_include_tag 'pages'
    = javascript_pack_tag 'pages'
    = javascript_include_tag 'https://browser.sentry-cdn.com/6.2.3/bundle.min.js', crossorigin: 'anonymous', integrity: "sha384-n6TNefxJMUTqJauZtoDyDhAs5Ng0VzcMTy0/afmyZoVZpaQ2clYR1LBa4SqhVySs"
    - if defined? @landing
      %style= @landing.custom_css
    - if in_iframe?
      %meta{ name: 'robots', content: 'noindex' }

    = render 'favicon'
    = yield :head
    = sentry_script
    = matomo_script

  %body
    = render 'navbar' unless in_iframe?
    = render 'environment_ribbon'
    = render 'user_impersonate'
    = render 'shared/flashes_pages'
    %main
      = yield
    = render 'footer' unless in_iframe?

