-# Custom Title / Side Menu / Content layout
  Based on the main application layout

- content_for :content do
  .fr-container.fr-pb-6w
    = yield :header

    .fr-grid-row.fr-mt-5w
      .fr-col-md-3
        %nav.fr-sidemenu.fr-sidemenu--sticky{ "aria-label" => "Menu latéral" }
          .fr-sidemenu__inner
            %button.fr-sidemenu__btn{ "aria-controls" => "fr-sidemenu-wrapper", "aria-expanded" => "false", :hidden => "" }= t('.mobile_menu')
            .fr-collapse#fr-sidemenu-wrapper
              = yield :menu

      .fr-col-md-9
        = yield

- @wide_layout = true
= render template: 'layouts/application'
