- content_for :content do
  = yield :header
  .fr-container.multistep-form.fr-py-5w#section-formulaire
    = yield :form_header
  .fr-container.multistep-form
    = yield
  .fr-container
    = yield :form_footer
  = yield :footer

= render template: 'layouts/pages'
