!!!
%html
  = render partial: 'layouts/head'

  %body
    = render partial: 'layouts/navbar'
    = render partial: 'layouts/environment_ribbon'
    = render partial: 'layouts/visit_subnavbar'

    %main
      .ui.main.text.container.with_visit_subnavbar
        = render partial: 'layouts/flashes'
        = yield

    = render partial: 'layouts/footer'
    = yield :body_bottom