%td.expert-owner-button-cell{ colspan: 3 }
  :ruby
    default_url_params = {
      action: 'update_status',
      match_id: match.id,
      access_token: params[:access_token]
    }
    status_quo_link_params = default_url_params.merge(status: :quo)
    taking_care_link_params = default_url_params.merge(status: :taking_care)
    done_link_params = default_url_params.merge(status: :done)
    not_for_me_link_params = default_url_params.merge(status: :not_for_me)
    data = { remote: true, method: :patch }

  - if match.status_quo?
    = link_to t('.i_take_care'), taking_care_link_params, data: data, class: expert_button_classes(%w[green])
    = link_to t('.not_for_me'), not_for_me_link_params, data: data, class: expert_button_classes(%w[red])

  - elsif match.status_taking_care?
    = link_to t('.dont_take_care_any_more'), status_quo_link_params, data: data, class: expert_button_classes(%w[basic])
    = link_to t('.done'), done_link_params, data: data, class: expert_button_classes(%w[green])
    = link_to t('.not_for_me'), not_for_me_link_params, data: data, class: expert_button_classes(%w[red])

  - elsif match.status_done?
    = link_to t('.dont_take_care_any_more'), status_quo_link_params, data: data, class: expert_button_classes(%w[basic])
    = link_to t('.ongoing'), taking_care_link_params, data: data, class: expert_button_classes(%w[basic])
    = link_to t('.not_for_me'), not_for_me_link_params, data: data, class: expert_button_classes(%w[basic red])

  - elsif match.status_not_for_me?
    = link_to t('.dont_take_care_any_more'), status_quo_link_params, data: data, class: expert_button_classes(%w[basic])
    = link_to t('.ongoing'), taking_care_link_params, data: data, class: expert_button_classes(%w[basic])
    = link_to t('.done'), done_link_params, data: data, class: expert_button_classes(%w[basic green])
