%td.expert-width
  %strong= selected_assistance_expert.expert_full_name
  %br
  - if selected_assistance_expert.assistance_expert
    - expert = selected_assistance_expert.assistance_expert.expert
    - if expert.phone_number.present?
      = expert.phone_number
      %br
    = mail_to expert.email
%td
  #{t('activerecord.models.institution.one')} : #{selected_assistance_expert.expert_institution_name}
  %br
  #{t('activerecord.models.assistance.one')} : #{selected_assistance_expert.assistance_title}
%td.expert-status-cell
  - if selected_assistance_expert.status_quo?
    %i.icon.clock
    = t('.waiting_for_answer')
  - elsif selected_assistance_expert.status_taking_care?
    %i.icon.checkmark
    = t('.he_takes_care')
  - elsif selected_assistance_expert.status_done?
    %i.icon.checkmark
    = t('.done')
  - elsif selected_assistance_expert.status_not_for_me?
    %i.icon.remove
    = t('.not_for_him')
