-# Rendered inside a ui.modal
.header
  = t('.title')
.scrolling.content
  = form_with model: expert, class: 'ui form' do |f|
    -# Hide the submit button, we use a label in the .actions row (outside of the form element)
    = f.submit '', id: 'subjects-form-submit', style: 'display: none'

    = render 'experts/subjects_messages', expert: expert
    = render 'experts/subjects_fields', f: f, expert: expert
.actions
  = label_tag 'subjects-form-submit', t('confirm'), class: 'ui green approve button'
