- if !expert.can_edit_own_subjects
  %p
    %i.blue.ri-information-fill
    = t('.contact_us_to_change_subjects_html', email: ENV['APPLICATION_EMAIL'])

- additional_field_class = expert.can_edit_own_subjects ? '' : 'disabled'

- institution_subjects = expert.institution.available_subjects
- institution_subjects.each do |theme, institutions_subjects|
  %h2.fr-h3= theme.label
  - institutions_subjects.each do |institution_subject|
    - expert_subject = ExpertSubject.where(expert: expert, institution_subject: institution_subject).first_or_initialize
    .ui.field.institution-subject{ class: additional_field_class }
      .ui.checkbox
        = f.fields_for :experts_subjects, expert_subject do |i|
          = i.hidden_field :institution_subject_id
          = i.check_box :_destroy, { checked: expert_subject.persisted? }, '0', '1'
          = i.label :_destroy do
            %h4.ui.header
              = institution_subject.subject
              .sub.header= institution_subject.description

          .subject_container
            = i.text_area :intervention_criteria, placeholder: t('.intervention_criteria_placeholder'), rows: 3

