%h2.fr-h5= t('.antenne_within_institution', institution: @user.institution.name)
.fr-highlight.fr-mb-6w
  = @user.antenne.name

%h2.fr-h5= t('attributes.advisors.other')
.fr-highlight.fr-mb-6w
  %ul.list-unstyled.fr-p-0
    - @user.antenne.advisors.not_deleted.each do |advisor|
      %li.fr-mb-1v.person-list-item
        - if advisor == @user
          %span.ri-user-fill.blue{ title: t('users.thats_you'), 'aria-hidden': 'true' }
        - else
          %span.ri-user-fill.fr-mr-1v{ 'aria-hidden': 'true' }
        = advisor.full_name
        %button.fr-btn.fr-icon-question-line.fr-btn--tertiary.fr-btn--sm.fr-ml-2v{ 'aria-controls': "modal-user-#{advisor.id}", 'data-fr-opened': 'false', title: t('application.modal.see_person_coordinates') }

        = render 'application/person_modal', person: advisor

%h2.fr-h5= t('attributes.teams.other')
.fr-highlight
  %ul.list-unstyled.fr-p-0
    - @user.antenne.experts.not_deleted.teams.each do |team|
      - members = team.users.not_deleted
      %li.fr-mb-1v.fr-mb-0.fr-mb-0
        - if @user.in?(members)
          %span.blue.ri-team-fill{ 'aria-hidden': 'true' }
        - else
          %span.ri-team-fill{ 'aria-hidden': 'true' }
        = team.full_name
        %br
        = members.pluck(:full_name).to_sentence
