= form_with model: @user, url: user_path, local: true, method: :put, class: 'ui form' do |f|
  = render "devise/shared/error_messages", resource: @user
  .required.field
    = f.label :current_password
    = f.password_field :current_password, required: true, autocomplete: 'current-password'
  .required.field
    = f.label :password, t('devise.passwords.edit.new_password')
    - placeholder = t('devise.password_minimum_characters', count: @minimum_password_length)
    = f.password_field :password, required: true, placeholder: placeholder, autocomplete: 'new-password'
  .required.field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, required: true, autocomplete: 'new-password'
  .actions
    = f.submit t('devise.passwords.edit.change_own_password'), class: 'rf-btn btn-green'
