= form_with model: @user, url: update_password_user_path, method: :put do |f|
  = render "devise/shared/error_messages", resource: @user

  .fr-mb-2w
    = render 'password_tips'

  .required.fr-input-group{ 'data-controller': "password-visibility" }
    .justify-between.vertical-centered
      = f.label :current_password, class: 'fr-label'
      = render 'visibility_password_button'
    = f.password_field :current_password, required: true, autocomplete: 'current-password', class: 'fr-input', data: { 'password-visibility-target': "input" }

  .required.fr-input-group{ 'data-controller': "password-visibility" }
    .justify-between.vertical-centered
      = f.label :password, t('devise.passwords.edit.new_password'), class: 'fr-label'
      = render 'visibility_password_button'
    %span.fr-hint-text= t('devise.password_minimum_characters')
    = f.password_field :password, required: true, autocomplete: 'new-password', class: 'fr-input', data: { 'password-visibility-target': "input" }

  .required.fr-input-group{ 'data-controller': "password-visibility" }
    .justify-between.vertical-centered
      = f.label :password_confirmation, class: 'fr-label'
      = render 'visibility_password_button'
    = f.password_field :password_confirmation, required: true, autocomplete: 'new-password', class: 'fr-input', data: { 'password-visibility-target': "input" }

  .actions
    = f.submit t('devise.passwords.edit.change_own_password'), class: 'fr-btn'
